<div class="btn-group btn-group-justified" data-toggle="buttons">
    <label class="btn btn-primary" input type="radio"
           ng-model="filterModel.search.provisionStatus" btn-radio="'Provisioned'" uncheckable
           ng-change="filterModel.filterProvisionStatus(true)">{{'host-filter-provisioned'
        | translate}}
    </label>
    <label class="btn btn-primary" input type="radio"
           ng-model="filterModel.search.provisionStatus" btn-radio="'Not Provisioned'" uncheckable
           ng-change="filterModel.filterProvisionStatus(false)">{{'host-filter-not-provisioned' | translate}}
    </label>
</div>
<div class="control-group">
    <h3>OS Type</h3>
</div>
<div class="btn-group btn-group-justified btn-group-vertical">
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.HP_UX"
               ng-init="filterModel.operatingSystemType.HP_UX=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-hp-unix' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.SOLARIS"
               ng-init="filterModel.operatingSystemType.SOLARIS=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-oracle-solaris' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.AIX"
               ng-init="filterModel.operatingSystemType.AIX=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-ibm-aix' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.TRU64"
               ng-init="filterModel.operatingSystemType.TRU64=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-tru64-unix' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.WIN"
               ng-init="filterModel.operatingSystemType.WIN=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-windows' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.WIN_EX"
               ng-init="filterModel.operatingSystemType.WIN_EX=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-windows-ex' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.LINUX"
               ng-init="filterModel.operatingSystemType.LINUX=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-linux' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.VMWARE"
               ng-init="filterModel.operatingSystemType.VMWARE=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-vmware' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.VMWARE_EX"
               ng-init="filterModel.operatingSystemType.VMWARE_EX=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-vmware-ex' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.NETWARE"
               ng-init="filterModel.operatingSystemType.NETWARE=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-netware' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.operatingSystemType.OVMS"
               ng-init="filterModel.operatingSystemType.OVMS=false"
               ng-change="filterModel.filterOperatingSystem()">{{'host-filter-ovms' | translate}}
    </label>
</div>


<div class="control-group">
    <h3>{{'replication-group-label-technology' | translate}}</h3>
</div>

<div class="btn-group btn-group-justified btn-group-vertical">
    <label class="btn btn-primary">
        <input type="checkbox" ng-model="dataModel.snapshotex" ng-init="dataModel.snapshotex=false" data-toggle="buttons-checkbox"
               ng-change="filterModel.filterDpType()">{{'common-filter-snapshot-ex' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" ng-model="dataModel.snapshotfc" ng-init="dataModel.snapshotfc=false" data-toggle="buttons-checkbox"
               ng-change="filterModel.filterDpType()">{{'common-filter-snapshot-fc' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" ng-model="dataModel.snapshot" ng-init="dataModel.snapshot=false" data-toggle="buttons-checkbox"
               ng-change="filterModel.filterDpType()">{{'common-filter-snapshot' | translate}}
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" ng-model="dataModel.cloneNow" ng-init="dataModel.cloneNow=false" data-toggle="buttons-checkbox"
               ng-change="filterModel.filterDpType()">{{'common-filter-clone' | translate}}
    </label>
</div>