<div class="summary-container-default" id="top-info">
    <div class="tiles-view nopadding">
            <div class="meta-tile-short single">
                <div class="tile-row margin-tile lower-top-4">
                    <div class="header-data pull-left">
                        <p class="smallMarginTop header-label">{{ 'enabled' | translate}} <span class="header-value">{{ dataModel.evs.isEnabled }}</span></p>
                        <p class="header-label">{{ 'status' | translate}} <span class="header-value">{{ dataModel.evs.status }}</span></p>
                    </div>
                    <div class="header-data pull-left">
                        <p class="header-label">{{ 'port' | translate}} <span class="header-value">{{ dataModel.evs.interfaceAddresses[0].port }}</span></p>
                        <p class="header-label">{{ 'blade' | translate}} <span class="header-value">{{ dataModel.evs.clusterNodeId }}</span></p>
                    </div>
                    <div class="header-data pull-left">
                        <p class="header-label">{{ 'file-server-ip-range' | translate}} <span class="header-value" title="{{ dataModel.evs.listOfIps }}"></span></p>
                        <p ng-repeat="address in dataModel.evs.interfaceAddresses">{{address.ip}}-{{address.prefixLength}}</p>
                    </div>
                </div>
                <div class="footer-row margin-tile related-resources">
                    <div class="center-content btn-group-justified" role="group">
                        <a class="btn btn-default" ng-click="summaryModel.storageSystemOnClick()"><span class="icon icon-md icon-storage-system"> {{'common-storage-system' | translate}} {{dataModel.storageSystemId}}</a>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>

