<!--Control group: File Server Status Input-->
<div class="control-group">
    <h3 title="{{ 'evs-tooltip' | translate }}">{{'file-server-enabled-filter' | translate}}
        <span class="read-only" type="text" ng-if="dataModel.search.isEnabled === null">{{'all' | translate}}</span>
        <span class="read-only" type="text" ng-if="dataModel.search.isEnabled === true">{{'yes' | translate}}</span>
        <span class="read-only" type="text" ng-if="dataModel.search.isEnabled === false">{{'no' | translate}}</span>
    </h3>

    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="dataModel.search.isEnabled" btn-radio="true" title="{{'yes' | translate}}"
                   uncheckable>{{'yes' | translate}}
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="dataModel.search.isEnabled" btn-radio="false" title="{{'no' | translate}}"
                   uncheckable>{{'no' | translate}}
            </label>
        </div>
    </div>

    <h3 title="{{ 'evs-tooltip' | translate }}">{{'file-server-status-filter' | translate}}
        <span class="read-only" type="text" ng-if="dataModel.search.isOnline === null">{{'all' | translate}}</span>
        <span class="read-only" type="text" ng-if="dataModel.search.isOnline === true">{{'file-server-online' | translate}}</span>
        <span class="read-only" type="text" ng-if="dataModel.search.isOnline === false">{{'file-server-offline' | translate}}</span>
    </h3>
    
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="dataModel.search.isOnline" btn-radio="true" title="{{'file-server-online' | translate}}"
                   uncheckable>{{'file-server-online' | translate}}
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="dataModel.search.isOnline" btn-radio="false" title="{{'file-server-offline' | translate}}"
                   uncheckable>{{'file-server-offline' | translate}}
            </label>
        </div>
    </div>
</div>

<!--Control group: File Server Blade Input-->
<div class="control-group">
    <h3>{{'blade' | translate}}
        <span class="read-only" type="text" ng-if="dataModel.search.blade === null">{{'all' | translate}}</span>
        <span class="read-only" type="text" ng-if="dataModel.search.blade">{{'blade' | translate}} {{dataModel.search.blade}}</span>
    </h3>

    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="dataModel.search.blade" btn-radio="1" title="{{'blade' | translate}} 1"
                   uncheckable>{{'blade' | translate}} 1
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="dataModel.search.blade" btn-radio="2" title="{{'blade' | translate}} 2"
                   uncheckable>{{'blade' | translate}} 2
            </label>
        </div>
    </div>
</div>

<!--Control group: Storage System Input - Show only for All EVS page-->
<div class="control-group" ng-show="!dataModel.storageSystemId">
    <h3>{{'common-storage-systems' | translate}}<span class="read-only" type="text">{{ dataModel.search.filterStorageSystem || 'All'}}</span></h3>

    <div class="btn-group-toggle" role="group" >
        <select class="inline btn-group-justified"
                ng-model="dataModel.search.filterStorageSystem"
                ng-options="storageSystem for storageSystem in dataModel.storageSystemIds">
            <option value="" selected>Select Storage System</option>
        </select>

    </div>
</div>

