<div class="summary-container-condensed">
        <div class="meta-tile-short half">
            <div class="tile-row resource-info">
                <div class="resource-icon icon icon-pools icon-lg-md">
                    <a role="button" ng-repeat="icon in dataModel.filePool.getIcons()" ng-click="icon.onClick()" ng-attr-title="{{icon.title | translate }}" ng-attr-class="btn icon-btn icon icon-tiny {{icon.icon}}"></a>
                </div>
                
                <div class="label-value-container resource-data">
                    <h2>{{ dataModel.filePool.metaData[1].title }}</h2>
                    <p class="label">{{ 'file-pool-number-file-systems' | translate}}</p>
                    <p class="value">{{dataModel.numOfFileSystems}}</p>
                    <p class="label">{{ 'file-pool-chunk-size' | translate}}</p>
                    <p class="value">{{dataModel.filePool.chunkSize.size}} <span>{{dataModel.filePool.chunkSize.unit}}</span></p>
                </div>                 
            </div>
            <div class="tile-row related-resources">
                <div class="btn-group btn-group-justified" role="group">
                    <div ng-repeat="link in dataModel.filePool.displayLinks" class="btn-group" role="group">
                        <a class="btn btn-light btn-default include-icon pool" data-toggle="button" aria-pressed="false" ng-href="{{link.href}}" title="{{link.label}}">{{link.label}}</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="bdv two-thirds">
            <bar-data-visualization ng-model="dataModel.filePool"></bar-data-visualization>
        </div>
</div>

