<div class="summary-container-condensed">
        <div class="meta-tile-short third">
            <div class="tile-row resource-info">
                <div class="label-value-container resource-data">
                    <p class="label">{{ 'windows' | translate}}</p>
                    <p class="value">{{dataModel.windows}}</p>
                </div>
                <div class="label-value-container resource-data">
                    <p class="label">{{ 'linux' | translate}}</p>
                    <p class="value">{{dataModel.linux}}</p>
                </div>
                <div class="label-value-container resource-data">
                    <p class="label">{{ 'format' | translate}}</p>
                    <p class="value">{{dataModel.format}}</p>
                </div>
                <div class="label-value-container resource-data">
                    <p class="label">{{ 'file-expansion-limit' | translate}}</p>
                    <p class="value">{{dataModel.expansionLimit.size}} {{dataModel.expansionLimit.unit}}</p>
                </div>
            </div>
            <div class="tile-row related-resources controls-row" role="group">
                <div class="btn-group btn-group-justified">   
                <a class="btn btn-default" ng-href="{{dataModel.fileSystem.displayLinks[0].href}}" title="{{dataModel.fileSystem.displayLinks[0].label}}"
                       ng-if="dataModel.fileSystem.displayLinks[0]">
                        <span class="icon icon-sm {{dataModel.fileSystem.displayLinks[0].icon}}"></span> {{dataModel.fileSystem.displayLinks[0].label}}</a>

                    <a class="btn btn-default" ng-href="{{dataModel.fileSystem.displayLinks[1].href}}" title="{{dataModel.fileServer.name}}@{{dataModel.fileServerIp}}"
                       ng-if="dataModel.fileSystem.displayLinks[1]">
                        <span class="icon icon-sm {{dataModel.fileSystem.displayLinks[1].icon}}" ></span> {{dataModel.fileServer.name}}@{{dataModel.fileServerIp}}</a>
                    </div>
            </div>
        </div>
    <bar-data-visualization class="two-thirds" ng-model="dataModel.fileSystem.barData" bottom-legend="true"></bar-data-visualization>
</div>



