<div class="summary-container-default">
    <div class="alert-panel third" ng-if="summaryModel">
        <host-dp-alert ng-model="summaryModel.alerts.dp.count" alert-level="summaryModel.alerts.dp.level"></host-dp-alert>
    </div>
    <div class="tile meta-tile third">
        <div class="label-value-container">
            <p class="label">{{'hosts-ip-address' | translate}}</p>
            <p class="value" ng-if="summaryModel.server.ipAddress === ''"><i>{{'hosts-ip-address-not-specified' | translate }}</i></p>
            <p class="value" ng-if="summaryModel.server.ipAddress !== ''">{{summaryModel.server.ipAddress}}</p>
        </div>
        <div class="label-value-container">
            <p class="label">{{'hosts-name' | translate}}</p>
            <p class="value">{{summaryModel.server.serverName}}</p>
        </div>
        <div class="label-value-container">
            <p class="label">{{'hosts-protocol' | translate}}</p>
            <p class="value">{{summaryModel.server.protocol | translate}}</p>
        </div>
        <div class="label-value-container" ng-if="summaryModel.server.protocol==='FIBRE'">
            <p class="label">{{'hosts-wwn' | translate}}</p>
            <p class="value" title="{{summaryModel.server.displayWWNs.toString()}}">
                {{summaryModel.server.displayWWNs.toString()}}
            </p>
        </div>
        <div class="label-value-container" ng-if="summaryModel.server.protocol==='ISCSI'">
            <p class="label">{{'hosts-iscsi-name' | translate}}</p>
            <p class="value" title="{{summaryModel.server.displayIscsiNames.toString()}}">
                {{summaryModel.server.displayIscsiNames.toString()}}
            </p>
        </div>
        <div class="label-value-container" ng-if="summaryModel.server.protocol==='ISCSI'">
            <p class="label">{{'hosts-chap-user' | translate}}</p>
            <p class="value">{{summaryModel.server.chapUser}}</p>
        </div>
        <div class="label-value-container" ng-if="summaryModel.server.protocol==='ISCSI'">
            <p class="label">{{'hosts-mutual-chap-user' | translate}}</p>
            <p class="value">{{summaryModel.server.mutualChapUser}}</p>
        </div>
    </div>
    <div class="tile data-viz-container third">
            <array-polar-data-visualization class="utilization dataviz-legend" ng-model="summaryModel.arrayDataVisualizationModel" no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
    </div>
</div>

