<div class="nested-row-container expanded" >
    <div class="nested-row-tile column-headers">
        <div class="col-md-2 cell text-resize ellipsis"
             title="{{'host-volume-list-port' | translate}}">
            <p class="sort-column-header">{{'host-volume-list-port' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis"
             title="{{'host-volume-list-wwns' | translate}}">
            <p class="sort-column-header">{{'host-volume-list-wwns' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis"
             title="{{'host-volume-list-lun-id' | translate}}">
            <p class="sort-column-header">{{'host-volume-list-lun-id' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis"
             title="{{'host-volume-list-host-mode' | translate}}">
            <p class="sort-column-header">{{'host-volume-list-host-mode' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis"
             title="{{'host-volume-list-host-mode-options' | translate}}">
            <p class="sort-column-header">{{'host-volume-list-host-mode-options' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis"
             title="{{'host-volume-list-host-group' | translate}}">
            <p class="sort-column-header">{{'host-volume-list-host-group' | translate}}</p>
        </div>
    </div>
    <div class="nested-row-tile" ng-repeat="hostGroup in item.hostGroups">
        <div class="col-md-2 cell text-resize ellipsis" title="{{hostGroup.storagePortId}}">
            <p>{{hostGroup.storagePortId}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{hostGroup.hbaWwns.join(',')}}">
            <p>{{hostGroup.hbaWwns.join(',')}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{hostGroup.lun}}">
            <p>{{hostGroup.lun}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{hostGroup.hostMode}}">
            <p>{{hostGroup.hostMode}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{hostGroup.hostModeOptions.join(' ')}}">
            <p>{{hostGroup.hostModeOptions.join(' ')}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{hostGroup.name}}">
            <p>{{hostGroup.name}}</p>
        </div>
    </div>
</div>