<div class="summary-container-default stage">
    <div class="row clearfix" id="top-info" ng-if="summaryModel"> 
        <div class="col-md-5">   
            <host-dp-alert ng-model="summaryModel.alerts.dp.count" alert-level="summaryModel.alerts.dp.level"></host-dp-alert>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="data-viz polar-data-viz-size-fix">
                <array-polar-data-visualization class="utilization" ng-model="summaryModel.arrayDataVisualizationModel" no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
            </div>
        </div>
    </div>
<div class="row resource-row resource-row-1 details-tiles" ng-if="summaryModel">
    <!--Tile pool label-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="tile resource-detail-tile">
            <div class="header-row inverse-header">
                <h4>{{'hosts-ip-address' | translate}}</h4>
            </div>
            <div class="tile-tile v-center">
                <h3 class="centered-content" title="{{summaryModel.server.ipAddress}}">{{summaryModel.server.ipAddress}}</h3>
            </div>
        </div>
    </div>
    <!--Tile pool type-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="tile resource-detail-tile">
            <div class="header-row inverse-header">
                <h4>{{'hosts-name' | translate}}</h4>
            </div>
            <div class="tile-tile v-center">
                <h3 class="centered-content" title="{{summaryModel.server.serverName}}">{{summaryModel.server.serverName}}</h3>
            </div>
        </div>
    </div>
    <!--Tile pool tier-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="tile resource-detail-tile">
            <div class="header-row inverse-header">
                <h4>{{'hosts-wwn' | translate}}</h4>
            </div>
            <div class="tile-tile v-center">
                <h3 class="centered-content ellipsis" title="{{summaryModel.server.wwpns.toString()}}">{{summaryModel.server.wwpns.toString()}}</h3>
            </div>
        </div>
    </div>
</div>
</div>

