<div class="summary-container-default" id="top-info" ng-if="dataModel">
    <div class="alert-panel third">
        <!--Alerts Panel-->
        <hardware-alert ng-model="dataModel.alerts.hardware.count" class="tile alert"
                        alert-level="dataModel.alerts.hardware.level"></hardware-alert>
    </div>
    <!--PG Summary-->
    <div class="table-responsive two-thirds">
            <table class="table table-bordered" data-sort-name="totalCapacity">
                <thead>
                <tr>
                    <th data-field="diskType" data-align="right" data-sortable="true">{{'parity-groups-summary-manage-disk-type' | translate}}<span class="caret" ng-show=""></span></th>
                    <th data-field="pgCount" data-align="center" data-sortable="true">{{'parity-groups-summary-manage-parity-groups' | translate}}<span class="caret" ng-show=""></span></th>
                    <th data-field="totalCapacity" data-sortable="true">{{'parity-groups-summary-manage-total-capacity' | translate}}<span class="caret" ng-show=""></span></th>
                    <th data-field="numberOfAvailableDisks" data-sortable="true">{{'parity-groups-summary-available-disks' | translate}}</th>
                    <th data-field="availableSpareCount" data-sortable="true">{{'parity-groups-summary-manage-available-spares' | translate}}<span class="caret" ng-show=""></span>
                        <div class="btn-group icon-btn-group-toggle pull-right" ng-if="!dataModel.hideAddTile && dataModel.storageSystem.accessible">
                            <a href="#/storage-systems/{{dataModel.storageSystemId}}/parity-groups/disk-manage" id="manage-spare-disk"
                   class="btn icon-btn icon-sm icon-settings" title="{{'parity-groups-summary-manage-spare-disk' | translate}}"></a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pgSum in summaryModel">
                    <td>{{pgSum.diskConfig}}</td>
                    <td>{{pgSum.pgCount}}</td>
                    <td>{{pgSum.pgCapacity.size}} {{pgSum.pgCapacity.unit}}</td>
                    <td>{{pgSum.numberOfAvailableDisks}}</td>
                    <td>{{pgSum.numberOfExistingHotSpares}}</td>
                </tr>
                </tbody>
            </table> 
    </div>
</div>