<div class="summary-container-default" id="top-info" ng-if="dataModel" style="height: 200px">
    <!--PG Summary-->
    <div class="table-responsive two-thirds" style="height: inherit">
        <table class="table table-bordered" data-sort-name="totalCapacity">
            <thead>
            <tr>
                <th data-field="resource" data-align="right" data-sortable="true">
                    {{'physical-storage-system-summary-resource' | translate}}<span class="caret" ng-show=""></span>
                </th>
                <th data-field="defined" data-align="center" data-sortable="true">
                    {{'physical-storage-system-summary-defined' | translate}}<span class="caret" ng-show=""></span>
                </th>
                <th data-field="undefined" data-sortable="true">
                    {{'physical-storage-system-summary-undefined' | translate}}<span class="caret" ng-show=""></span>
                </th>
                <th data-field="info" data-sortable="true">
                    {{'physical-storage-system-summary-info' | translate}}<span class="caret" ng-show=""></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in summaryModel">
                <td>{{item.resource}}</td>
                <td>{{item.defined}}</td>
                <td>{{item.undefined}}</td>
                <td>{{item.info}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>