<div class="control-group">
    <h3>{{'replication-group-label-technology' | translate}}<span class="read-only" type="text">{{ filterModel.filter.type || 'ALL'}}</span></h3>
</div>
<div class="btn-group btn-group-toggle btn-group-justified">
    <div class="btn-group">
        <label class="btn btn-default" ng-model="filterModel.filter.type"
           ng-change="filterModel.newSortOrFilterRequest(filterModel.queryGenerationFunctions.setTypeSearch)"
           btn-radio="'SNAPSHOT'" uncheckable>
        {{'replication-groups-filter-snapshot' | translate}}
        </label>
    </div>
    <div class="btn-group">
        <label class="btn btn-default" ng-model="filterModel.filter.type"
           ng-change="filterModel.newSortOrFilterRequest(filterModel.queryGenerationFunctions.setTypeSearch)"
           btn-radio="'CLONE'" uncheckable>
        {{'replication-groups-filter-clone' | translate}}
        </label>
    </div>
</div>