<div class="summary-container-default stage flex-row" id="top-info" ng-if="summaryModel">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs alert-panel alert-panel-md">
        <!--Alerts Panel-->
        <div class="tile alert-panel" id="alert-panel">
            <hsa-alert-tile service="summaryModel.dpAlert"></hsa-alert-tile>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="data-viz polar-data-viz-size-fix">
            <hsa-array-polar-data-visualization class="utilization dataviz-breakdown-legend"
                                                ng-model="summaryModel.arrayDataVisualizationModel"
                                                no-legend-box="true" only-break-down="true">
            </hsa-array-polar-data-visualization>
        </div>
    </div>
</div>
