<div class="summary-container-default stage flex-row" id="top-info" ng-if="summaryModel">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs alert-panel alert-panel-md">

        <!--Alerts Panel-->
        <div class="row alert-panel" id="alert-panel">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <dp-alert-secondary-volumes></dp-alert-secondary-volumes>
            </div>
        </div>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1">

        </div>
        <div class="col-lg-10 col-md-10 col-sm-5 col-xs-5" ng-if="dataModel.chartData.length">
            <donut-chart></donut-chart>
        </div>
        <div class="alert alert-warning" role="alert" ng-if="!dataModel.chartData.length" class="col-lg-10 col-md-10 col-sm-5 col-xs-5">
            <h1>{{'no-data-protected' | translate}}</h1>
        </div>
    </div>
</div>