<div class="list-view panel-collapse in nested-row-container expanded"  infinite-scroll='dataModel.loadMoreChildren(item)'
     infinite-scroll-distance='0' infinite-scroll-disabled="!item.opened || dataModel.busyLoadingMoreGadChildren">
    <div class="nested-row-tile column-headers">
        <div class="col-md-2 cell">&nbsp;</div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{'repliaction-group-volume-list-pvolid' | translate}}">
            <p class="sort-column-header">{{'repliaction-group-volume-list-pvolid' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{'repliaction-group-volume-list-svolid' | translate}}">
            <p class="sort-column-header">{{'repliaction-group-volume-list-svolid' | translate}}</p>
        </div>
        <div class="col-md-1 cell text-resize ellipsis" title="{{'repliaction-group-volume-list-pvol-status' | translate}}">
            <p class="sort-column-header">{{'repliaction-group-volume-list-pvol-status' | translate}}</p>
        </div>
        <div class="col-md-1 cell text-resize ellipsis" title="{{'repliaction-group-volume-list-pvol-status' | translate}}">
            <p class="sort-column-header">{{'repliaction-group-volume-list-svol-status' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{'gad-pvol-storage-system-id' | translate}}">
            <p class="sort-column-header">{{'gad-pvol-storage-system-id' | translate}}</p>
        </div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{'gad-svol-storage-system-id' | translate}}">
            <p class="sort-column-header">{{'gad-svol-storage-system-id' | translate}}</p>
        </div>
    </div>

    <div class="nested-row-tile" ng-repeat="vp in item.volumePairs track by $index">
        <div class="col-md-2 cell">
        </div>
        <a class="col-md-2 cell text-resize" ng-click="vp.launchPvol()" ng-if="vp.hasPrimaryHalf" title="{{vp.primary.displayVolumeId}}"><p>{{vp.primary.displayVolumeId}}</p></a>
        <div class="col-md-2 cell text-resize ellipsis" ng-if="!vp.hasPrimaryHalf" title="{{vp.primary.displayVolumeId}}"><p>{{vp.primary.displayVolumeId}}</p></div>
        <a class="col-md-2 cell text-resize" ng-click="vp.launchSvol()" ng-if="vp.hasSecondaryHalf" title="{{vp.secondary.displayVolumeId}}"><p>{{vp.secondary.displayVolumeId}}</p></a>
        <div class="col-md-2 cell text-resize ellipsis" ng-if="!vp.hasSecondaryHalf" title="{{vp.secondary.displayVolumeId}}"><p>{{vp.secondary.displayVolumeId}}</p></div>
        <div class="col-md-1 cell text-resize ellipsis" title="{{vp.primary.status}}"><p>{{vp.primary.status}}</p></div>
        <div class="col-md-1 cell text-resize ellipsis" title="{{vp.secondary.status}}"><p>{{vp.secondary.status}}</p></div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{vp.primary.storageSystemId}}"><p>{{vp.primary.storageSystemId}}</p></div>
        <div class="col-md-2 cell text-resize ellipsis" title="{{vp.secondary.storageSystemId}}"><p>{{vp.secondary.storageSystemId}}</p></div>
    </div>
</div>