<!--Control group: Port Speed Input-->
<div class="control-group">
    <h3>{{ 'storage-port-speed' | translate}}<span class="read-only" type="text">
                    {{ filterModel.filter.portSpeed || 'All' | translate}}</span>
                </h3>
    <!--TODO: do we need to localize AUTO and 4G-->
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'1G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '1G')">1G
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'2G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '2G')">2G
            </label>
        </div>
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'4G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '4G')">4G
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'8G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '8G')">8G
            </label>
        </div>
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified" ng-show="dataModel.showPortAttributeFilter">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'10G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '10G')">10G
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'AUTO'" uncheckable
                   ng-click="filterModel.filterQuery('speed', 'AUTO')">AUTO
            </label>
        </div>
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified" ng-show="!dataModel.showPortAttributeFilter">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'10G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '10G')">10G
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'16G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '16G')">16G
            </label>
        </div>
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified" ng-show="!dataModel.showPortAttributeFilter">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'32G'" uncheckable
                   ng-click="filterModel.filterQuery('speed', '32G')">32G
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.portSpeed" btn-radio="'AUTO'" uncheckable
                   ng-click="filterModel.filterQuery('speed', 'AUTO')">AUTO
            </label>
        </div>
    </div>
</div>
<!--Control group: Security Switch Enabled-->
<div class="control-group">
    <h3>{{'storage-port-security-switch-enabled' | translate}} <span class="read-only" type="text">
                    {{ (filterModel.filter.securitySwitchEnabled === undefined || filterModel.filter.securitySwitchEnabled === null) ? 'All' :
                    (filterModel.filter.securitySwitchEnabled ? 'Enabled' : 'Disabled' )}}</span>
    </h3>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.securitySwitchEnabled" btn-radio="true" uncheckable
                   ng-click="filterModel.filterQuery('securitySwitchEnabled', 'true')">Enabled
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.securitySwitchEnabled" btn-radio="false" uncheckable
                   ng-click="filterModel.filterQuery('securitySwitchEnabled', 'false')">Disabled
            </label>
        </div>
    </div>
</div>

<!--Control group: Port Attribute-->
<div class="control-group" ng-show="dataModel.showPortAttributeFilter">
    <h3>{{'storage-port-attribute' | translate}}<span class="read-only"
                                                   type="text">{{filterModel.filter.attributes || 'ALL'}}</span>
    </h3>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.attributes" btn-radio="'Target'" uncheckable
                   ng-click="filterModel.filterQuery('attributes', 'TARGET_PORT')">Target
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.attributes" btn-radio="'RCU Target'" uncheckable
                   ng-click="filterModel.filterQuery('attributes', 'RCU_TARGET_PORT')">RCU Target
            </label>
        </div>
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.attributes" btn-radio="'Initiator'" uncheckable
                   ng-click="filterModel.filterQuery('attributes', 'MCU_INITIATOR_PORT')">Initiator
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.attributes" btn-radio="'External'" uncheckable
                   ng-click="filterModel.filterQuery('attributes', 'EXTERNAL_INITIATOR_PORT')">External
            </label>
        </div>
    </div>
</div>
