<div class="summary-container-default stage flex-row" id="top-info" ng-if="dataModel">
        <!--Alerts Panel-->
        <div class="alert-panel quarter">
            <capacity-alert ng-model="dataModel.alerts.capacity.count" class="tile alert"
                            alert-level="dataModel.alerts.capacity.level"></capacity-alert>
        </div>
    <div class="tile data-viz-container fifth" ng-repeat="usageGraph in dataModel.usageGraphs">
            <array-polar-data-visualization class="utilization" ng-model="usageGraph"
                                            no-break-down="true"></array-polar-data-visualization>        
    </div>
</div>
