<div class="summary-container-default" ng-if="summaryModel">

        <!--Alerts Panel-->
        <div class="alert-panel third" id="alert-panel">
            
                <capacity-alert ng-model="summaryModel.alerts.capacity.count"
                                alert-level="summaryModel.alerts.capacity.level"></capacity-alert>
            
            
                <dp-alert ng-model="summaryModel.alerts.dp.count" alert-level="summaryModel.alerts.dp.level"></dp-alert>
            
            

                <jobs-alert ng-model="summaryModel.alerts.jobs"></jobs-alert>
            
            
                <hardware-alert ng-model="summaryModel.alerts.hardware.count"
                                alert-level="summaryModel.alerts.hardware.level"></hardware-alert>
           
        </div>

        <div class="tile data-viz-container two-thirds">
            <array-polar-data-visualization class="utilization"
                                            ng-model="summaryModel.arrayDataVisualizationModel"
                                            no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
        </div>


</div>
