<div class="control-group">
    <h3>{{'replication-group-label-technology' | translate}}</h3>
</div>

<div class="btn-group btn-group-vertical btn-group-justified">
    <label class="btn btn-primary" ng-model="dataModel.search.type"
           btn-radio="'Snapshot (Extendable)'" uncheckable>
        {{'replication-groups-filter-snapshot-ex' | translate}}
    </label>
    <label class="btn btn-primary" ng-model="dataModel.search.type"
           btn-radio="'Snapshot (Full Copy)'" uncheckable>
        {{'replication-groups-filter-snapshot-fc' | translate}}
    </label>
    <label class="btn btn-primary" ng-model="dataModel.search.type"
           btn-radio="'Snapshot (Non-Extendable)'" uncheckable>
        {{'replication-groups-filter-snapshot' | translate}}
    </label>
    <label class="btn btn-primary" ng-model="dataModel.search.type"
           btn-radio="'Clone'" uncheckable>
        {{'replication-groups-filter-clone' | translate}}
    </label>
    <label class="btn btn-primary" ng-model="dataModel.search.type"
           btn-radio="'GAD'" uncheckable>
        {{'gad-display-type' | translate}}
    </label>
</div>