<div class="summary-container-default clearfix" id="top-info" ng-if="summaryModel">
    <div class="col-lg-5 col-md-5 hidden-sm hidden-xs alert-panel alert-panel-md">

        <!--Alerts Panel-->
        <div class="row alert-panel" id="alert-panel">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <capacity-alert ng-model="summaryModel.alerts.capacity.count"
                                alert-level="summaryModel.alerts.capacity.level"></capacity-alert>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <dp-alert ng-model="summaryModel.alerts.dp.count" alert-level="summaryModel.alerts.dp.level"></dp-alert>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <hardware-alert ng-model="summaryModel.alerts.hardware.count"
                                alert-level="summaryModel.alerts.hardware.level"></hardware-alert>
            </div>
        </div>

    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="data-viz polar-data-viz-size-fix">
            <array-polar-data-visualization class="utilization"
                                            ng-model="summaryModel.arrayDataVisualizationModel"
                                            no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
        </div>

    </div>
</div>
