<div class="summary-container-default stage flex-row" id="top-info" ng-if="dataModel">
        <!--Alerts Panel-->
        <div class="alert-panel quarter">
            <alert-tile service="dataModel.capacityAlert"></alert-tile>
        </div>
    <div class="tile data-viz-container fifth" ng-repeat="usageGraph in dataModel.usageGraphs">
            <array-polar-data-visualization class="utilization dataviz-legend" ng-model="usageGraph"
                                            no-break-down="true"></array-polar-data-visualization>        
    </div>
</div>
