<div class="control-group">
    <h3>{{'replication-group-label-technology' | translate}}<span class="read-only" type="text">{{ dataModel.search.type || 'ALL'}}</span></h3>
</div>
<div class="btn-group-toggle" role="group">
    <label class="btn btn-block" ng-model="dataModel.search.type"
           btn-radio="'Snapshot'" uncheckable>
        {{'replication-groups-filter-snapshot' | translate}}
    </label>
    <label class="btn btn-block" ng-model="dataModel.search.type"
           btn-radio="'Clone'" uncheckable>
        {{'replication-groups-filter-clone' | translate}}
    </label>
</div>


