<!--Control group: Free Space Input-->
<div class="control-group">
    <h3>Free Space<span
            class="read-only">{{filterModel.filter.freeCapacity.min}} - {{filterModel.filter.freeCapacity.max}}</span>
    </h3>

    <div id="free-space-range" class="slider-range range-slider-control" two-knob-slider=""
         slider-min="filterModel.filter.freeCapacity.min" slider-max="filterModel.filter.freeCapacity.max"
         ng-model-min="filterModel.filter.freeCapacity.min" ng-model-max="filterModel.filter.freeCapacity.max"
         stop-event-fn="filterModel.sliderQuery('availableCapacityInBytes', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="filterModel.filter.freeCapacity.unit"
                    btn-radio="'GiB'" ng-change="filterModel.sliderQuery('availableCapacityInBytes', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">
                {{ 'common-gib' | translate }}
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="filterModel.filter.freeCapacity.unit"
                    btn-radio="'TiB'" ng-change="filterModel.sliderQuery('availableCapacityInBytes', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">
                {{ 'common-tib' | translate }}
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="filterModel.filter.freeCapacity.unit"
                    btn-radio="'PiB'" ng-change="filterModel.sliderQuery('availableCapacityInBytes', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">
                {{ 'common-pib' | translate }}
            </button>
        </div>
    </div>
</div>
<!--Control group: Size of Pool Input-->
<div class="control-group">
    <h3>Size of Pool<span class="read-only">{{filterModel.filter.totalCapacity.min}} - {{filterModel.filter.totalCapacity.max}}</span>
    </h3>

    <div id="array-size-range" class="slider-range range-slider-control" two-knob-slider=""
         slider-min="filterModel.filter.totalCapacity.min" slider-max="filterModel.filter.totalCapacity.max"
         ng-model-min="filterModel.filter.totalCapacity.min" ng-model-max="filterModel.filter.totalCapacity.max"
         stop-event-fn="filterModel.sliderQuery('capacityInBytes', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="filterModel.filter.totalCapacity.unit"
                    btn-radio="'GiB'" ng-change="filterModel.sliderQuery('capacityInBytes', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">
                {{ 'common-gib' | translate }}
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="filterModel.filter.totalCapacity.unit"
                    btn-radio="'TiB'" ng-change="filterModel.sliderQuery('capacityInBytes', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">
                {{ 'common-tib' | translate }}
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="filterModel.filter.totalCapacity.unit"
                    btn-radio="'PiB'" ng-change="filterModel.sliderQuery('capacityInBytes', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">
                {{ 'common-pib' | translate }}
            </button>
        </div>
    </div>
</div>
<!--Control group: Pool Type Input-->
<div class="control-group">
    <h3>Pool Type<span class="read-only" type="text">{{ filterModel.filter.poolType || 'ALL' | translate}}</span>
    </h3>

    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.poolType" btn-radio="'HDP'" title="Thin (HDP)" ng-click="filterModel.filterQuery('type', 'HDP')" uncheckable>Thin
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.poolType" btn-radio="'HDT'" title="Tiered (HDT)" ng-click="filterModel.filterQuery('type', 'HDT')" uncheckable>Tiered
            </label>
        </div>
        <div class="btn-group" ng-if="!filterModel.poolTypeHtiDisabled">
            <label class="btn btn-default" ng-model="filterModel.filter.poolType" btn-radio="'HTI'" title="Snap (HTI)" ng-click="filterModel.filterQuery('type', 'HTI')" uncheckable>Snap
            </label>
        </div>
    </div>
</div>
<!--Control group: Pool Tier Input-->
<div class="control-group">
    <h3>Pool Tier<span class="read-only" type="text">{{ filterModel.filter.poolTier || 'ALL'}}</span>
    </h3>

    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group" ng-repeat="tier in dataModel.tiers">
            <label class="btn btn-default ellipsis" title="{{
                tier.tier }}" ng-model="filterModel.filter.poolTier" btn-radio="tier.tier" uncheckable
                   ng-change="filterModel.filterQuery('tiers.tier', filterModel.filter.poolTier)">
                {{tier.tier }}
            </label>
        </div>
    </div>
</div>
<!--Control group: Active Flash Enabled-->
<div class="control-group">
    <h3>Active Flash Enabled<span class="read-only" type="text">{{ (filterModel.filter.activeFlashEnabled === undefined || filterModel.filter.activeFlashEnabled === null) ? 'ALL' :
                    (filterModel.filter.activeFlashEnabled ? 'True' : 'False' )}}</span>
    </h3>

    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.activeFlashEnabled" btn-radio="true" title="Enabled" uncheckable
                   ng-click="filterModel.filterQuery('activeFlashEnabled', 'true')">True
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.activeFlashEnabled" btn-radio="false" title="Disabled" uncheckable
                   ng-click="filterModel.filterQuery('activeFlashEnabled', 'false')">False
            </label>
        </div>
    </div>
</div>
<!--Control group: DDM Enabled-->
<div class="control-group" ng-if="!filterModel.ddmNotAvailable">
    <h3>DDM Enabled<span class="read-only" type="text">{{ (filterModel.filter.ddmEnabled === undefined || filterModel.filter.ddmEnabled === null) ? 'ALL' :
                    (filterModel.filter.ddmEnabled ? 'True' : 'False' )}}</span>
    </h3>

    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.ddmEnabled" btn-radio="true" title="Enabled" uncheckable
                   ng-click="filterModel.filterQuery('ddmEnabled', 'true')">True
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.ddmEnabled" btn-radio="false" title="Disabled" uncheckable
                   ng-click="filterModel.filterQuery('ddmEnabled', 'false')">False
            </label>
        </div>
    </div>
</div>

<div class="control-group">
    <h3>{{ 'storage-pool-encryption' | translate }}<span class="read-only"
                                                          type="text">{{dataModel.filter.encryption || 'ALL'}}</span>
    </h3>
    <div class="control-group">
        <select class="selectpicker inline btn-group-justified" ng-model="dataModel.filter.encryption" ng-change="filterModel.filterQuery('encrypted', dataModel.filter.encryption)">
            <option value="">{{'storage-pool-encryption-filter' | translate}}</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
            <option value="PARTIAL">PARTIAL</option>
            <option value="UNKNOWN">UNKNOWN</option>
        </select>
    </div>
</div>
<div class="control-group">
    <h3>{{ 'storage-pool-compression' | translate }}<span class="read-only"
                                                   type="text">{{dataModel.filter.fmcCompression || 'ALL'}}</span>
    </h3>
    <div class="control-group">
        <select class="selectpicker inline btn-group-justified" ng-model="dataModel.filter.fmcCompression" ng-change="filterModel.filterQuery('fmcCompressed', dataModel.filter.fmcCompression)">
            <option value="">{{'storage-pool-compression-filter' | translate}}</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
            <option value="PARTIAL">PARTIAL</option>
            <option value="UNKNOWN">UNKNOWN</option>
        </select>
    </div>
</div>
<div class="control-group">
    <h3>{{ 'storage-pool-deduplication-enabled' | translate }}<span class="read-only"
                                                                    type="text">{{filterModel.filter.deduplicationEnabled || 'ALL'}}</span>
    </h3>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.deduplicationEnabled" btn-radio="'YES'" title="true" ng-click="filterModel.filterQuery('deduplicationEnabled', 'true')" uncheckable>YES
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.deduplicationEnabled" btn-radio="'NO'" title="false" ng-click="filterModel.filterQuery('deduplicationEnabled', 'false')" uncheckable>NO
            </label>
        </div>
    </div>
</div>