<div class="control-group">
    <h3>Free Space<span class="read-only">{{dataModel.search.freeCapacity.min}} - {{dataModel.search.freeCapacity.max}}  {{dataModel.search.freeCapacity.unit}}</span>
                </h3>
    <div id="free-space-range" class="slider-range range-slider-control" two-knob-slider="" slider-min="dataModel.search.freeCapacity.min" slider-max="dataModel.search.freeCapacity.max"
         ng-model-min="dataModel.search.freeCapacity.min" ng-model-max="dataModel.search.freeCapacity.max"
         stop-event-fn="filterModel.sliderQuery('availableCapacity', dataModel.search.freeCapacity.min, dataModel.search.freeCapacity.max, dataModel.search.freeCapacity.unit)">
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="dataModel.search.freeCapacity.unit" btn-radio="'GB'"
                    ng-click="filterModel.sliderQuery('availableCapacity', dataModel.search.freeCapacity.min, dataModel.search.freeCapacity.max, dataModel.search.freeCapacity.unit)">GB
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="dataModel.search.freeCapacity.unit" btn-radio="'TB'"
                    ng-click="filterModel.sliderQuery('availableCapacity', dataModel.search.freeCapacity.min, dataModel.search.freeCapacity.max, dataModel.search.freeCapacity.unit)">TB
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="dataModel.search.freeCapacity.unit" btn-radio="'PB'"
                    ng-click="filterModel.sliderQuery('availableCapacity', dataModel.search.freeCapacity.min, dataModel.search.freeCapacity.max, dataModel.search.freeCapacity.unit)">PB
            </button>
        </div>
    </div>
</div>
<!--Control group: Size of Array Input-->
<div class="control-group">
    <h3>Size of Array<span class="read-only">{{dataModel.search.totalCapacity.min}} - {{dataModel.search.totalCapacity.max}}  {{dataModel.search.totalCapacity.unit}}</span>
                </h3>
    <div id="array-size-range" class="slider-range range-slider-control" two-knob-slider="" slider-min="dataModel.search.totalCapacity.min" slider-max="dataModel.search.totalCapacity.max"
         ng-model-min="dataModel.search.totalCapacity.min" ng-model-max="dataModel.search.totalCapacity.max"
         stop-event-fn="filterModel.sliderQuery('usedCapacity', dataModel.search.totalCapacity.min, dataModel.search.totalCapacity.max, dataModel.search.totalCapacity.unit)">
    </div>
    <div class="btn-group btn-group-toggle btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="dataModel.search.totalCapacity.unit" btn-radio="'GB'"
                    ng-click="filterModel.sliderQuery('usedCapacity', dataModel.search.totalCapacity.min, dataModel.search.totalCapacity.max, dataModel.search.totalCapacity.unit)">GB
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="dataModel.search.totalCapacity.unit" btn-radio="'TB'"
                    ng-click="filterModel.sliderQuery('usedCapacity', dataModel.search.totalCapacity.min, dataModel.search.totalCapacity.max, dataModel.search.totalCapacity.unit)">TB
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="dataModel.search.totalCapacity.unit" btn-radio="'PB'"
                    ng-click="filterModel.sliderQuery('usedCapacity', dataModel.search.totalCapacity.min, dataModel.search.totalCapacity.max, dataModel.search.totalCapacity.unit)">PB
            </button>
        </div>
    </div>
</div>

<div class="control-group">
    <h3>{{'has-migration-tasks' | translate}}<span class="read-only" type="text">{{ dataModel.search.hasMigrationTasks || 'ALL'}}</span></h3>
</div>
<div class="btn-group btn-group-toggle btn-group-justified">
    <label class="btn btn-primary" ng-model="dataModel.search.hasMigrationTasks"
           ng-change="filterModel.filterQuery('hasMigrationTasks', 'False')"
           btn-radio="'False'" uncheckable>{{'migration-tasks-not-exist' | translate}}
    </label>

    <label class="btn btn-primary" ng-model="dataModel.search.hasMigrationTasks"
           ng-change="filterModel.filterQuery('hasMigrationTasks', 'True')"
           btn-radio="'True'" uncheckable>{{'migration-tasks-exist' | translate}}
    </label>
</div>
