<div class="summary-container-default stage flex-row" id="top-info" ng-if="summaryModel">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs alert-panel alert-panel-md">
        <!--Alerts Panel-->
        <div class="tile alert-panel" id="alert-panel">
            <div class="col-md-15 col-sm-15 col-xs-15">
                <hsa-alert-tile service="summaryModel.dpAlert"></hsa-alert-tile>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-T-B-L">
                <span class="icon icon-protected-volume icon-xlg"></span>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-6 fixed-top">
                <p>{{'storage-volume-summary-protected-volumes' | translate}}</p>
                </br>
                <h1>{{summaryModel.protectedVolume}}</h1>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-T-B-L">
                <span class="icon icon-unprotected-volume icon-xlg"></span>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-6 fixed-top">
                <p>{{'storage-volume-summary-unprotected-volumes' | translate}}</p>
                </br>
                <h1>{{summaryModel.unprotectedVolume}}</h1>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-T-B-L">
                <span class="icon icon-secondary-volume icon-xlg"></span>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-6 col-xs-6 fixed-top">
                <p>{{'storage-volume-summary-secondary-volumes' | translate}}</p>
                </br>
                <h1>{{summaryModel.secondaryVolume}}</h1>
            </div>
        </div>
    </div>
</div>
