<div class="summary-container-default" ng-if="summaryModel">

        <!--Alerts Panel-->
        <div class="alert-panel third" id="alert-panel">
            <hsa-alert-tile service="services.cp"></hsa-alert-tile>
            <hsa-alert-tile service="services.dp"></hsa-alert-tile>
            <hsa-alert-tile service="services.job"></hsa-alert-tile>
            <hsa-alert-tile service="services.hw"></hsa-alert-tile>
        </div>

        <div class="tile data-viz-container two-thirds">
            <array-polar-data-visualization class="utilization dataviz-legend"
                                            ng-model="summaryModel.arrayDataVisualizationModel"
                                            no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
        </div>


</div>
