<div class="summary-container-default">
    <div class="tile meta-tile third">
        <div class="label-value-container">
            <p class="label">{{ 'common-virtual-storage-machine-id' | translate }}</p>
            <p class="value">{{ summaryModel.virtualStorageMachineId }}</p>
        </div>
        <div class="label-value-container">
            <p class="label">{{ 'storage-system-id' | translate }}</p>
            <p class="value">{{ summaryModel.storageSystemId }}</p>
        </div>
        <div class="label-value-container">
            <p class="label">{{ 'model' | translate }}</p>
            <p class="value">{{ summaryModel.model }}</p>
        </div>
    </div>
</div>
