<div class="summary-container-default" id="top-info" ng-if="summaryModel">
    <div class="alert-panel third" id="alert-panel">
        <hsa-alert-tile service="summaryModel.services.dp"></hsa-alert-tile>
    </div>
    <div class="tile data-viz-container half">
        <!-- VSM Diagram -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 930 180" preserverAspectRatio="xMinYMin meet" transform="scale(1)" class="vsm-diagram" id="vsm-diagram">
            <defs>
                <clipPath id="connecting-line">
                    <rect x="0" y="0" width="900" height="50"/>
                </clipPath>
            </defs>
            <!-- Symbols -->
            <!-- Volume label -->
            <symbol id="vsm-volume-label" viewBox="-25 0 80 72">
                <text class="vsm-value" y="36" text-anchor="middle">{{summaryModel.pairCount}}</text>
                <text class="vsm-label-sm" y="45" text-anchor="middle">{{ 'gad-pairs' | translate}}</text>
            </symbol>

            <!-- Storage System Left Label -->
            <symbol id="ss-left-label" viewBox="-18 0 40 20">
                <text class="vsm-label" y="20" text-anchor="middle">
                    {{summaryModel.leftPhysicalStorageSystem}}
                </text>
            </symbol>
            <!-- Storage System Right Label -->
            <symbol id="ss-right-label" viewBox="-18 0 40 20">
                <text class="vsm-label" y="20" text-anchor="middle">
                    {{summaryModel.rightPhysicalStorageSystem}}
                </text>
            </symbol>
            <!-- Volume -->
            <symbol id="volume-custom-icon" viewBox="0 0 160 187">
                <path class="volume-base" d="M75,0C33.58,0,0,9.61,0,21.47V159.53C0,171.39,33.58,181,75,181s75-9.61,75-21.47V21.47C150,9.61,116.42,0,75,0Z"/>
                <path class="volume-highlight" d="M75,44.5c-29,0-55-4.66-68-12.16a1.55,1.55,0,1,1,1.56-2.69C20.92,36.79,47,41.39,75,41.39s54.08-4.61,66.44-11.74A1.55,1.55,0,1,1,143,32.34C130,39.84,104,44.5,75,44.5Z"/>
                <use xlink:href="#vsm-volume-label" x="22" y="22"/>
            </symbol>
            <symbol id="decorative-hash-lines" viewBox="-400 0 1100 240">
                <g id="hash-pattern" clip-path="url(#connecting-line)">
                    <line class="hash-stroke" x1="242.54" y1="0.35" x2="0.35" y2="242.54"/>
                    <line class="hash-stroke" x1="259.06" y1="0.35" x2="16.87" y2="242.54"/>
                    <line class="hash-stroke" x1="275.58" y1="0.35" x2="33.4" y2="242.54"/>
                    <line class="hash-stroke" x1="292.1" y1="0.35" x2="49.92" y2="242.54"/>
                    <line class="hash-stroke" x1="308.62" y1="0.35" x2="66.44" y2="242.54"/>
                    <line class="hash-stroke" x1="325.14" y1="0.35" x2="82.96" y2="242.54"/>
                    <line class="hash-stroke" x1="341.66" y1="0.35" x2="99.48" y2="242.54"/>
                    <line class="hash-stroke" x1="358.18" y1="0.35" x2="116" y2="242.54"/>
                    <line class="hash-stroke" x1="374.7" y1="0.35" x2="132.52" y2="242.54"/>
                    <line class="hash-stroke" x1="391.22" y1="0.35" x2="149.04" y2="242.54"/>
                    <line class="hash-stroke" x1="407.75" y1="0.35" x2="165.56" y2="242.54"/>
                    <line class="hash-stroke" x1="424.27" y1="0.35" x2="182.08" y2="242.54"/>
                    <line class="hash-stroke" x1="440.79" y1="0.35" x2="198.6" y2="242.54"/>
                    <line class="hash-stroke" x1="457.31" y1="0.35" x2="215.13" y2="242.54"/>
                    <line class="hash-stroke" x1="473.83" y1="0.35" x2="231.65" y2="242.54"/>
                    <line class="hash-stroke" x1="490.35" y1="0.35" x2="248.17" y2="242.54"/>
                    <line class="hash-stroke" x1="506.87" y1="0.35" x2="264.69" y2="242.54"/>
                    <line class="hash-stroke" x1="523.39" y1="0.35" x2="281.21" y2="242.54"/>
                    <line class="hash-stroke" x1="539.91" y1="0.35" x2="297.73" y2="242.54"/>
                    <line class="hash-stroke" x1="556.43" y1="0.35" x2="314.25" y2="242.54"/>
                    <line class="hash-stroke" x1="572.95" y1="0.35" x2="330.77" y2="242.54"/>
                    <line class="hash-stroke" x1="589.48" y1="0.35" x2="347.29" y2="242.54"/>
                    <line class="hash-stroke" x1="606" y1="0.35" x2="363.81" y2="242.54"/>
                    <line class="hash-stroke" x1="622.52" y1="0.35" x2="380.34" y2="242.54"/>
                    <line class="hash-stroke" x1="639.04" y1="0.35" x2="396.86" y2="242.54"/>
                    <line class="hash-stroke" x1="655.56" y1="0.35" x2="413.38" y2="242.54"/>
                    <line class="hash-stroke" x1="672.08" y1="0.35" x2="429.9" y2="242.54"/>
                    <line class="hash-stroke" x1="688.6" y1="0.35" x2="446.42" y2="242.54"/>
                    <line class="hash-stroke" x1="705.12" y1="0.35" x2="462.94" y2="242.54"/>
                    <line class="hash-stroke" x1="721.64" y1="0.35" x2="479.46" y2="242.54"/>
                    <line class="hash-stroke" x1="738.16" y1="0.35" x2="495.98" y2="242.54"/>
                    <line class="hash-stroke" x1="754.69" y1="0.35" x2="512.5" y2="242.54"/>
                    <line class="hash-stroke" x1="771.21" y1="0.35" x2="529.02" y2="242.54"/>
                    <line class="hash-stroke" x1="787.73" y1="0.35" x2="545.55" y2="242.54"/>
                    <line class="hash-stroke" x1="804.25" y1="0.35" x2="562.07" y2="242.54"/>
                    <line class="hash-stroke" x1="820.77" y1="0.35" x2="578.59" y2="242.54"/>
                    <line class="hash-stroke" x1="837.29" y1="0.35" x2="595.11" y2="242.54"/>
                    <line class="hash-stroke" x1="853.81" y1="0.35" x2="611.63" y2="242.54"/>
                    <line class="hash-stroke" x1="870.33" y1="0.35" x2="628.15" y2="242.54"/>
                    <line class="hash-stroke" x1="886.85" y1="0.35" x2="644.67" y2="242.54"/>
                    <line class="hash-stroke" x1="903.37" y1="0.35" x2="661.19" y2="242.54"/>
                    <line class="hash-stroke" x1="919.89" y1="0.35" x2="677.71" y2="242.54"/>
                    <line class="hash-stroke" x1="936.42" y1="0.35" x2="694.23" y2="242.54"/>
                    <line class="hash-stroke" x1="952.94" y1="0.35" x2="710.75" y2="242.54"/>
                    <line class="hash-stroke" x1="969.46" y1="0.35" x2="727.28" y2="242.54"/>
                    <line class="hash-stroke" x1="985.98" y1="0.35" x2="743.8" y2="242.54"/>
                    <line class="hash-stroke" x1="1002.5" y1="0.35" x2="760.32" y2="242.54"/>
                    <line class="hash-stroke" x1="1019.02" y1="0.35" x2="776.84" y2="242.54"/>
                    <line class="hash-stroke" x1="1035.54" y1="0.35" x2="793.36" y2="242.54"/>
                    <line class="hash-stroke" x1="1052.06" y1="0.35" x2="809.88" y2="242.54"/>
                    <line class="hash-stroke" x1="1068.58" y1="0.35" x2="826.4" y2="242.54"/>
                    <line class="hash-stroke" x1="1085.1" y1="0.35" x2="842.92" y2="242.54"/>
                    <line class="hash-stroke" x1="1101.63" y1="0.35" x2="859.44" y2="242.54"/>
                    <line class="hash-stroke" x1="1118.15" y1="0.35" x2="875.96" y2="242.54"/>
                    <line class="hash-stroke" x1="1134.67" y1="0.35" x2="892.49" y2="242.54"/>
                    <line class="hash-stroke" x1="1151.19" y1="0.35" x2="909.01" y2="242.54"/>
                    <line class="hash-stroke" x1="1167.71" y1="0.35" x2="925.53" y2="242.54"/>
                </g>
            </symbol>
            <!-- Storage System -->
            <symbol id="custom-storage-system" viewBox="0 -8 140 260">
                <polygon class="ss-icon-base" points="120 20.99 120 0 101.88 0 76.56 0 0 0 0 141 76.56 141 101.88 141 120 141 120 120.01 101.88 120.01 101.88 100.89 120 100.89 120 79.9 101.88 79.9 101.88 60.79 120 60.79 120 39.79 101.88 39.79 101.88 20.68 120 20.68 120 20.99"/>
                <path class="ss-icon-top" d="M83.44,110A39.86,39.86,0,0,1,47.5,133.17,39.86,39.86,0,0,1,11.56,110a1.51,1.51,0,0,1,.62-1.88,1.5,1.5,0,0,1,1.88.63C20,119.07,33.13,125.65,47.5,125.65s27.5-6.58,33.44-16.92a1.4,1.4,0,1,1,2.5,1.25Zm0-16.29A39.86,39.86,0,0,1,47.5,116.87,39.86,39.86,0,0,1,11.56,93.69a1.51,1.51,0,0,1,.62-1.88,1.5,1.5,0,0,1,1.88.63C20,102.77,33.13,109.35,47.5,109.35S75,102.77,80.94,92.43a1.4,1.4,0,1,1,2.5,1.25Zm0-16.29A39.86,39.86,0,0,1,47.5,100.58,39.86,39.86,0,0,1,11.56,77.39a1.51,1.51,0,0,1,.62-1.88,1.5,1.5,0,0,1,1.88.63C20,86.48,33.13,93.06,47.5,93.06S75,86.48,80.94,76.14a1.4,1.4,0,1,1,2.5,1.25ZM47.5,7.83A38.23,38.23,0,1,0,85.63,46.06,38.33,38.33,0,0,0,47.5,7.83ZM47.5,53a6.89,6.89,0,1,1,6.88-6.89A6.95,6.95,0,0,1,47.5,53Z"/>
            </symbol>
            <!-- Storage System Left -->
            <symbol id="ss-left" viewBox="0 0 50 80">
                <a href="#/storage-systems/{{summaryModel.leftPhysicalStorageSystem}}">
                    <use xlink:href="#custom-storage-system" x="0" y="0"/>
                    <use xlink:href="#ss-left-label" x="0" y="4"/>
                </a>
            </symbol>
            <!-- Storage System Right -->
            <symbol id="ss-right" viewBox="0 0 50 80">
                <a href="#/storage-systems/{{summaryModel.rightPhysicalStorageSystem}}">
                    <use xlink:href="#custom-storage-system" x="0" y="0"/>
                    <use xlink:href="#ss-right-label" x="0" y="4"/>
                </a>
            </symbol>
            <!-- /Symbols -->
            <use xlink:href="#decorative-hash-lines" x="-450" y="56"/>
            <use xlink:href="#decorative-hash-lines" x="-70" y="56"/>
            <use xlink:href="#ss-left" x="-380" y="22"/>
            <use xlink:href="#volume-custom-icon" x="0" y="3"/>
            <use xlink:href="#ss-right" x="400" y="22"/>
        </svg>
    </div>
</div>
