/*
   Define common selectors that are not related to branding
 */

.thresholds .input-group.flex-row .form-group {
  @media (min-width: $screen-md-min) {
    width: 30%;
  }
}

.checkbox-group {
  overflow: hidden;
  position: relative;
  input:first-child {
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .break-line-label {
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
    margin-left: 20px;
  }
}

.seventyPercentWidth {
  width: 70%;
}

.tenPercentWidth {
  width: 10%;
}

.bigWidth {
  width: 100%;
}

.add-resource-row {
  background-color: $neutral03;
  margin-top: 0.5rem;
  & * > .form-control {
    border-color: transparent;
    border-bottom-color: $neutral01;
  }
  & > .input-panel {
    padding: 1rem;
  }
  & > .add-button-hack {
    margin: 0;
    height: 12rem;
    background-color: $neutral03;
    display: flex;
  }
  & * > .add-resource {
    max-height: initial !important;
  }
  & * > .add-resource-deletion {
    height: initial;
    width: initial;
    vertical-align: middle;
    margin: auto !important;
  }
}

.nested-row-container {
  margin-bottom: 0.5rem !important;
}

.nested-row-tile.column-headers:hover {
  background-color: transparent;
}

.nested-row-tile.panel-body {
  padding-left: 0;
  padding-right: 0;
}

.form-control-btn {
  margin-bottom: 0.4em;
}

.scrollable-summary-value {
  overflow-y: auto !important;
  line-height: 1.34;
  max-height: 40px;
}

.form-label {
  margin-top: 0.8rem;
}

.label-value-container-title {
  margin-top: 1.3rem;
}

.checkbox-label {
  cursor: pointer;
}

.rtl {
  direction: rtl;
}

.cell.text-resize.ellipsis > .no-ellipsis-value {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  overflow-x: auto;
  white-space: nowrap;
  text-overflow: clip;
  &::-webkit-scrollbar {
    height: 0.8rem;
    width: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: $neutral05;
  }
}
