/* Scss Document */
/*====Rainier Theme Styles====*/

/*===========Colors===========*/
/*====Primary Accent====*/

$primary-accent-dark: #5B7A27;
$primary-accent: #95C548;
$active-color: #95C548;
$success-color: #A8DE51;
$primary-accent-light: #C5EB86;

/*====Accent 2====*/

$accent2-dark: #047899;
$accent2: #00A9E1;
$accent2-lighter: #44C7F2;
$accent2-lightest: #5CD7FF;

/*====Accent 3====*/

$accent3-dark: #A1871B;
$accent3: #D4BB47;
$accent3-light: #FFE25C;

/*====Accent 4====*/

$accent4-dark: #243E45;
$accent4: #46646C;
$accent4-light: #5C8692;