<h2>{{'add-host-csv-import' | translate}}</h2>
<div class="row">
    <csv-file-upload ng-model="dataModel.importedHosts" ng-title="Drop CSV here!!" ng-attr-title="{{'add-host-tool-tip' | translate}}"></csv-file-upload>
</div>
<h2>{{'add-host-fibre-servers' | translate}}</h2>
<div class="tile control-tile add-button-hack" ng-click="dataModel.addNewFibreHost()">
    <div class="tile-button add-resource" title="{{'common-label-add' | translate}}">
        <svg class="resource-icon" version="1.1" x="0px" y="0px" viewBox="0 0 70 70" transform="scale(1, 1)" xml:space="preserve">
                <polygon class="add-lg" points="70,32 38,32 38,0 32,0 32,32 0,32 0,38 32,38 32,70 38,70 38,38 70,38 ">
                </polygon>
            </svg>
    </div>
</div>
<div class="add-resource-pattern add-resource-row" ng-repeat="host in dataModel.hostsModel.fibreHosts track by $index">
    <div class="input-panel validation-scope">
        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-server-name' | translate}}</label>
            <input type="text" ng-model="host.name"
                   class="form-control"
                   title="{{'add-host-server-name' | translate}}" placeholder="Host Name">
        </fieldset>
        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-description' | translate}}</label>
            <input type="text" ng-model="host.description"
                   class="form-control"
                   title="{{'add-host-description' | translate}}" placeholder="Description">
        </fieldset>
        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-ip-address' | translate}}</label>
            <input type="text" ng-model="host.ipAddress"
                   class="form-control"
                   title="{{'add-host-ip-address' | translate}}" placeholder="IP Address">
        </fieldset>

        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-os-type' | translate}}</label>
            <div class="dropdown">
                <button class="btn btn-block dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{host.osType}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="type in dataModel.osTypes">
                        <a ng-click="host.osType = type">{{type}}</a>
                    </li>
                </ul>
            </div>
        </fieldset>

        <div class="input-panel validation-scope">
            <fieldset class="fieldset label-value-container">
                <label class="label">{{'add-host-wwn' | translate}}</label>
                <input type="text" ng-model="host.wwns"
                       class="form-control"
                       title="{{'add-host-wwn' | translate}}" placeholder="50:00:00:00:00:00:00:00, 50:00:00:00:00:00:00:01">
            </fieldset>
        </div>
    </div>
    <div class="tile control-tile add-button-hack">
        <button class="btn icon-btn icon-sm icon-delete-item add-resource-deletion"
                title="{{'common-label-delete' | translate}}"
                ng-click="host.delete($index)"></button>
    </div>
</div>

<h2>{{'add-host-iscsi-servers' | translate}}</h2>
<div class="tile control-tile add-button-hack" ng-click="dataModel.addNewIscsiHost()">
    <div class="tile-button add-resource" title="{{'common-label-add' | translate}}">
        <svg class="resource-icon" version="1.1" x="0px" y="0px" viewBox="0 0 70 70" transform="scale(1, 1)" xml:space="preserve">
                <polygon class="add-lg" points="70,32 38,32 38,0 32,0 32,32 0,32 0,38 32,38 32,70 38,70 38,38 70,38 ">
                </polygon>
            </svg>
    </div>
</div>
<div class="add-resource-pattern add-resource-row" ng-repeat="host in dataModel.hostsModel.iscsiHosts track by $index">
    <div class="input-panel validation-scope">
        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-server-name' | translate}}</label>
            <input type="text" ng-model="host.name"
                   class="form-control"
                   title="{{'add-host-server-name' | translate}}" placeholder="Host Name">
        </fieldset>
        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-description' | translate}}</label>
            <input type="text" ng-model="host.description"
                   class="form-control"
                   title="{{'add-host-description' | translate}}" placeholder="Description">
        </fieldset>
        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-ip-address' | translate}}</label>
            <input type="text" ng-model="host.ipAddress"
                   class="form-control"
                   title="{{'add-host-ip-address' | translate}}" placeholder="IP Address">
        </fieldset>

        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-os-type' | translate}}</label>
            <div class="dropdown">
                <button class="btn btn-block dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{host.osType}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="type in dataModel.osTypes">
                        <a ng-click="host.osType = type">{{type}}</a>
                    </li>
                </ul>
            </div>
        </fieldset>

        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-chap-user' | translate}}</label>
            <input type="text" ng-model="host.chapUserName"
                   class="form-control"
                   title="{{'add-host-chap-user' | translate}}" placeholder="user1">
        </fieldset>

        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-chap-secret' | translate}}</label>
            <input type="password" ng-model="host.chapUserSecret"
                   class="form-control"
                   title="{{'add-host-chap-secret' | translate}}">
        </fieldset>

        <fieldset class="fieldset label-value-container">
            <label class="label">{{'add-host-iscsi-names' | translate}}</label>
            <input type="text" ng-model="host.iscsiNames"
                   class="form-control"
                   title="{{'add-host-iscsi-names' | translate}}"
                   placeholder="iqn.1992-01.com.company:db, iqn.1992-01.com.company:app">
        </fieldset>
    </div>
    <div class="tile control-tile add-button-hack">
        <button class="btn icon-btn icon-sm icon-delete-item add-resource-deletion"
                title="{{'common-label-delete' | translate}}"
                ng-click="host.delete($index)"></button>
    </div>
</div>
