<div class="row">
    <csv-file-upload ng-model="dataModel.importedHosts" ng-title="Drop CSV here!!" ng-attr-title="{{'add-host-tool-tip' | translate}}"></csv-file-upload>
</div>
<div class="tile-view list-view" infinite-scroll='dataModel.loadMore()'
     infinite-scroll-distance='1'
     infinite-scroll-disabled='dataModel.busy === true || dataModel.hostsModel.displayHosts.length === dataModel.hostsModel.hosts.length'
     infinite-scroll-container="'.scroll-wizard-container'">
    <!--Header Row-->
    <div class="tile row row-tile column-headers">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 cell">
            <p>{{'add-host-server-name'| translate}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p>{{'add-host-description'| translate}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p>{{'add-host-ip-address'| translate}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 cell">
            <p>{{'add-host-os-type'| translate}}</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 cell">
            <p>{{'add-host-wwn'| translate}}</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell">
            <p>&nbsp;</p>
        </div>
    </div>
    <!--Standard Row-->
    <div class="tile row row-tile" ng-repeat="host in dataModel.hostsModel.displayHosts track by $index">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 cell">
            <input type="text" ng-model="host.name"
                   class="form-control text inline" name="name"
                   title="name" placeholder="Host Name">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <input type="text" ng-model="host.description"
                   class="form-control text inline" name="description"
                   title="description" placeholder="Description">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <input type="text" ng-model="host.ipAddress"
                   class="form-control text inline" name="ipAddress"
                   title="ipAddress" placeholder="IP Address">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 cell control">

            <select class="dropdown inline" name="osType" title="OS Type"
                    ng-model="host.osType"
                    ng-options="'host-mode-' + mode | translate for mode in dataModel.osTypes">
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 cell">
            <input type="text" ng-model="host.wwns"
                   class="form-control text inline" name="wwns"
                   title="wwn" placeholder="50:00:00:00:00:00:00:00, 50:00:00:00:00:00:00:01">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell" ng-if="!$first">
            <button class="btn icon-btn icon-sm icon-delete-item"
                    ng-click="host.delete($index)"></button>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell" ng-if="$first">
            <button class="btn icon-btn icon-sm icon-add"
                    ng-click="dataModel.addNewHost()"></button>


        </div>
    </div>
</div>