<div class="fieldset">
    <div class="label-value-container">
        <label class="label">Storage System</label>
        <select class="form-control"
                ng-model="dataModel.selectedStorageSystem"
                ng-options="ss.storageSystemId for ss in dataModel.storageSystems"
                ng-disabled="!dataModel.attachModel.storageSystemSelectable">
        </select>
    </div>
    <div class="label-value-container">    
        <label class="label">Host Mode</label>
        <select class="form-control"
                ng-model="dataModel.attachModel.hostMode"
                ng-options="'host-mode-' + mode | translate for mode in dataModel.attachModel.hostModes">
        </select>
    </div>
    <div class="label-value-container">
        <label class="label">Host Mode Option</label>
        <select class="form-control"
                title="None"
                ng-model="dataModel.attachModel.selectedHostModeOption"
                ng-change="dataModel.checkSelectedHostModeOptions()"
                ng-options="hostModeOptions.id as hostModeOptions.displayName for hostModeOptions in dataModel.attachModel.hostModeOptions"
                multiple>
        </select>
    </div>
</div>

<div class="fieldset">
    <div class="label-value-container" ng-if="dataModel.attachModel.enableLunUnification !== undefined">
        <label class="label" for="LUN-unification" ng-attr-title="{{'lun-alignment-tooltip' | translate}}">LUN
            Alignment</label>
        <div id="LUN-unification" class="btn-group btn-group-justified" data-toggle="buttons" role="toggle">
            <label class="btn btn-primary btn-dark" ng-model="dataModel.attachModel"
                   ng-click="dataModel.attachModel.setEnableLunUnification(true)">
                <input type="radio" autocomplete="off"/>Yes
            </label>
            <label class="btn btn-primary btn-dark active" ng-model="dataModel.attachModel"
                   ng-click="dataModel.attachModel.setEnableLunUnification(false)">
                <input type="radio" autcomplete="off"/>No
            </label>
        </div>
    </div>


    <div class="label-value-container toggle-control" ng-if="dataModel.attachModel.setEnableZoning">
        <label class="label" for="auto-create-zone" ng-attr-title="{{'auto-create-zone-tooltip' | translate}}">Auto
            Create Zone</label>
        <div id="auto-create-zone" class="btn-group btn-group-justified" data-toggle="buttons" role="toggle">
            <label class="btn btn-primary btn-dark" ng-model="dataModel.attachModel"
                   ng-click="dataModel.attachModel.setEnableZoning(true)">
                <input type="radio" autocomplete="off"/>Yes
            </label>
            <label class="btn btn-primary btn-dark active" ng-model="dataModel.attachModel"
                ng-click="dataModel.attachModel.setEnableZoning(false)">
                <input type="radio" autocomplete="off"/>No
            </label>
        </div>
    </div>
</div>