<div>
    <h2>{{dataModel.attachModel.subTitle}}</h2>
</div>
<div class="tile-view list-view">
    <div class="tile row row-tile column-headers">
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
            <p title="{{'attach-volumes-number-of-volume' | translate}}">{{'attach-volumes-number-of-volume' | translate}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p title="{{'attach-volumes-label' | translate}}">{{'attach-volumes-label' | translate}}</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
            <p title="{{'attach-volumes-label-suffix' | translate}}">{{'attach-volumes-label-suffix' | translate}}</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
            <p title="{{'attach-volumes-size' | translate}}">{{'attach-volumes-size' | translate}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p title="{{'attach-volumes-pool-type' | translate}}">{{'attach-volumes-pool-type' | translate}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p title="{{'attach-volumes-Tier' | translate}}">{{'attach-volumes-Tier' | translate}}</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs cell">
            <p title="{{'attach-volumes-Pool' | translate}}">{{'attach-volumes-Pool' | translate}}</p>
        </div>
    </div>
    <div class="tile row row-tile removable disabled" ng-repeat="volumeGroup in dataModel.attachModel.selectedVolumes">
        <div class="col-lg-1 col-md-1 col-sm-1 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.noOfVolumes"
                   title="number of volumes">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.label"
                   title="volumes name">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-3 cell control">
            <input type="number" class="form-control" disabled="disabled" ng-model="volumeGroup.suffix">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.size.getDisplayText()">

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.poolType">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.tierDisplayName()">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.pool.poolLabel"
                   ng-if="volumeGroup.pool">
            <input type="text" class="form-control" disabled="disabled" value="Auto Selected" ng-if="!volumeGroup.pool">
        </div>
    </div>
</div>
