<div class="tile-view list-view">
    <div class="tile row row-tile column-headers">
        <div class="col-md-3 col-sm-3 col-xs-3 cell"><p>Label</p></div>
        <div class="col-md-3 col-sm-3 col-xs-3 cell"><p>ID</p></div>
        <div class="col-md-3 col-sm-3 col-xs-3 cell"><p>Size</p></div>
        <div class="col-md-3 col-sm-3 col-xs-3 cell"><p>LUN</p></div>
    </div>
    <form name="validationForm.rightPanel" novalidate>
        <div class="tile row row-tile removable disabled" ng-repeat="v in dataModel.attachModel.selectedVolumes">
            <div class="col-md-3 col-sm-3 col-xs-3 cell control">
                <input type="text" disabled="disabled" class="form-control" ng-model="v.label">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 cell control">
                <input type="text" disabled="disabled" class="form-control" ng-model="v.displayVolumeId">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 cell control">
                <p class="form-control">
                    <disk-size ng-model="v.availableCapacity" wrapped-in="p"></disk-size>
                </p>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 cell control validation-form">
                <input type="number" ng-class="{'ng-invalid': v.hasDuplicatedLun}" min="0" ng-min="0" ng-max="2047" ng-pattern="v.decimalNumberRegexp"
                       class="form-valid" name="lun" ng-model="v.lun" placeholder="LUN (optional)" title="{{v.validationTooltip}}">
            </div>
        </div>
    </form>
</div>