<div class="form-group">
    <div>
        <label>Storage System</label>
        <select class="form-control"
                ng-model="dataModel.selectedStorageSystem"
                ng-options="ss.storageSystemId for ss in dataModel.storageSystems"
                ng-disabled="!dataModel.attachModel.storageSystemSelectable">
        </select>
    </div>
    <div class="margin-T-B-L">    
        <label>Host Mode</label>
        <select class="form-control"
                ng-model="dataModel.attachModel.hostMode"
                ng-options="'host-mode-' + mode | translate for mode in dataModel.attachModel.hostModes">
        </select>
    </div>
        <div class="margin-T-B-L">     
        <label>Host Mode Option</label>
        <select class="form-control"
                ng-model="dataModel.attachModel.selectedHostModeOption"
                ng-change="dataModel.checkSelectedHostModeOptions()"
                ng-options="'host-mode-option-' + hmo | translate for hmo in dataModel.attachModel.hostModeOptions"
                multiple>
        </select>
    </div>    
</div>
<div>
    <div class="form-group">
        <label for="LUN-unification" ng-attr-title="{{'lun-alignment-tooltip' | translate}}">LUN Alignment</label>

        <div id="LUN-unification" class="btn-group btn-group-justified btn-group-toggle-black" role="toggle">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark"
                        ng-class="{'active': dataModel.attachModel.enableLunUnification}"
                        ng-click="dataModel.attachModel.enableLunUnification = true">Yes
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark"
                        ng-class="{'active': !dataModel.attachModel.enableLunUnification}"
                        ng-click="dataModel.attachModel.enableLunUnification = false">No
                </button>
            </div>
        </div>
    </div>
    <div class="form-group toggle-control">
        <label for="auto-create-zone" ng-attr-title="{{'auto-create-zone-tooltip' | translate}}">Auto Create Zone</label>

        <div id="auto-create-zone" class="btn-group btn-group-justified btn-group-toggle-black" role="toggle">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark" ng-class="{'active': dataModel.attachModel.enableZoning}"
                        ng-click="dataModel.attachModel.enableZoning = true">Yes
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark" ng-class="{'active': !dataModel.attachModel.enableZoning}"
                        ng-click="dataModel.attachModel.enableZoning = false">No
                </button>
            </div>
        </div>
    </div>
</div>