<div class="form-group">
    <label>Storage System</label>
    <select class="form-control" ng-model="dataModel.selectedStorageSystem" ng-options="ss.storageSystemId for ss in dataModel.storageSystems" ng-disabled="!dataModel.createModel.storageSystemSelectable">
    </select>
</div>
<div class="dataviz-container pvd">
    <h3 ng-repeat="item in dataModel.summaryModel.arrayDataVisualizationModel.items">{{item.used.label}} <em>
        {{item.used.percentage}} % ({{item.used.percentageCapacity.size}} {{item.used.percentageCapacity.unit}})</em>
    </h3>

    <div class="data-viz polar-data-viz-concentric" ng-if="dataModel.summaryModel">
        <array-polar-data-visualization class="utilization"
                                        ng-model="dataModel.summaryModel.arrayDataVisualizationModel" no-break-down="dataModel.summaryModel.noMoreInfo" no-legend-box="dataModel.summaryModel.noMoreInfo"  ></array-polar-data-visualization>
    </div>
</div>
