<div class="form-group">
    <label>{{'storage-system' | translate}}</label>
    <input class="form-control form-lg" ng-model="dataModel.selectedStorageSystem" ng-disabled="true">
    </input>
</div>
<div class="polar-data-viz-concentric">
    <hsa-array-polar-data-visualization class="utilization dataviz-legend"
                                        ng-model="dataModel.summaryModel.arrayDataVisualizationModel"
                                        no-break-down="dataModel.summaryModel.noBreakdown"
                                        no-legend-box="true"
                                        ng-if="dataModel.filePool">
    </hsa-array-polar-data-visualization>
</div>
<ul class="legend" ng-if="dataModel.filePool">
    <li ng-repeat="keyAndColor in dataModel.keyAndColors">
        <p class="number">
            <svg width="10" height="10">
                <rect width="10" height="10" ng-style="{fill:'{{keyAndColor.color}}'}" />
            </svg>
            {{keyAndColor.key}}
        </p>
    </li>
</ul>

