<div>
    <h2 class="col-md-12 fix">{{'file-systems-add-fill-out-fields' | translate}}</h2>
        <form name="dataModel.validationForm" role="form" class="validation-form select nobg">
            <div class="col-md-12">
                <select class="inline btn-group-justified" ng-model="dataModel.virtualFileServer" ng-disabled="dataModel.defaultEvs">
                    <option class="select" value="">{{'file-systems--add-select-virtual-file-server' | translate}}</option>
                    <!-- TODO: EL uncomment when supported
                    <option class="" value="new">{{'file-systems-add-new-virtual-file-server' | translate}}</option>-->
                    <option class="" ng-repeat="option in dataModel.virtualFileServers" value="{{option.id}}" selected ng-if="dataModel.defaultEvs">{{option.name}}</option>
                    <option class="" ng-repeat="option in dataModel.virtualFileServers" value="{{option.id}}" ng-if="!dataModel.defaultEvs">{{option.name}}</option>
                </select>
            </div>
            <div ng-if="dataModel.virtualFileServer == 'new'">
                <p class="col-md-12 margin-T-B-L">{{'file-systems-add-new-file-server' | translate}}</p>

                <div>
                    <div class="col-md-12">
                            <input type="text" name="ipAddress" class="form-control fixed-line-height"
                                   ng-pattern="dataModel.selectedPattern"
                                   placeholder="{{'common-ip-address' | translate}}"
                                   ng-model="dataModel.ipAddress" required>
                            <p ng-show="dataModel.validationForm.ipAddress.$invalid && !dataModel.validationForm.ipAddress.$pristine"
                               class="validation-text">{{'file-server-invalid-ip' | translate }}</p>
                    </div>
                    <div class="col-md-12 margin-T-B-L">
                            <input type="text" class="form-control fixed-line-height" placeholder="{{'common-name' | translate}}"
                                   name="fileServerName" ng-model="dataModel.virtualFileServerName" ng-minlength="1" ng-maxlength="15" required>
                            <p ng-show="dataModel.validationForm.fileServerName.$invalid && !dataModel.validationForm.fileServerName.$pristine"
                               class="validation-text">{{'file-server-invalid-label' | translate }}</p>
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="subnetMask" class="form-control fixed-line-height" placeholder="{{'common-subnet-mask' | translate}}"
                               ng-pattern="dataModel.subnetPattern"
                               ng-model="dataModel.subnetMask" required ng-disabled="dataModel.ipv6">
                        <p ng-show="dataModel.validationForm.subnetMask.$invalid && !dataModel.validationForm.subnetMask.$pristine && !dataModel.ipv6"
                           class="validation-text">{{'file-server-invalid-subnet' | translate }}</p>
                    </div>
                    <div class="col-md-12 margin-T-B-L">
                        <select class="form-control fixed-line-height" ng-model="dataModel.port"
                                ng-options="port for port in dataModel.ports">
                            <option value="">{{'common-select-port' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <select class="form-control fixed-line-height" ng-model="dataModel.selectedStorageSystem"
                                ng-options="storageSystem for storageSystem in dataModel.storageSystems">
                        </select>
                    </div>
                </div>
            </div>
            <div>
            <div class="col-md-12 margin-T-B-L">
                <input type="text" class="form-control fixed-line-height" placeholder="{{'file-systems-add-type-label' | translate}}"
                       name="label" ng-minlength="1" ng-maxlength="255" ng-model="dataModel.label" ng-class="{'ng-invalid ng-dirty': dataModel.whiteSpace || (!dataModel.label && !dataModel.validationForm.label.$pristine)}" required>
                    <p ng-show="dataModel.validationForm.label.$invalid && !dataModel.validationForm.label.$pristine"
                       class="validation-text">{{'file-systems-invalid-label' | translate }}</p>
                    <p ng-show="dataModel.whiteSpace"
                       class="validation-text">{{'file-systems-space' | translate }}</p>

            </div>
            <div class="col-md-12">
                <select class="inline btn-group-justified" ng-model="dataModel.format"
                        name="format" ng-options="format for format in dataModel.formats">
                    <option value="">{{'file-systems-add-format' | translate}}</option>
                </select>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6 margin-T-B-L">
                    <input type="number" class="form-control fixed-line-height" placeholder="{{'file-systems-add-expansion-limit' | translate}}"
                           name="capacity" ng-min="1" ng-max="1023" ng-model="dataModel.capacity" required>
                    <p ng-show="dataModel.validationForm.capacity.$invalid && !dataModel.validationForm.capacity.$pristine"
                       class="validation-text">{{'file-systems-invalid-capacity' | translate }}</p>
                    <p ng-show="!dataModel.validCapacity"
                       class="validation-text">{{'file-systems-limit-capacity' | translate }}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 margin-T-B-L">
                <select class="pull-right fixed-line-height" ng-model="dataModel.unit"
                        ng-options="unit for unit in dataModel.units">
                </select>
            </div>
            <!-- TODO: EL Will integrate once tiers are done
            <div class="col-lg-7 col-md-7 col-sm-7 cell control">
                <select class="form-control" ng-model="dataModel.poolTier"
                        ng-options="tier for tier in dataModel.poolTiers" ng-click="updatePoolsDropdown()">
                    <option value="">{{'file-systems-add-new-pool-tier' | translate}}</option>
                </select>
            </div> -->
            <div class="col-md-12" ng-if="dataModel.showDropDownColumn">
                <select class="inline btn-group-justified" ng-model="dataModel.filePool" ng-options="filePool.label + ' - ' + filePool.usedCapacityInBytes.size + filePool.usedCapacityInBytes.unit +
                 '/' + filePool.capacityInBytes.size + filePool.capacityInBytes.unit for filePool in dataModel.filePools track by filePool.id" ng-disabled="!dataModel.capacity || dataModel.defaultFilePool">
                    <option value="">{{'file-systems-add-new-pool' | translate}}</option>
                </select>
            </div>
            </div>
        </form>
</div>

