<div class="form-group">
    <label>{{'storage-system' | translate}}</label>
    <label>{{ dataModel.selectedStorageSystem }}</label>
</div>
<div class="form-group">
    <label title="{{ 'file-pools-tooltip' | translate }}">{{'file-pool-label' | translate}}</label>
    <form name="dataModel.validationForm" role="form" class="validation-form">
        <input class="form-control form-lg" ng-model="dataModel.label" name="label"
               ng-minlength="1" ng-maxlength="255" placeholder="{{'file-pool-type-label' | translate}}" required>
        </input>
        <p ng-show="dataModel.validationForm.label.$invalid && !dataModel.validationForm.label.$pristine"
           class="validation-text">{{'file-pool-invalid-label' | translate }}</p>
    </form>
</div>
<div class="polar-data-viz-concentric">
    <array-polar-data-visualization class="utilization dataviz-pdv"
                                    ng-model="dataModel.summaryModel.arrayDataVisualizationModel"
                                    no-break-down="dataModel.summaryModel.noBreakdown" no-legend-box="true" ng-if="!dataModel.expand"></array-polar-data-visualization>
</div>
<ul class="legend" ng-if="!dataModel.expand">
    <li ng-repeat="keyAndColor in dataModel.keyAndColors">
        <p class="number">
            <svg width="10" height="10">
                <rect width="10" height="10" ng-style="{fill:'{{keyAndColor.color}}'}" />
            </svg>
            {{keyAndColor.key}}
        </p>
    </li>
</ul>
<div ng-if="!dataModel.expand">
    <div>
        <label>{{ 'file-pool-estimate-over-commit' | translate }}:</label>
        <label>{{dataModel.subscriptionLimit}}</label>
    </div>
</div>
<div class="smallMarginTop" ng-if="!dataModel.expand">
    <label>{{ 'file-pool-estimate-iops' | translate }}:</label>
    <div ng-if="dataModel.iops[1] !== 0">
        <label>{{ dataModel.selectedPlatinumCapacity.name }}: </label>
        <label>{{ dataModel.iops[1] }}</label>
    </div>
    <div ng-if="dataModel.iops[0] !== 0">
        <label>{{ dataModel.selectedCapacity.name }}: </label>
        <label>{{ dataModel.iops[0] }}</label>
    </div>
</div>


