<div class="scroll-wizard-container">
    <div class="fieldset">
        <!-- IPv4 -->
        <ng-container>
            <label>IPv4 Information</label>
            <div class="label-value-container">
                <label class="label">IPv4 Address</label>
                <input class="form-control" ng-model="dataModel.model.ipv4.address">
            </div>
            <div class="label-value-container">
                <label class="label">Subnet Mask</label>
                <input class="form-control" ng-model="dataModel.model.ipv4.subnetMask">
            </div>
            <div class="label-value-container">
                <label class="label">IPv4 Default Gateway</label>
                <input class="form-control" ng-model="dataModel.model.ipv4.defaultGateway">
            </div>
        </ng-container>

        <!-- IPv6 -->
        <ng-container ng-if="dataModel.model.ipv6Enabled">
            <hr>
            <label>IPv6 Information</label>

            <!-- Link Local -->
            <div class="label-value-container">
                <label class="label">Link Local Address Mode</label>
                <div class="form-control-btn btn-group-sm btn-group-justified">
                    <label class="btn btn-primary"
                           ng-class="{'active': !dataModel.model.ipv6.linklocalManual}">
                        <input hidden type="radio"
                               ng-model="dataModel.model.ipv6.linklocalManual"
                               auto-complete="off"
                               ng-value="false">
                        Auto
                    </label>
                    <label class="btn btn-primary"
                           ng-class="{'active': dataModel.model.ipv6.linklocalManual}">
                        <input hidden type="radio"
                               ng-model="dataModel.model.ipv6.linklocalManual"
                               auto-complete="off"
                               ng-value="true">
                        Manual
                    </label>
                </div>
            </div>
            <div class="label-value-container" ng-if="dataModel.model.ipv6.linklocalManual">
                <label class="label">Link Local Address</label>
                <input class="form-control" ng-model="dataModel.model.ipv6.linklocalAddress">
            </div>

            <!-- Global -->
            <div class="label-value-container">
                <label class="label">Global Address Mode</label>
                <div class="form-control-btn btn-group-sm btn-group-justified">
                    <label class="btn btn-primary"
                           ng-class="{'active': !dataModel.model.ipv6.globalManual}">
                        <input hidden type="radio"
                               ng-model="dataModel.model.ipv6.globalManual"
                               auto-complete="off"
                               ng-value="false">
                        Auto
                    </label>
                    <label class="btn btn-primary"
                           ng-class="{'active': dataModel.model.ipv6.globalManual}">
                        <input hidden type="radio"
                               ng-model="dataModel.model.ipv6.globalManual"
                               auto-complete="off"
                               ng-value="true">
                        Manual
                    </label>
                </div>
            </div>
            <div class="label-value-container" ng-if="dataModel.model.ipv6.globalManual">
                <label class="label">Global Address</label>
                <input class="form-control" ng-model="dataModel.model.ipv6.globalAddress">
            </div>

            <!-- Gateway -->
            <div class="label-value-container">
                <label class="label">IPv6 Default Gateway</label>
                <input class="form-control" ng-model="dataModel.model.ipv6.defaultGateway">
            </div>
        </ng-container>
    </div>
</div>
