<div class="fieldset">
    <div class="label-value-container">

        <div class="label-value-container">
            <label class="label">{{dataModel.selectedVolumes.length}} Selected Volumes</label>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group" ng-repeat="volume in dataModel.selectedVolumes">
                    <a class="btn btn-default btn-dark" tooltip="{{volume.label}}">{{volume.label}}</a>
                </div>
            </div>
        </div>

        <div class="label-value-container">
            <label class="label">Target Pool</label>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group" ng-repeat="pool in dataModel.getSelectedItems()">
                    <a class="btn btn-default btn-dark" tooltip="{{pool.label}}">{{pool.label}}</a>
                </div>
            </div>
        </div>

    </div>

</div>
