<div class="scroll-wizard-container">
    <div class="fieldset">
        <ng-container>
            <div class="label-value-container">
                <label class="label">{{ 'migrate-volumes-label-schedule' | translate}}</label>
                <div class="btn-group btn-group-toggle date-time-control btn-group-justified">
                    <button type="button" class="btn btn-default" ng-model="dataModel.settingModel.scheduleType"
                            btn-radio="'Immediately'" ng-checked="dataModel.settingModel.scheduleType !== 'Scheduled'">
                        {{'migrate-volumes-label-migrate-now' | translate}}
                    </button>
                    <button type="button" class="btn btn-default" ng-model="dataModel.settingModel.scheduleType"
                            btn-radio="'Scheduled'" ng-checked="dataModel.settingModel.scheduleType === 'Scheduled'">
                        {{'migrate-volumes-label-migrate-later' | translate}}
                    </button>
                </div>
            </div>
            <div class="label-value-container" ng-if="dataModel.settingModel.scheduleType === 'Scheduled'">
                <div class="dropdown">
                    <div class="dropdown-toggle" id="startDateFromCalendar" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="From"
                                   data-ng-model="dataModel.settingModel.scheduleDate">
                            <span class="input-group-addon"><i class="icon icon-dashboard"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dataModel.settingModel.scheduleDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#startDateFromCalendar' }"/>
                    </ul>
                </div>
            </div>

            <!-- TODO NEWRAIN-8104: Layout. I want to layout these 2 sets horizontally. How should I do it? -->
            <div class="label-value-container">
                <label class="label">{{'migrate-volumes-label-migration-task-name' | translate}}</label>
                <input class="form-control" ng-model="dataModel.settingModel.migrationTaskName">
            </div>
            <div class="label-value-container">
                <label class="label">{{'migrate-volumes-label-comments' | translate}}</label>
                <input class="form-control" ng-model="dataModel.settingModel.comments">
            </div>
        </ng-container>
    </div>
</div>