<div class="fieldset">
    <div class="label-value-container">

        <div class="label-value-container">
            <label class="label">
                {{'migrate-volumes-label-selected-volumes' | translate:dataModel.selectedVolumes.length}}</label>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group" ng-repeat="volume in dataModel.selectedVolumes">
                    <div class="value disabled col-lg-12">{{volume.label}}</div>
                </div>
            </div>
        </div>

        <div class="label-value-container">
            <label class="label">{{'migrate-volumes-label-target-pool' | translate}}</label>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group" ng-repeat="pool in dataModel.getSelectedItems()">
                    <div class="value disabled col-lg-12">{{pool.label}}</div>
                </div>
            </div>
        </div>

    </div>

</div>
