
<div ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT'">
    <h2>Schedule</h2>
</div>
<div ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT'">
    <div class="btn-group btn-group-toggle btn-group-justified">
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.type" btn-radio="'hour'" ng-disabled="!dataModel.protectModel.copyGroup.useNew">Hourly</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.type" btn-radio="'day'" ng-disabled="!dataModel.protectModel.copyGroup.useNew">Daily</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.type" btn-radio="'week'" ng-disabled="!dataModel.protectModel.copyGroup.useNew">Weekly</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.type" btn-radio="'month'" ng-disabled="!dataModel.protectModel.copyGroup.useNew">Monthly</label>
    </div>
</div>
<div ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT' && dataModel.protectModel.schedule.type === 'week'">
    &nbsp;
</div>
<div ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT' && dataModel.protectModel.schedule.type === 'week'">
    <div class="btn-group-justified">
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Sunday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">SUN</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Monday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">MON</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Tuesday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">TUE</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Wednesday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">WED</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Thursday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">THU</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Friday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">FRI</label>
        <label class="btn btn-default refine" ng-model="dataModel.protectModel.schedule.day.Saturday" btn-checkbox ng-disabled="!dataModel.protectModel.copyGroup.useNew">SAT</label>

    </div>
</div>
<div ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT'">
    &nbsp;
</div>
<div class="clearfix" ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT'">
    <form name="validationForm.rightPanel" role="form" class="validation-form col-lg-3 form-horizontal" ng-if="dataModel.protectModel.schedule.type === 'hour'" novalidate>
        <div class="form-group form-group-lg form-horizontal">
            <label>Every </label>
            <input type="number" class="time-input form-control" name="hourInterval"
                   ng-min="1" ng-max="23" value="1" ng-model="dataModel.protectModel.schedule.hourInterval" placeholder="1 - 23" ng-disabled="!dataModel.protectModel.copyGroup.useNew" required>
        </div>
    </form>
    <form name="validationForm.rightPanel" role="form" class="validation-form col-lg-3 form-horizontal" ng-if="dataModel.protectModel.schedule.type === 'hour'" novalidate>
        <div class="form-horizontal" ng-if="dataModel.protectModel.schedule.type === 'hour'">
            <label>&nbsp;</label>
            <p>Hours</p>
        </div>
    </form>
</div>
<div class="clearfix" ng-if="dataModel.protectModel.replicationTechnology === 'SNAPSHOT' && dataModel.protectModel.schedule.type !== 'hour'">
   <form role="form" class="col-lg-3 form-horizontal" name="inputTimeForm">
       <div class="form-group form-group-lg form-horizontal">
           <label>Start Time </label>
           <input type="text" class="form-control time-input" ng-model="dataModel.protectModel.schedule.time"
                  bs-timepicker placeholder="12:00 AM" ng-disabled="!dataModel.protectModel.copyGroup.useNew">
       </div>
    </form>
    <form name="validationForm.rightPanel" role="form" class="validation-form col-lg-3 form-horizontal" ng-if="dataModel.protectModel.schedule.type === 'month'" novalidate>
        <div class="form-group form-group-lg form-horizontal">
            <label>Day</label>
            <input type="number" class="time-input form-control" name="date"
                   ng-min="1" ng-max="31" value="1" ng-class="{'ng-invalid ng-dirty': dateValidation}"
                   ng-model="dataModel.protectModel.schedule.dayOfMonth" placeholder="1 - 31" ng-disabled="!dataModel.protectModel.copyGroup.useNew" required>
        </div>
    </form>
</div>
<div ng-if="dataModel.protectModel.replicationTechnology !='NONE'" class="clearfix">
    <form role="form" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-horizontal">
        <div class="form-group form-group-lg" ng-if="dataModel.showDropDownColumn">
            <label>{{'valid-copy-group-name' | translate }}</label>
            <select class="form-control" ng-model="dataModel.protectModel.copyGroup"
                    ng-options="cg.name for cg in dataModel.protectModel.validCopyGroups">
            </select>

        </div>
    </form>
    <form name="validationForm.rightPanel" role="form" class="validation-form col-lg-4 col-md-4 col-sm-4 col-xs-12 form-horizontal" novalidate>
        <div class="form-group form-group-lg">
            <label>&nbsp;</label>
            <input name="copyGroupName" type="text" class="form-control" ng-model="dataModel.protectModel.copyGroupName" required
                   placeholder="{{'valid-copy-group-name' | translate }}" ng-if="dataModel.protectModel.copyGroup.useNew" ng-maxlength="26"
                   ng-pattern="dataModel.copyGroupNameRegexp" maxlength="26">
            <p ng-show="validationForm.rightPanel.copyGroupName.$invalid && !validationForm.rightPanel.copyGroupName.$pristine"
               class="validation-text">{{'invalid-protect-volume-copy-group-message' | translate }}</p>
        </div>
    </form>
</div>
<div>
    <h2>Volumes</h2>
</div>
<div class="tile-view list-view">
    <div class="tile row row-tile column-headers">
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
            <p># of Vol.</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p>Label</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
            <p>Label Suffix</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
            <p>Size</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p>Pool Type</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs cell">
            <p>Tier</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs cell">
            <p>Pool</p>
        </div>
    </div>
    <div class="tile row row-tile removable disabled" ng-repeat="volumeGroup in dataModel.protectModel.selectedVolumes">
        <div class="col-lg-1 col-md-1 col-sm-1 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.noOfVolumes" title="number of volumes">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.label" title="volumes name">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-3 cell control">
            <input type="number" class="form-control" disabled="disabled" ng-model="volumeGroup.suffix">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.size.getDisplayText()">

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.poolType">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.tierDisplayName()">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 cell control">
            <input type="text" class="form-control" disabled="disabled" ng-value="volumeGroup.pool.poolLabel" ng-if="volumeGroup.pool">
            <input type="text" class="form-control" disabled="disabled" value="Auto Selected" ng-if="!volumeGroup.pool">
        </div>
    </div>
</div>
