<div class="fieldset">
    <!-- HOST MODE -->
    <div class="label-value-container">
        <label class="label">Host Mode</label>
        <select class="form-control"
                ng-model="dataModel.selectedHostMode"
                ng-options="m for m in dataModel.hostModeCandidates">
        </select>
    </div>

    <!-- HOST MODE OPTIONS -->
    <div class="label-value-container">
        <label class="label">Host Mode Option</label>
        <select class="form-control"
                ng-model="dataModel.selectedHostModeOptions"
                ng-change="dataModel.checkSelectedHostModeOptions(dataModel)"
                ng-options="hmo.id as hmo.displayName for hmo in dataModel.hostModeOptionCandidates"
                multiple>
        </select>
    </div>

    <!-- Auto Create Zone -->
    <div class="label-value-container" ng-if="dataModel.selectedProtocol === 'FIBRE'">
        <label class="label" for="auto-create-zone" ng-attr-title="{{'auto-create-zone-tooltip' | translate}}">Auto
            Create Zone</label>
    </div>
    <div id="auto-create-zone" class="btn-group btn-group-justified" data-toggle="buttons"
         ng-if="dataModel.selectedProtocol === 'FIBRE'">
        <label class="btn btn-primary btn-dark" ng-model="dataModel.autoCreateZone"
               btn-radio="true">
            <input autocomplete="off" checked="" type="radio"/>Yes
        </label>
        <label class="btn btn-primary btn-dark" ng-model="dataModel.autoCreateZone"
               btn-radio="false">
            <input autocomplete="off" checked="" type="radio"/>No
        </label>
    </div>

    <!-- LUNS -->
    <div class="label-value-container">
        <label class="label">ID / CAPACITY</label>
        <label ng-repeat="l in dataModel.selectedLuns" class="value"
               title="{{l.externalDeviceId}} / {{l.displayCapacity}}">
            {{ l.externalDeviceId }} / {{ l.displayCapacity }}
        </label>
    </div>
</div>
