<div class="fieldset">
    <!-- HOST MODE -->
    <div class="label-value-container">
        <label class="label">Host Mode</label>
        <select class="form-control"
                ng-model="dataModel.selectedHostMode"
                ng-options="m for m in dataModel.hostModeCandidates">
        </select>
    </div>

    <!-- HOST MODE OPTIONS -->
    <div class="label-value-container">
        <label class="label">Host Mode Option</label>
        <select class="form-control"
                ng-model="dataModel.selectedHostModeOptions"
                ng-options="hmo.id as hmo.displayName for hmo in dataModel.hostModeOptionCandidates"
                multiple>
        </select>
    </div>

    <!-- LUNS -->
    <div class="label-value-container">
        <label class="label">Lun / Capacity / ID</label>
        <label ng-repeat="l in dataModel.selectedLuns" class="value"
               title="{{l.lunId}} / {{l.displayCapacity}} / {{l.eVolIdC}}">
            {{ l.lunId }} / {{ l.displayCapacity }} / {{ l.eVolIdC }}
        </label>
    </div>
</div>
