<div class="header-row">
    <div class="view">
        <h2>{{'Select Target Ports' | translate}}</h2>
    </div>
    <div class="pull-right margin-L-R view-side">
        <select class="form-control smallEmMarginLeft"
                ng-model="dataModel.selectedProtocol"
                ng-change="dataModel.onProtocolChange()"
                ng-options="p.key as p.display for p in dataModel.protocolCandidates">
        </select>
    </div>
</div>
<div class="scroll-wizard-container">
    <label class="smallMarginTop" ng-if="dataModel.displayList.length && dataModel.isAllSelected && dataModel.toggleSelectAll">
        <input type="checkbox"
               ng-checked="dataModel.isAllSelected()"
               ng-click="dataModel.toggleSelectAll()"
        >
        {{ 'inventoryview-select-all' | translate }}
    </label>
    <div class="inventory tiles-view">
        <div class="tile-container flex-grid inventory-panel" infinite-scroll='dataModel.loadMore()'
             infinite-scroll-distance='1' infinite-scroll-container="'.scroll-wizard-container'">
            <div class="tile resource-tile" ng-repeat="item in dataModel.displayList track by $index">
                <ng-include src="'views/templates/inventory-item-tile.html'"></ng-include>
            </div>
            <div class="tile resource-tile invisible">&nbsp;</div>
        </div>
        <div class="controls-column filter-panel"
             ng-include="'views/templates/ports-view-search-panel.html'">
        </div>
    </div>
</div>
