<div class="fieldset">
    <div class="label-value-container" ng-if="!dataModel.isAddExtVolume">

        <!--select FC or iSCSI-->
        <div class="form-group">
            <label for="storage-type">Select Type</label>
            <select class="form-control" id="storage-type" ng-model="dataModel.selectedType"
                    ng-init="dataModel.selectedType = dataModel.type[0]"
                    ng-options="pt | translate for pt in dataModel.type"
                    ng-change="dataModel.switchType(true); ">
            </select>
        </div>

        <div class="label-value-container">
            <label class="label">{{dataModel.selectedVolumes.length}} Selected Volumes</label>
            <div class="btn-group btn-full-width" role="group">
                <div class="btn-group btn-full-width" role="group" ng-repeat="volume in dataModel.selectedVolumes">
                    <a class="btn btn-default btn-dark btn-full-width" tooltip="{{volume.label}}">{{volume.label}}</a>
                </div>
            </div>
        </div>



        <div class="label-value-container">
            <label for="target-array" class="label">Target Storage System</label>
            <select id="target-array"
                    class="value form-control"
                    ng-model="dataModel.selectedTarget"
                    ng-options="storageSystem as storageSystem.storageSystemName for storageSystem in
                    dataModel.storageSystems track by storageSystem.storageSystemId">
            </select>
        </div>
    </div>

    <div class="label-value-container" ng-if="dataModel.isAddExtVolume">
        <!--select FC or iSCSI(Create External Volume)-->
        <div class="form-group">
            <label for="storage-type">Select Type</label>
            <select class="form-control" ng-model="dataModel.selectedType"
                    ng-init="dataModel.selectedType = dataModel.type[0]"
                    ng-options="pt | translate for pt in dataModel.type"
                    ng-change="dataModel.switchPortType(); ">
            </select>
        </div>
    </div>

</div>