<div class="header-row">
        <h2>{{'workflow-title-select-servers' | translate}}</h2>
</div>
<div class="scroll-wizard-container">
    <label class="smallMarginTop"
           ng-if="dataModel.isAllSelected && dataModel.toggleSelectAll">
        <input type="checkbox"
               ng-checked="dataModel.isAllSelected()"
               ng-click="dataModel.toggleSelectAll()"
        >
        {{ 'inventoryview-select-all' | translate }}
    </label>
    <div class="inventory tiles-view">
        <div class="tile-container flex-grid inventory-panel" infinite-scroll='dataModel.loadMore()'
             infinite-scroll-distance='1' infinite-scroll-container="'.scroll-wizard-container'">
            <div class="tile resource-tile" ng-repeat="item in dataModel.displayList">
                <ng-include src="'views/templates/inventory-item-tile.html'"></ng-include>
            </div>
            <div class="tile resource-tile invisible">&nbsp;</div>
        </div>
        <div class="controls-column filter-panel"
             ng-include="'views/templates/hosts-view-search-panel.html'">
        </div>
    </div>
</div>
