<div ng-if="dataModel.displayedDpType !== null && dataModel.displayedDpType !== ''" class="alert alert-warning" role="alert">
    <h2 class="warning">{{ 'storage-volume-protected-cannot-expand' | translate}}</h2>
</div>

<form role="form">
    <div class="form-horizontal top clearfix">
        <div class="form-horizontal">
            <div ng-if="dataModel.displayedDpType === null || dataModel.displayedDpType === ''">
                <h2 class="col-xs-12">{{ 'storage-volume-update-expand' | translate}}</h2>
            </div>

            <div class="form-group col-xs-4">
                <h2 class="col-xs-12">{{ 'storage-volume-update-current-size' | translate}}</h2>
                <div class="form-horizontal">
                    <div class="form-group col-xs-6 form-group-lg">
                        <input type="number" class="form-control" ng-disabled="true"
                               ng-model="dataModel.totalCapacity.decimalSize">
                    </div>
                    <div class="form-group col-xs-6 form-group-lg">
                        <select type="text" class="form-control" ng-disabled="true" ng-model="dataModel.totalCapacity.unit">
                            <option value="GB">GB</option>
                            <option value="TB">TB</option>
                            <option value="PB">PB</option>
                        </select>
                    </div>
                </div>
            </div>

            <div ng-if="dataModel.displayedDpType === null || dataModel.displayedDpType === ''">
                <div class="form-group col-xs-4">
                    <h2 class="col-xs-12">{{ 'storage-volume-update-new-size' | translate}}</h2>
                    <div class="form-horizontal">
                        <div class="form-group col-xs-6 form-group-lg">
                            <input type="number" class="form-control"
                                   ng-model="dataModel.updateModel.totalCapacity.decimalSize"
                                   ng-disabled="checkUnProtected()">
                        </div>
                        <div class="form-group col-xs-6 form-group-lg">
                            <select type="text" class="form-control" ng-model="dataModel.updateModel.totalCapacity.unit"
                                    ng-disabled="checkUnProtected()">
                                <option value="GB">GB</option>
                                <option value="TB">TB</option>
                                <option value="PB">PB</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="dataModel.belongsPoolType === 'HDP'">
                    <h2 class="row section col-xs-12"></h2>

                    <h2 class="col-xs-12">{{ 'storage-volume-update-change-compression' | translate}}</h2>

                    <div class="form-group col-xs-4">
                        <h2 class="col-xs-12">{{ 'storage-volume-update-compression-current' | translate}}</h2>
                        <div class="form-horizontal">
                            <div class="form-group col-xs-12 form-group-lg">
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="dataModel.dataSavingTypeValuePair.label | translate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-4">
                        <h2 class="col-xs-12">{{ 'storage-volume-update-compression-new' | translate}}</h2>
                        <div class="form-horizontal">
                            <div class="form-group col-xs-12 form-group-lg">
                                <select type="text" class="form-control" ng-model="dataModel.updateModel.dataSavingTypeValuePair"
                                    ng-options="type as type.label | translate for type in dataModel.updateModel.dataSavingTypeValuePairs">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
