<div ng-if="dataModel.displayedDpType !== null && dataModel.displayedDpType !== ''" class="alert alert-warning" role="alert">
    <h3 class="">{{ 'storage-volume-protected-cannot-expand' | translate}}</h3>
</div>

<form role="form" class="input-panel">

    <div class="section-label" ng-if="dataModel.displayedDpType === null || dataModel.displayedDpType === ''">
        <h4>{{ 'storage-volume-update-expand' | translate}}</h4>
    </div>

    <fieldset class="fieldset label-value-container">
        <label class="label">{{ 'storage-volume-update-current-size' | translate}}</label>
        <div class="form-h-align">
            <input type="number" class="form-control" ng-disabled="true"
                       ng-model="dataModel.totalCapacity.decimalSize">
            <div class="dropdown">
                <button id="current-size" class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" ng-disabled="true">
                    {{dataModel.totalCapacity.unit}}
                </button>
            </div> 
        </div>
    </fieldset>

    <fieldset class="fieldset label-value-container"  ng-if="dataModel.displayedDpType === null || dataModel.displayedDpType === ''">
        <label class="label">{{ 'storage-volume-update-new-size' | translate}}</label>
        <div class="form-h-align">
            <input type="number" class="form-control" ng-model="dataModel.updateModel.totalCapacity.decimalSize" ng-disabled="checkUnProtected()">
            <div class="dropdown">
                <button id="new-size" class="btn dropdown-toggle" type="button" data-toggle="dropdown" ariahaspopup="true" aria-expanded="false">
                    {{dataModel.updateModel.totalCapacity.unit}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="new-size" ng-disabled="checkUnProtected()">
                    <li ng-repeat="unit in dataModel.updateModel.volumeSizeUnits">
                        <a ng-click="dataModel.updateModel.setSizeUnit(unit)">{{unit}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
</form>
<form class="input-panel"  ng-if="dataModel.belongsPoolType === 'HDP'">
    <div class="section-label">
        <h4>{{ 'storage-volume-update-change-compression' | translate}}</h4>
    </div> 
    
    <fieldset class="fieldset label-value-container">
        <label class="label">{{ 'storage-volume-update-compression-current' | translate}}</label>
        <input type="text" class="form-control" ng-disabled="true"
                           ng-model="dataModel.dataSavingTypeValuePair.label | translate">
    </fieldset>
    
    <fieldset class="fieldset label-value-container">
        <label class="label">{{ 'storage-volume-update-compression-new' | translate}}</label>
        <select type="text" ng-model="dataModel.updateModel.dataSavingTypeValuePair"
                        ng-options="type as type.label | translate for type in dataModel.updateModel.dataSavingTypeValuePairs">
        </select>
    </fieldset>
</form>
