<div class="add-resource-pattern">
    <div class="input-panel validation-scope">

        <fieldset class="fieldset label-value-container">
            <label for="storage-systems" class="label">{{'storage-systems' | translate}}</label>
            <div class="dropdown">
                <button id="storage-systems" class="btn btn-block dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{dataModel.getSelectedItems()[0].storageSystemId}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="storage-systems">
                    <li ng-repeat="ss in dataModel.getSelectedItems()">
                        <a ng-click="dataModel.setStorageSystems(ss)">
                            {{ss.storageSystemId}}</a>
                    </li>
                </ul>
            </div>
        </fieldset>

        <fieldset class="fieldset label-value-container">
            <label for="number-host-volumes" class="label">{{'number-of-volumes' | translate}}</label>
            <input id="number-host-volumes" class="form-control" placeholder="eg. 100" type="number" min="0" max="256"
                   ng-model="dataModel.numberOfVolumes"/>
        </fieldset>

    </div>
    <div class="tile control-tile add-button-hack" ng-click="dataModel.add()">
        <div class="tile-button add-resource">
            <svg class="resource-icon" version="1.1" x="0px" y="0px" viewBox="0 0 70 70" transform="scale(1, 1)" xml:space="preserve">
                <polygon class="add-lg" points="70,32 38,32 38,0 32,0 32,32 0,32 0,38 32,38 32,70 38,70 38,38 70,38 ">
                </polygon>
            </svg>
        </div>
    </div>

</div>

<div class="work-panel">
    <div class="scroll-wizard-container" ng-include="'views/templates/undefined-add-volumes-to-vsm-list.html'"></div>
</div>