<div>
    <h2 class="smallerEmMarginLeft fix">{{'share-change-permission-type' | translate}}</h2>
    <div class="scroll-wizard-container bottom-4">
    <inventory-page ng-model="dataModel" usage-graphs="usageGraphs"
                    filter-template="views/inventory-templates/permissions-filter.html">
    </inventory-page>
    </div>
    <div class="thresholds fixed-control toggle-controls">
        
            <div class="tile control-tile">
                <p>{{ 'share-full-control' | translate }}</p>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    
                        <label class="btn btn-primary btn-light" data-ng-class="{'active' : dataModel.permission.allow[0]}" ng-click="dataModel.change(true, 'full')">
                            <input name="share" type="radio" checked autocomplete="off" ng-model="dataModel.permission.allow[0]">
                            {{ 'share-allow' | translate }}
                        </label>
                    
                    
                        <label class="btn btn-primary btn-light" data-ng-class="{'active' : dataModel.permission.deny[0]}" ng-click="dataModel.change(false, 'full')">
                            <input name="share" type="radio" checked autocomplete="off"  ng-model="dataModel.permission.deny[0]">
                            {{ 'share-deny' | translate }}
                        </label>
                    
                </div>
            </div>
            <div class="tile control-tile">
                <p>{{ 'share-change' | translate }}</p>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    
                        <label class="btn btn-primary btn-light" data-ng-class="{'active' : dataModel.permission.allow[1]}" ng-click="dataModel.change(true, 'change')">
                            <input name="change" type="radio" checked autocomplete="off" ng-model="dataModel.permission.allow[1]" >
                            {{ 'share-allow' | translate }}
                        </label>
                    
                    
                        <label class="btn btn-primary btn-light" data-ng-class="{'active' : dataModel.permission.deny[1]}" ng-click="dataModel.change(false, 'change')">
                            <input name="change" type="radio" checked autocomplete="off" ng-model="dataModel.permission.deny[1]">
                            {{ 'share-deny' | translate }}
                        </label>
                   
                </div>
            </div>
            <div class="tile control-tile">
                <p>{{ 'share-read' | translate }}</p>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    
                        <label class="btn btn-primary btn-light" data-ng-class="{'active' : dataModel.permission.allow[2]}" ng-click="dataModel.change(true, 'read')">
                         <input id="read-allow" name="read" type="radio" checked autocomplete="off" ng-model="dataModel.permission.allow[2]">
                            {{ 'share-allow' | translate }}
                        </label>
                        <label class="btn btn-primary btn-light" data-ng-class="{'active' : dataModel.permission.deny[2]}" ng-click="dataModel.change(false, 'read')">
                            <input name="read" type="radio" checked autocomplete="off" ng-model="dataModel.permission.deny[2]">
                            {{ 'share-deny' | translate }}
                        </label>
                    
                </div>
            </div>
        
    </div>
</div>
