<div class="summary-container-condensed">
    <div class="data-viz-container">
        <svg class="bdv" viewbox="0 0 600 50" transform="scale(1)" preserveAspectRatio="xMinYMin meet">
            <rect class="data file-overcommitted" x="0" y="0" rx="23" ry="23" width="99%" height="45"/>
            <rect class="data file-allocated" x="0" y="0" rx="23" ry="23" ng-attr-width="{{model.allocated}}" height="45"/>
            <rect id="usedBar" class="data file-used" x="0" y="0" rx="23" ry="23" ng-attr-width="{{model.used}}" height="45"
                  data-toggle="popover" data-container="body"/>
            <text class="bdv-label" text-anchor="middle" x="300" y="33">{{model.capacityInBytes.size}} {{model.capacityInBytes.unit}} Total</text>
        </svg>
    </div>
    <div class="legend" ng-if="!model.noDataBarLegend && !model.bottomLegend">
        <ul class="auto-columns">
            <li class="legend-item file-used related-btn-group">{{model.usedLegend}}</li>
            <li class="legend-item file-allocated related-btn-group">{{model.allocatedLegend}}</li>
            <li class="legend-item file-overcommitted related-btn-group" ng-if="!model.onlyShowTwoBars">{{model.overCommitLegend}}</li>
        </ul>
    </div>
</div>
<div class="legend" ng-if="!model.noDataBarLegend && model.bottomLegend">
    <ul class="auto-columns">
        <li class="legend-item file-used related-btn-group">{{model.usedLegend}}</li>
        <li class="legend-item file-allocated related-btn-group">{{model.allocatedLegend}}</li>
        <li class="legend-item file-overcommitted related-btn-group" ng-if="!model.onlyShowTwoBars">{{model.overCommitLegend}}</li>
    </ul>
</div>
