<!-- Modal confirming deleting selected dialog -->
<div class="modal fade confirmation" id="{{modalId}}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title"><span class="icon icon-warning warning-state"></span>{{ title }}</h1>
            </div>
            <div class="modal-body" id="selectionMessage">
                {{ content }}
                <div class="btn-group btn-group-toggle btn-group-justified" ng-if="!requireSelection">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="switchEnabled"
                               btn-radio="true" uncheckable>{{ trueText }}
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="switchEnabled"
                               btn-radio="false" uncheckable>{{ falseText }}
                        </label>
                    </div>
                </div>
                <div class="btn-group btn-group-toggle btn-group-justified" id="selection" ng-if="requireSelection">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="switchEnabled"
                               btn-radio="true">{{ trueText }}
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="switchEnabled"
                               btn-radio="false">{{ falseText }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                <button type="button" class="btn btn-default nomargin active"  tabindex="1" data-dismiss="modal">{{ 'cancel-button' | translate}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clickOk(); confirmClick()">{{ 'ok-button' | translate}}</button>
               </div>
            </div>
        </div>
    </div>
</div>