<div class="col-lg-9 col-md-8 col-sm-7 tile-container flex-grid">
    <div class="tile resource-tile short" ng-repeat="disk in model.disksList | parityGroupsDisksSearch:model.search">
        <div class="tile-row status-bar">
            <div class="btn-group">
                <label class="btn icon-btn checkbox" ng-click="disk.selected = !disk.selected"
                       ng-class="{'active' : disk.selected}"></label>
            </div>
        </div>
        <div class="tile-row identity">
            <div class="btn-group pull-left">
                <p><em>{{disk.diskId}}</em></p>
            </div>
            <div class="btn-group pull-right">
                <p><em>{{disk.purpose}}</em></p>
            </div>
        </div>
        <div class="tile-row resource-info min-height">
            <h2>{{disk.type}}</h2>
            <h2>{{disk.convertedDiskCapacity.size}}<sup>{{disk.convertedDiskCapacity.unit}}</sup></h2>
            <h2>{{disk.speedOnly}}<sup>{{disk.speedUnitOnly}}</sup></h2>
        </div>
        <div class="icon icon-disk-status icon-lg col-margin"></div>
        <div class="tile-row resource-info">
        <div class="tile-row carousel-indicator hidden"></div>
        </div>
    </div>
</div>