<div class="controls-column">
    <form role="search">
        <div class="form-group search">
            <input type="text" class="form-control" placeholder="Search"
                   ng-model="model.search.freeText">
            <button type="submit" class="icon icon-btn icon-search pull-right"></button>
        </div>
    </form>

    <!--Control group: Total capacity of Parity Group Input-->
    <div class="control-group">
        <h3>{{ 'parity-group-disk-capacity' | translate}}<span class="read-only">
            {{model.search.totalCapacity.min}} - {{model.search.totalCapacity.max}} {{model.search.totalCapacity.unit}}
        </span>
        </h3>

        <div id="parity-group-capacity-range" class="slider-range range-slider-control"
             two-knob-slider=""
             slider-min="model.search.totalCapacity.min"
             slider-max="model.search.totalCapacity.max"
             ng-model-min="model.search.totalCapacity.min"
             ng-model-max="model.search.totalCapacity.max">
        </div>

        <div class="btn-group btn-group-toggle btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="model.search.totalCapacity.unit"
                        btn-radio="'GB'">{{ 'common-gb' | translate}}
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="model.search.totalCapacity.unit"
                        btn-radio="'TB'">{{ 'common-tb' | translate}}
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="model.search.totalCapacity.unit"
                        btn-radio="'PB'">{{ 'common-pb' | translate}}
                </button>
            </div>
        </div>
    </div>

    <div class="column-control top-m">
        <select ng-model="model.search.type"
                ng-options="dt for dt in model.uniqueDiskTypes"
                ng-if="model.uniqueDiskTypes">
            <option value="">Disk Type</option>
        </select>
    </div>
    <div class="column-control">
        <select ng-model="model.search.speed"
                ng-options="ds for ds in model.uniqueDiskSpeeds"
                ng-if="model.uniqueDiskSpeeds">
            <option value="">Disk Speed</option>
        </select>
    </div>
</div>