<div class="summary-container-default summary-panel expand">
    <!-- First-tile-->
    <div class="alert-tile capacity" ng-class="capacityPanelState.state" ng-click="launchMonitoringPage('capacity', summaryModel.alerts.capacity.count)">
        <div class="status-and-detail">
            <div class="tile alert capacity alert-tile-capacity-bkg flex-column"
                 ng-class="summaryModel.alerts.capacity.level" id="capacity">
                <h2>Capacity</h2>

                <div class="alert-icon">
                    <svg class="radial-svg alert-count resource-icon alert-panel-alert" viewBox="0 0 60 60"
                         preserveAspectRatio="xMidYMid meet">
                        <g class="healthy-alert" transform="scale(1, 1)">
                            <circle fill="none" cx="30" cy="30" r="30"/>
                            <path class="healthy"
                                  d="M30,5C16.2,5,5,16.2,5,30s11.2,25,25,25s25-11.2,25-25S43.8,5,30,5z M23.9,42.1L12.2,30.3l1.2-1.2l10.6,10.6l21.2-21.2  l1.2,1.2L23.9,42.1z"/>
                        </g>
                        <g class="error-alert" cursor="pointer">
                            <defs>
                                <filter id="shadow" x="-.1" y="-.1" width="140%" height="140%">
                                    <feOffset result="offOut" in="SourceAlpha" dx="0" dy="0"/>
                                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"/>
                                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal"/>
                                </filter>
                            </defs>
                            <circle class="alert" cx="30" cy="30" r="24" filter="url(#shadow)" opacity="1"/>
                            <text class="alert-label" text-anchor="middle" y="36" x="30" width="100">
                                {{summaryModel.alerts.capacity.count}}
                            </text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="icon-toolbar footer">
            <ul class="icon-row">
                <li class="alert"><span class="icon icon-sm icon-small-triangle"></span>
                    {{summaryModel.alerts.capacity.count}}
                </li>
            </ul>
            <button class="btn icon-btn icon-sm" ng-class="capacityPanelState.arrow"
                    title="{{capacityPanelState.title}}"></button>
        </div>
    </div>
    <!-- Second-tile-->
    <div class="alert-tile data-protection" ng-class="dpPanelState.state">
        <div class="status-and-detail">
            <div class="tile alert data-protection alert-tile-data-protection-bkg flex-column"
                 ng-class="summaryModel.alerts.dp.level" id="data-protection">
                <h2>Data Protection</h2>

                <div class="alert-icon" ng-click="toggleAction(DP_ID)">
                    <svg class="radial-svg alert-count resource-icon alert-panel-alert" viewBox="0 0 60 60"
                         preserveAspectRatio="xMidYMid meet">
                        <g class="healthy-alert" transform="scale(1, 1)">
                            <circle fill="none" cx="30" cy="30" r="30"/>
                            <path class="healthy"
                                  d="M30,5C16.2,5,5,16.2,5,30s11.2,25,25,25s25-11.2,25-25S43.8,5,30,5z M23.9,42.1L12.2,30.3l1.2-1.2l10.6,10.6l21.2-21.2  l1.2,1.2L23.9,42.1z"/>
                        </g>
                        <g class="error-alert" cursor="pointer">
                            <defs>
                                <filter id="shadow" x="-.1" y="-.1" width="140%" height="140%">
                                    <feOffset result="offOut" in="SourceAlpha" dx="0" dy="0"/>
                                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"/>
                                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal"/>
                                </filter>
                            </defs>
                            <circle class="alert" cx="30" cy="30" r="24" filter="url(#shadow)" opacity="1"/>
                            <text class="alert-label" text-anchor="middle" y="36" x="30" width="100">
                                {{summaryModel.alerts.dp.count}}
                            </text>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="tile-details">
                <carousel interval="interval">
                    <slide ng-repeat="slide in summaryModel.slides" active="slide.active">
                        
                            <div class="alert-detail-tile" ng-repeat="item in slide.items">
                                <dp-multi-carousel-item ng-model="item"></dp-multi-carousel-item>
                            </div>
                       
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="icon-toolbar footer">
            <ul class="icon-row">
                <li class="alert"><span class="icon icon-sm icon-small-triangle"></span> {{summaryModel.alerts.dp.count}}
                </li>
            </ul>
            <button class="btn icon-btn icon-sm" ng-class="dpPanelState.arrow" title="{{dpPanelState.title}}"
                    ng-click="toggleAction(DP_ID)"></button>
        </div>
    </div>
    <!-- Third-tile-->
    <div class="alert-tile hardware" ng-class="hardwarePanelState.state" ng-click="launchMonitoringPage('hardware', summaryModel.alerts.hardware.count)">
        <div class="status-and-detail">
            <div class="tile alert hardware alert-tile-hardware-bkg flex-column"
                 ng-class="summaryModel.alerts.hardware.level" id="hardware">
                <h2>Hardware</h2>

                <div class="alert-icon">
                    <svg class="radial-svg alert-count resource-icon alert-panel-alert" viewBox="0 0 60 60"
                         preserveAspectRatio="xMidYMid meet">
                        <g class="healthy-alert" transform="scale(1, 1)">
                            <circle fill="none" cx="30" cy="30" r="30"/>
                            <path class="healthy"
                                  d="M30,5C16.2,5,5,16.2,5,30s11.2,25,25,25s25-11.2,25-25S43.8,5,30,5z M23.9,42.1L12.2,30.3l1.2-1.2l10.6,10.6l21.2-21.2  l1.2,1.2L23.9,42.1z"/>
                        </g>
                        <g class="error-alert" cursor="pointer">
                            <defs>
                                <filter id="shadow" x="-.1" y="-.1" width="140%" height="140%">
                                    <feOffset result="offOut" in="SourceAlpha" dx="0" dy="0"/>
                                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"/>
                                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal"/>
                                </filter>
                            </defs>
                            <circle class="alert" cx="30" cy="30" r="24" filter="url(#shadow)" opacity="1"/>
                            <text class="alert-label" text-anchor="middle" y="36" x="30" width="100">
                                {{summaryModel.alerts.hardware.count}}
                            </text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="icon-toolbar footer">
            <ul class="icon-row">
                <li class="alert"><span class="icon icon-sm icon-small-triangle"></span>
                    {{summaryModel.alerts.hardware.count}}
                </li>
            </ul>
            <button class="btn icon-btn icon-sm" ng-class="hardwarePanelState.arrow" title="{{hardwarePanelState.title}}"></button>
        </div>
    </div>
</div>
