<accordion>
    <accordion-group close-others="oneAtATime"
                     ng-repeat="option in model.diskSizesByTier" is-open="option.open"
                     is-disabled="option.disabled">
        <accordion-heading>
            <div class="col-lg-1 col-md-1 col-sm-1 expander-button">
                <button class="btn btn-clean icon-btn icon-xsm nobg" ng-class="{
                                        'icon-caret-collapsed collapsed' :!option.open ,
                                        'icon-caret-expanded expanded' : option.open }"
                        ng-click="option.resetExpanded($event)"
                        role="button"></button>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 accordion-header-column2">
                <p class="v-centered ellipsis" title="{{option.name}}">{{option.name}}</p>
                <disk-size ng-model="option.selectedSize" wrapped-in="p"></disk-size>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 icon icon-warning" title="{{model.warning}}"
                 ng-if="(model.selectedCapacity.raidLevel !== 'RAID6' && option.name === model.selectedCapacity.name) ||
                 (model.selectedPlatinumCapacity && model.selectedPlatinumCapacity.raidLevel !== 'RAID6' && option.name === 'Platinum')"></div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <disk-size class="vertical-centered" wrapped-in="p" ng-model="option.maxAvailableSize" post-fix="Available"></disk-size>
            </div>
        </accordion-heading>

        <div class="btn-group radio-btn-array"
             data-toggle="buttons">
            <label class="flex-btn btn tier-selection"
                   ng-repeat="ds in option.diskSizes|orderBy:'requestedCapacity.value'"
                   ng-class="{'active': ds.checked}"
                   ng-click="$parent.option.onOptionSelected(ds, model, option)">

                <input type="radio"
                       ng-model="$parent.option.selectedSize"
                       ng-value="ds">
                <disk-size ng-model="ds.requestedCapacity" wrapped-in="span"></disk-size>
            </label>
        </div>

        <div class="accordion-panel-footer">
            <!--icon-collapse need to be changed to icon-caret-up or other better icon-->
            <div class="btn btn-clean icon-btn pull-right nobg"
                 ng-class="{'icon-more' : !option.expanded, 'icon-delete' : option.expanded}"
                 ng-click="option.toggleExpanded(option, $event)">
            </div>
        </div>

    </accordion-group>
    <!--Wizard list tile option-->
</accordion>