
    <div class="tile tile-grid">
        <a ng-attr-href="#/hosts/{{model.serverId}}">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 resource-tile-left">
            <h2 ng-attr-title="{{'hosts-label' | translate}}">{{model.serverLabel}}</h2>
                <p>{{model.osType}}</p>
            <p class="icon icon-lg pull-bottom" ng-class="{'icon-windows' : model.osType =='HP_UX' || model.osType =='SOLARIS' || model.osType =='AIX' || model.osType =='TRU64',
            'icon-unix' : model.osType =='WIN' || model.osType =='WIN_EX' || model.osType =='LINUX' || model.osType =='VMWARE' || model.osType =='VMWARE_EX' || model.osType =='NETWARE' || model.osType =='OVMS'}"></p>
            <p>{{model.attachedVolumeCount}}</br>
                    volumes</p>
        </div>
        </a>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 resource-tile-right">
            <input type="checkbox" ng-model="model.selected" ng-change="select()">
            <p class="icon icon-md pull-right clearfix" ng-class="{'icon-small-diamond': model.dpStatus === 'Failed'}"></p>
            <p>{{model.displayedDpType}}</p>
            <p class="icon icon-host icon-lg pull-right"></p>
        </div>
    </div>
