<application-stage>
    <div class="above-the-fold">
        <page-title>
            <inventory-actions ng-model="summaryModel" at-top="true"></inventory-actions>
        </page-title>
        <ng-include src="summaryTemplate" ng-if="summaryTemplate"></ng-include>
    </div>
    <div class="inventory tiles-view clearfix" ng-if="dataModel">
        <h2 ng-if="dataModel.showRelatedResourcesHeader">{{ 'related-resources' | translate }}</h2>
        <div class="row page-title">
            <div class="btn-toolbar horizontal btn-group pull-left" ng-class="{'with-dividers': !dataModel.onlyOperation}">
                <div class="checkbox" ng-if="!dataModel.onlyOperation">
                    <label>
                        <input type="checkbox" ng-model="dataModel.shouldSelectAll"
                               ng-change="dataModel.toggleSelectAll()">Select All
                    </label>
                </div>
                <inventory-actions ng-model="dataModel"></inventory-actions>
            </div>
            <div class="btn-toolbar horizontal pull-right" ng-if="(!dataModel.singleView && !dataModel.singleViewAndPaged)">
                <div class="btn-group icon-btn-group-toggle">
                    <span class="btn icon-btn icon-sm icon-tile-view" ng-class="{active : dataModel.view=== 'tile'}"
                          title="Tile View" ng-click="dataModel.view ='tile'"></span>
                    <span class="btn icon-btn icon-sm icon-list-view" ng-class="{active : dataModel.view === 'list'}"
                          ng-click="dataModel.view ='list'" title="List View"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 tile-container flex-grid" ng-if="dataModel.view=== 'tile'"
             infinite-scroll='dataModel.loadMore()' infinite-scroll-distance='1'>
            <div class="tile resource-tile control-tile" ng-hide="dataModel.isGefn" ng-if="dataModel.context !== 'poolDetails' && dataModel.addAction" ng-click="dataModel.addAction()" title="{{dataModel.actionTitle}}">
                <div class="tile-button">
                    <svg class="resource-icon" version="1.1" x="0px" y="0px" viewBox="0 0 70 70" transform="scale(1, 1)" xml:space="preserve">
                        <polygon class="add-lg" points="70,32 38,32 38,0 32,0 32,32 0,32 0,38 32,38 32,70 38,70 38,38 70,38 "></polygon>
                    </svg>
                </div>
            </div>
            <div class="tile resource-tile control-tile" ng-hide="dataModel.isGefn" ng-if="dataModel.context === 'poolDetails' && !dataModel.showAddIcon" ng-click="dataModel.addPoolDetailsClickAction(dataModel.storagePoolId)"
                 title="{{dataModel.actionTitle}}">
                <div class="tile-button">
                    <svg class="resource-icon" version="1.1" x="0px" y="0px" viewBox="0 0 70 70" transform="scale(1, 1)" xml:space="preserve">
                        <polygon class="add-lg" points="70,32 38,32 38,0 32,0 32,32 0,32 0,38 32,38 32,70 38,70 38,38 70,38 "></polygon>
                    </svg>
                </div>
            </div>
            <div class="tile resource-tile simple-resource-tile" ng-repeat="item in dataModel.displayList track by $index">
                <simple-resource-tile item="item" class="repeat-tile-container"></simple-resource-tile>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 panel-group tile-container list-view list-view-flex"
             role="tablist" aria-multiselectable="true" ng-if="dataModel.view=== 'list'"
             infinite-scroll='dataModel.loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled="dataModel.busyLoadingMoreChildren">
            <div class="tile row row-tile column-headers">
                <div class="cell text-resize twelfth">
                    &nbsp;
                </div>
                <div class="twelfth cell text-resize" ng-if="!dataModel.noAlerts">
                    <sort-column-header field="" label="Alerts"
                                        ng-model="dataModel.sort" ng-if="!dataModel.file"></sort-column-header>
                </div>
                <div ng-attr-class="{{settings.sizeClass}} cell text-resize" ng-repeat="settings in dataModel.gridSettings">
                    <sort-column-header field="{{settings.sortField}}" label="{{ settings.title  | translate }}"
                                        ng-model="dataModel.sort" title="{{ settings.title  | translate }}"></sort-column-header>
                </div>
                <div class="eighth cell text-resize" ng-if="dataModel.displayList[0].usage && dataModel.displayList[0].status !== 'EXTERNALIZED'">
                    <a class="sort-column-header" title="{{ 'usage' | translate }}">{{ 'usage' | translate }}</a>
                </div>
            </div>
            <div class="tile row row-tile add-resource" ng-hide="dataModel.hideAddTile || dataModel.isGefn" ng-if="dataModel.context !== 'poolDetails' && dataModel.addAction" ng-click="dataModel.addAction()">
                <span class="btn icon-btn icon-lg icon-add"></span>
            </div>
            <div class="tile row row-tile add-resource" ng-hide="dataModel.hideAddTile || dataModel.isGefn" ng-if="dataModel.context === 'poolDetails' && !dataModel.showAddIcon" ng-click="dataModel.addPoolDetailsClickAction(dataModel.storagePoolId)">
                <span class="btn icon-btn icon-lg icon-add"></span>
            </div>
            <div class="tile row-tile row" ng-repeat-start="item in dataModel.displayList">
                <div class="cell twelfth panel-title">
                    <a id="{{item.id}}" role="button" data-toggle="collapse" aria-expanded="false" ng-if="listDetailsTemplate"
                       ng-click="toggleExpandButton(item) ; item.opened = !item.opened ; dataModel.fetchFirstPageChildren(item) ; dataModel.restoreCheck()"
                       class="btn icon-btn icon-caret-collapsed icon-xsm"></a>
                    <a role="button" data-toggle="collapse" aria-expanded="false" ng-if="!listDetailsTemplate" class="btn icon-btn icon-xsm">&nbsp;</a>

                    <div class="btn-group" data-toggle="buttons" ng-if="!item.noSelection && !item.disabledCheckBox">
                        <label class="btn icon-btn checkbox" ng-click="item.selected = !item.selected; dataModel.restoreCheck()"
                               ng-class="{'active' : item.selected, 'disabled' : item.disabledCheckBox}"> </label>
                    </div>
                    <div class="btn-group" data-toggle="buttons" ng-if="item.noSelection">
                        <label class="btn icon-btn">&nbsp;</label>
                    </div>
                </div>

                <div class="twelfth cell with-icon center-content"  ng-switch="item.alertType" ng-if="!listDetailsTemplate || dataModel.hasIconAndExpandingRows">
                    <div class="icon-and-alert" ng-switch-when="alert-link">
                        <div ng-attr-class="icon {{item.itemIcon}} icon-md resource-icon">&nbsp;</div>
                        <div class="alerts-array">
                            <a  class="btn icon-btn icon-sm" ng-click="item.alertLink.onClick()" ng-attr-title="{{item.alertLink.title}}"><span ng-attr-class="{{item.alertLink.icon}}"></span> </a>

                        </div>
                    </div>

                    <div class="icon-and-alert" ng-switch-when="host-alert-link">
                        <div ng-attr-class="icon {{item.itemIcon}} icon-md resource-icon">&nbsp;</div>
                        <div class="alerts-array">
                            <a  class="btn icon-btn icon-sm" ng-click="item.alertLink.onClick()" ng-attr-title="{{item.alertLink.title}}"><span ng-attr-class="{{item.alertLink.icon}}"></span> </a>
                            <a class="btn icon-btn icon-sm" ng-click="item.hostAlertLink.onClick()" ng-attr-title="{{item.hostAlertLink.title}}"><span ng-attr-class="{{item.hostAlertLink.icon}}"></span> </a>
                        </div>
                    </div>

                    <div class="icon-and-alert" ng-switch-when="pool-alert">
                        <div ng-attr-class="icon {{item.itemIcon}} icon-md resource-icon with-alert">
                            <span title="{{item.alertTitle}}" ng-attr-class="icon {{item.alertIcon}}" class="badge-icon icon-sm">&nbsp;</span>
                        </div>
                    </div>
                    <div class="icon-and-alert" ng-switch-default="">
                        <div ng-attr-class="icon {{item.itemIcon}} icon-md resource-icon">&nbsp;</div>
                        <div class="alerts-array">
                            <a class="btn icon-btn icon-sm" ng-show="model.alerts > 0">{{model.alerts}}</a>
                        </div>
                    </div>
                </div>

                <div ng-attr-class="td {{settings.sizeClass}} cell text-resize ellipsis" ng-repeat="settings in dataModel.gridSettings"
                     ng-switch="settings.type">

                    <p ng-switch-when="size" title="{{settings.getDisplayValue(item).size}} {{settings.getDisplayValue(item).unit}}" ng-click="item.onClick()">
                        {{settings.getDisplayValue(item).size}}<sup>{{settings.getDisplayValue(item).unit}}</sup>
                    </p>
                    <a ng-switch-when="id" title="{{settings.getDisplayValue(item)}}" ng-click="item.onClick()">{{settings.getDisplayValue(item)}}</a>

                    <a ng-switch-when="hyperLink" title="{{settings.getDisplayValue(item)}}" ng-click="settings.onClick(item)">{{settings.getDisplayValue(item)}}</a>

                    <span ng-switch-when="icon" ng-attr-class="view icon {{settings.getIconClass(item)}}"
                          title="{{settings.getDisplayValue(item) | translate}}" ng-click="item.onClick()"></span>

                    <p ng-switch-when="dpType" title="{{settings.getToolTipValue(item)}}" ng-click="item.onClick()">{{settings.getDisplayValue(item)}}</p>

                    <p ng-switch-default="" title="{{settings.getDisplayValue(item)}}" ng-click="item.onClick()">{{settings.getDisplayValue(item)}}</p>
                </div>

                <div class="td eighth data cell" ng-if="item.usage && !item.fileCapacity && item.status !== 'EXTERNALIZED'" ng-click="item.onClick()">
                    <usage-indicator-bar class="data-viz bar bar-container" ng-model="item"></usage-indicator-bar>
                </div>

                <div class="td eighth resource data cell data-viz" ng-if="item.usage && item.fileCapacity" ng-click="item.onClick()">
                    <usage-indicator-bar class="double-bar-list-view data-viz bar bar-container" ng-model="item" ng-if="item.usage"
                                         ng-click="item.onClick()"></usage-indicator-bar>
                    <usage-indicator-bar class="double-bar-list-view data-viz bar bar-container file" ng-model="item.fileCapacity"
                                         ng-if="item.usage && item.fileCapacity" ng-click="item.onClick()"></usage-indicator-bar>
                </div>
            </div>
            <ng-include src="listDetailsTemplate" ng-show="item.opened" ng-if="listDetailsTemplate" ng-repeat-end></ng-include>
        </div>

        <div class="col-lg-3 col-md-4 hidden-sm hidden-xs controls-column">
            <div class="form-group search" ng-if="listDetailsTemplate && dataModel.singleView">
                <input type="text" class="form-control" placeholder="Search" ng-model="filterModel.filter.freeText"
                       ng-change="filterModel.newSortOrFilterRequest(filterModel.queryGenerationFunctions.setTextSearch)">
                <button type="submit" class="icon icon-btn icon-search"
                        ng-click="filterModel.newSortOrFilterRequest(filterModel.queryGenerationFunctions.setTextSearch)"></button>
            </div>
            <div class="form-group search" ng-if="((!dataModel.search && !dataModel.singleView) || dataModel.singleViewAndPaged)">
                <input type="text" class="form-control" placeholder="{{dataModel.singleViewAndPaged && 'Secondary Volume Id' || 'Search'}}" ng-model="filterModel.filter.freeText"
                       ng-change="filterModel.searchQuery(filterModel.filter.freeText)">
                <button type="submit" class="icon icon-btn icon-search"></button>
            </div>
            <div  class="form-group search" ng-if="dataModel.search">
                <input type="text" class="form-control" placeholder="Search" ng-model="dataModel.search.freeText">
                <button type="submit" class="icon icon-btn icon-search"></button>
            </div>
            <h3 title="{{ listCountTooltip | translate }}">{{ listCountSummaryTitle | translate:dataModel.itemCounts}}</h3>
            <ng-include src="filterTemplate" ng-if="filterTemplate"></ng-include>
        </div>
    </div>
</application-stage>
