<div class="tile-row status-bar">
    <div class="btn-group" ng-if="!item.noSelection && !item.disabledCheckBox">
        <label class="btn icon-btn checkbox" ng-click="item.selected = !item.selected"
               ng-class="{'active' : item.selected, 'disabled' : item.disabledCheckBox}" >
        </label>
    </div>
    <div class="btn-group icon-toolbar pull-right">
        <a type="button" ng-repeat="icon in item.getIcons()" ng-click="icon.onClick()" ng-attr-title="{{icon.title | translate }}"
                  ng-attr-class="btn icon-btn icon icon-sm {{icon.icon}}">
        </a>
        <a type="button" ng-if="item.textStatus">
            {{item.textStatus}}
        </a>
    </div>
</div>
<div class="tile-row" ng-click="item.onClick()"> 
        <div class="label-value-container" ng-repeat="md in item.metaData">
            <h3 ng-if="$first && item.onClick" ng-attr-title="{{md.title}}">
            <a ng-if="item.onClick">{{md.title}}</a>
        </h3>
        <h3 ng-if="$first && !item.onClick" ng-attr-title="{{md.title}}">
            {{md.title}}
        </h3>
            <p class="value" ng-if="!$first" ng-attr-title="{{md.title}}">
                {{md.title}}
            </p>
            <p class="value" ng-repeat="detail in md.details track by $index" ng-attr-title="{{md.detailsToolTips[$index] || detail}}">{{detail}}</p>      
            <p class="value" ng-repeat="detail in md.detailsNoSlash track by $index" ng-attr-title="{{md.detailsToolTips[$index] || detail}}">{{detail}}</p>
        </div>   
</div>
<div class="tile-row resource-info smallMarginTop" ng-click="item.onClick()">
    <div ng-attr-class="icon icon-lg {{item.itemIcon}}"></div>
    <div class="resource-data col-margin" ng-if="item.usage">
        <div class="inline-values" ng-if="item.status !== 'EXTERNALIZED'">
            <disk-size ng-model="item.topSize" post-fix="/" wrapped-in="p"></disk-size>&nbsp;
            <disk-size ng-model="item.topTotal" post-fix="" wrapped-in="p"></disk-size>
        </div>
        <div class="data-viz bar" ng-if="item.status !== 'EXTERNALIZED'">
            <usage-indicator-bar class="block data-viz-container" ng-model="item"></usage-indicator-bar>
        </div>
        <div class="inline-values" ng-if="item.status == 'EXTERNALIZED'">
            <disk-size ng-model="item.totalVirtual" post-fix="Total" wrapped-in="p"></disk-size>
        </div>
        <div class="data-viz bar" ng-if="item.fileCapacity">
            <usage-indicator-bar class="file data-viz-container" ng-model="item.fileCapacity"></usage-indicator-bar>
        </div>
        <div class="data-viz bar" ng-if="item.compression">
            <usage-indicator-bar class="block data-viz-container" ng-model="item.compressionUsageBar"></usage-indicator-bar>
        </div>
        <div class="inline-values">
            <disk-size ng-model="item.physicalCapacity" post-fix="/"  wrapped-in="p" ng-if="item.compression"></disk-size>&nbsp;
            <disk-size ng-model="item.topTotal" wrapped-in="p" ng-if="item.compression"></disk-size>
            <disk-size ng-model="item.bottomSize" post-fix="/" wrapped-in="p" ng-if="item.fileCapacity"></disk-size>&nbsp;
            <disk-size ng-model="item.bottomTotal" wrapped-in="p" ng-if="item.fileCapacity"></disk-size>
        </div>
    </div>
    <div class="resource-data" ng-if="item.detailMetaData">
        <div ng-repeat="md in item.detailMetaData">
            <p ng-attr-title="{{md.detailData}}">
                {{md.detailData}}
            </p>
        </div>
    </div>
</div>

<div class="tile-row related-resources">
    <div class="btn related-btn-group" ng-repeat="link in item.displayLinks">
        <a class="icon icon-sm {{link.icon}}" ng-href="{{link.href}}" title="{{link.label}}">{{link.label}}</a>
    </div>
</div>
