<ng-include src="'views/help-overlay.html'" ng-if="!hideOverlay"></ng-include>
<div class="ribbon ribbon-row brand-hsa">
    <div class="navbar-header">
        <div class="brand">
            <rainier-brand-logo></rainier-brand-logo>
        </div>
    </div>
    <div id="navbar" class="nav navbar-nav">
        <ul class="nav navbar-nav">
            <li ng-class="{'active': tabsModel.dashboardSelected} "><a href="#/">{{ 'common-dashboard' | translate}}</a>
            </li>
            <li ng-class="{'active': tabsModel.jobsSelected} "><a href="#/jobs">{{ 'nav-bar-header-jobs' | translate}}</a>
            </li>
            <li ng-class="{'active': tabsModel.monitoringSelected} "><a href="#/monitoring">{{ 'nav-bar-header-monitoring' | translate}}</a>
            </li>
        </ul>
    </div>
    <div class="btn-toolbar icon-toolbar clean-btns" role="toolbar">
        <div class="dropdown right" ng-if="pageErrors.length > 0">
            <button id="warning" class="btn icon-btn icon icon-warning warning-state icon-sm" data-toggle="dropdown" role="button" aria-expanded="true"></button>
            <ul class="dropdown-menu" aria-labelledby="user">
                <li class="row" >
                    <div class="col-md-12 ">
                        <div class="message-padding warning-text" ng-class="{'bottom-border': !$last}" role="alert" ng-repeat="pageError in pageErrors|orderBy:'received':true">
                            <span class="icon icon-warning warning-state"></span> {{pageError.received | date:'mediumTime'}} - {{pageError.message}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dropdown right">
            <button id="user" class="btn icon-btn icon icon-user icon-sm" title="{{username}}" data-toggle="dropdown" role="button" aria-expanded="true"></button>
            <ul class="dropdown-menu" aria-labelledby="user">
                <li>
                    <a href="" ng-click="authModel.logout()">{{ 'nav-bar-header-username-logout' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="dropdown right">
            <button id="settings" class="btn icon-btn icon icon-settings icon-sm" title="Settings" data-toggle="dropdown"></button>
            <ul class="dropdown-menu" aria-labelledby="settings">
                <li>
                    <a href="" ng-click="settingsModel.tierManagement()">{{ 'tier-management' | translate }}</a>
                </li>
                <li>
                    <a href="" ng-click="settingsModel.security()">{{ 'nav-bar-header-security' | translate }}</a>
                </li>
                <li>
                    <a ng-click="settingsModel.launchSnmpManager()">{{ 'nav-bar-header-settings-snmp' | translate }}</a>
                </li>
                <li>
                    <a ng-click="settingsModel.launchChangeLocalPassword()">{{ 'nav-bar-header-change-local-password' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="dropdown right">
            <button id="about" class="btn icon-btn icon icon-help icon-sm" title="{{ 'nav-bar-header-help-tooltip' | translate }}" data-toggle="dropdown" role="button" aria-expanded="true"></button>
            <button class="btn icon-btn icon icon-information icon-sm" title="Information" role="button" ng-click="versionModel.toggleOverlayContent()"></button>
            <ul class="dropdown-menu" aria-labelledby="user">
                <li>
                    <a ng-click="versionModel.toggleHelpContent(); versionModel.clickOnHelpOrAbout()">{{ 'nav-bar-header-help' | translate }}</a>
                </li>

                <li>
                    <a inform inform-title="{{'nav-bar-header-about' | translate}}"
                       inform-message-template="views/templates/product-version-info.html" ng-model="versionModel">
                        {{'nav-bar-header-about' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <!--/.nav-collapse -->
</div>
<div helpui-page-elements></div>
