<div class="tile row row-tile column-headers">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
        <p>{{'parity-group-basic-disk-type' | translate}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
        <p>{{'parity-group-basic-total-disks' | translate}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs cell">
        <p>{{'parity-group-basic-available-disks' | translate}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell">
        <p>{{'parity-group-basic-available-spares' | translate}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell">
        <p>{{'parity-group-basic-additional-spares' | translate}}</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
        <p>{{'parity-group-basic-raid-type' | translate}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell">
        <p>{{'parity-group-basic-parity-groups' | translate}}</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
        <p>{{'parity-group-basic-usable-capacity' | translate}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell">
        <p>{{'parity-group-basic-encryption' | translate}}</p>
    </div>
</div>