<div name="validationForm.rightPanel" class="fieldset validation-form" novalidate>
    <div class="label-value-container">
        <label class="label">Storage System</label>
        <select class="form-control" ng-model="model.storageSystem"
                ng-options="ss.storageSystemId for ss in model.storageSystems"
                ng-disabled="!model.storageSystemSelectable">
        </select>
    </div>

    <div class="label-value-container">
        <label class="label">RAID Type</label>
        <select class="form-control" name="raidType" ng-model="model.search.raidLevel"
                ng-options="ro for ro in model.advancedUniqueRaidLevel" required>
            <option value="">{{ 'parity-group-basic-raid-type' | translate}}</option>
        </select>
        <p ng-show="(validationForm.rightPanel.raidType.$invalid && !validationForm.rightPanel.raidType.$pristine)
                                || (model.raidTypeValidation && validationForm.rightPanel.raidType.$pristine)" class="validation-text">Select a RAID Type</p>
    </div>

    <div class="label-value-container">
        <label class="label">RAID Layout</label>
        <select class="form-control" name="raidLayout" ng-model="model.search.raidLayout" ng-if="model.showRaidLayoutDropDown"
                ng-options="ro for ro in model.advancedUniqueRaidLayout" required>
            <option value="">{{ 'parity-group-basic-raid-layout' | translate}}</option>
        </select>
        <p ng-show="(validationForm.rightPanel.raidLayout.$invalid && !validationForm.rightPanel.raidLayout.$pristine)
                                || (model.raidLayoutValidation && validationForm.rightPanel.raidLayout.$pristine)" class="validation-text">Select a RAID Layout</p>
    </div>

    <div class="label-value-container">
        <label class="label">{{'parity-group-encryption'|translate}}</label>
        <div class="btn-group btn-group-justified">
            <label ng-model="model.advEncryption"
                        btn-radio="true" class="btn btn-primary btn-dark">
                <input autocomplete="off" type="radio" checked=""/>On
            </label>
            <label ng-model="model.advEncryption"
                        btn-radio="false" class="btn btn-primary btn-dark">
                <input autocomplete="off" type="radio" checked=""/>Off
            </label>
        </div>
    </div>
</div>
