<!-- Pass Pattern Tile -->

<div class="tile-row">
    <div class="label-value-container" style="padding-top: 5px; padding-right: 10px; display: inline-block">
        <p class="label ng-binding">Pass Number</p>
        <p class="value ng-binding">{{item+1}}</p>
    </div>
    <div class="label-value-container" style="display: inline-block">
        <p class="label ng-binding">Pattern</p>
        <input type="text" class="value ng-binding" placeholder="XX-XX-XX" style="width: 80px;">
    </div>
</div>