<div class="polar-data-viz-concentric" ng-class="{'pool-tier-allocation-data-viz-size-fix-basic' : model.wizardType === 'basic',
                                        'pool-tier-allocation-data-viz-size-fix' : model.wizardType === 'advanced' }">
    <pool-capacity-data-visualization ng-model="data"></pool-capacity-data-visualization>
</div>
<ul class="legend">
    <li ng-repeat="keyAndColor in data.keyAndColors">
        <p class="number ellipsis" title="{{keyAndColor.key}}">
            <svg width="10" height="10">
                <rect width="10" height="10" ng-style="{fill:'{{keyAndColor.color}}'}" />
            </svg>
            {{keyAndColor.key}}
        </p>
    </li>
</ul>