<!--Tile-->
<div class="tile resource-tile"
     ng-repeat="pg in model.parityGroups  | createPoolParityGroupsFilter:model.search |  orderBy:'diskSpec.capacityInBytes' ">
    <div class="tile-row status-bar">
        <div class="btn-group">
            <label class="btn icon-btn checkbox icon" ng-value="pg" type="checkbox"
                   ng-class="{'icon-checkmark-no-fill': pg.selected, 'icon-circle-no-fill': !pg.selected}"
                   ng-model="pg.selected" btn-checkbox>
            </label>
        </div>
        <div class="btn-group icon-toolbar pull-right hidden">
            <button class="btn icon-btn icon icon-expand icon-sm" type="button" title="launch"></button>
            <button class="btn icon-btn icon icon-lock icon-sm" type="button" title="protect"></button>
            <button class="btn icon-btn icon icon-small-triangle warning" type="button" title="warning"></button>
        </div>
    </div>
    <div class="tile-row identity">
        <div class="meta-left">
            <h2>{{ pg.parityGroupId}} ({{pg.status}})</h2>
            <div class="horizontal-stack">
                <p>{{pg.raidLayout}}</p>
                <p>{{pg.raidLevel}}</p>

                <p>{{'storage-pool-compression' | translate}}: {{pg.compression ? 'YES' : 'NO'}}</p>
            </div>
        </div>
        <div class="meta-right">
            <div class="horizontal-stack">
                <p>{{pg.diskSpec.type}}</p>
                <p>{{pg.diskSpec.speed}}</p>
            </div>
        </div>
    </div>
    <div class="tile-row resource-info">
        <div class="icon icon-parity-group icon-lg" ng-if="!pg.encryption"></div>
        <div class="icon icon-encrypted-parity-group icon-lg" ng-if="pg.encryption"></div>
        <div class="resource-data">
            <div class="inline-values" ng-if="item.status !== 'EXTERNALIZED'">
                <disk-size ng-model="pg.topSize" post-fix="/" wrapped-in="p"></disk-size>&nbsp;
                <disk-size ng-model="pg.topTotal" post-fix="" wrapped-in="p"></disk-size>
            </div>
            <div class="data-viz bar">
                <usage-indicator-bar class="block data-viz-container" ng-model="pg"></usage-indicator-bar>
            </div>
        </div>
    </div>
    <div class="tile-row carousel-indicator hidden">
    </div>
</div>

