<div ng-switch="pageName">
    <div ng-switch-when="create-volumes" class="wizard-body new">
        <div class="wizard-left" ng-include="leftPanelTemplate"></div>
        <div class="wizard-right" ng-include="rightPanelTemplate"></div>
    </div>
    <div ng-switch-default class="wizard-body new">
        <div class="wizard-left" ng-include="leftPanelTemplate">
        </div>
        <!--Right column-->
        <div class="wizard-right">
            <div class="header-row">
                <h2 ng-if="pageTitle">{{pageTitle}}</h2>
            </div>
            <div class="scroll-wizard-container" ng-include="rightPanelTemplate">
            </div>
        </div>
    </div>
</div>