<div class="tile tile-grid">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 resource-tile-left">
        <h3>{{model.storagePortId}}</h3>

        <h2>{{model.type}}</h2>

        <div class="data-viz bar">
            <p> {{model.speed}}</p>
        </div>
        <div class="data-viz bar">
            <p> {{model.topology}}</p>
        </div>
        <div class="data-viz bar">
            <p> {{'storage-port-security-switch-enabled' | translate}} {{model.securitySwitchEnabled ? 'Enabled' : 'Disabled'}}</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 resource-tile-right">
        <input type="checkbox" ng-model="model.selected"
               ng-change="select()">
        <p class="icon icon-ports icon-lg pull-right"></p>
    </div>
</div>
