<div class="row" id="top-info" ng-if="model">
    <div class="col-lg-5 col-md-5 hidden-sm hidden-xs alert-panel alert-panel-md">

        <!--Alerts Panel-->
        <div class="row alert-panel" id="alert-panel">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <capacity-alert ng-model="model.alerts.capacity.count"
                                alert-level="model.alerts.capacity.level"></capacity-alert>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <dp-alert ng-model="model.alerts.dp.count" alert-level="model.alerts.dp.level"></dp-alert>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">

                <jobs-alert ng-model="model.alerts.jobs"></jobs-alert>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <hardware-alert ng-model="model.alerts.hardware.count"
                                alert-level="model.alerts.hardware.level"></hardware-alert>
            </div>
        </div>

    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="data-viz polar-data-viz-size-fix">
            <array-polar-data-visualization class="utilization dataviz-legend"
                                            ng-model="model.arrayDataVisualizationModel"
                                            no-break-down="model.noBreakdown"></array-polar-data-visualization>
        </div>

    </div>
</div>