<div class="controls-column" ng-if="model.view">

    <form role="search">
        <div class="form-group search">
            <input type="text" class="form-control" placeholder="Search"
                   ng-model="filterModel.filter.freeText" ng-change="filterModel.searchQuery(filterModel.filter.freeText)">
            <button type="submit" class="icon icon-btn icon-search pull-right"></button>
        </div>
    </form>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="model.shouldSelectAll"
                   ng-change="model.toggleSelectAll()">Select All
        </label>
    </div>
    <!--Display description-->
    <h3>Showing {{model.itemCounts.filtered}} of
        {{model.itemCounts.total}} volumes</h3>
    <!--Control group: Free Space Input-->
    <div class="control-group">
        <h3>Free Space<span class="read-only">{{filterModel.filter.freeCapacity.min}} - {{filterModel.filter.freeCapacity.max}} {{filterModel.filter.freeCapacity.unit}}</span>
        </h3>

        <div id="free-space-range" class="slider-range range-slider-control"
             two-knob-slider=""
             slider-min="filterModel.filter.freeCapacity.min"
             slider-max="filterModel.filter.freeCapacity.max"
             ng-model-min="filterModel.filter.freeCapacity.min"
             ng-model-max="filterModel.filter.freeCapacity.max"
             stop-event-fn="filterModel.sliderQuery('availableCapacity', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">
        </div>
        <div class="btn-group btn-group-toggle-green btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="filterModel.filter.freeCapacity.unit"
                        btn-radio="'GB'" ng-click="filterModel.filterQuery('availableCapacity', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">GB
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="filterModel.filter.freeCapacity.unit"
                        btn-radio="'TB'" ng-click="filterModel.filterQuery('availableCapacity', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">TB
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="filterModel.filter.freeCapacity.unit"
                        btn-radio="'PB'" ng-click="filterModel.filterQuery('availableCapacity', filterModel.filter.freeCapacity.min, filterModel.filter.freeCapacity.max, filterModel.filter.freeCapacity.unit)">PB
                </button>
            </div>
        </div>
    </div>
    <!--Control group: Size of Volume Input-->
    <div class="control-group">
        <h3>Size of Volume<span class="read-only">{{filterModel.filter.totalCapacity.min}} - {{filterModel.filter.totalCapacity.max}} {{filterModel.filter.totalCapacity.unit}}</span>
        </h3>

        <div id="array-size-range" class="slider-range range-slider-control"
             two-knob-slider=""
             slider-min="filterModel.filter.totalCapacity.min"
             slider-max="filterModel.filter.totalCapacity.max"
             ng-model-min="filterModel.filter.totalCapacity.min"
             ng-model-max="filterModel.filter.totalCapacity.max"
             stop-event-fn="filterModel.sliderQuery('size', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">
        </div>
        <div class="btn-group btn-group-toggle-green btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="filterModel.filter.totalCapacity.unit"
                        btn-radio="'GB'" ng-click="filterModel.filterQuery('size', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">GB
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="filterModel.filter.totalCapacity.unit"
                        btn-radio="'TB'" ng-click="filterModel.filterQuery('size', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">TB
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="filterModel.filter.totalCapacity.unit"
                        btn-radio="'PB'" ng-click="filterModel.filterQuery('size', filterModel.filter.totalCapacity.min, filterModel.filter.totalCapacity.max, filterModel.filter.totalCapacity.unit)">PB
                </button>
            </div>
        </div>
    </div>
    <!--Control group: Utilization of Volume Input-->
    <div class="control-group">
        <h3>Utilization (%)<span
                class="read-only">{{filterModel.filter.utilization.min}} - {{filterModel.filter.utilization.max}}</span>
        </h3>

        <div id="array-utilization-range" class="slider-range range-slider-control"
             two-knob-slider=""
             slider-min="filterModel.filter.utilization.min"
             slider-max="filterModel.filter.utilization.max"
             ng-model-min="filterModel.filter.utilization.min"
             ng-model-max="filterModel.filter.utilization.max"
             stop-event-fn="filterModel.sliderQuery('utilization', filterModel.filter.utilization.min, filterModel.filter.utilization.max)">
        </div>
    </div>
    <!--Control group: Volume Type-->
    <div class="control-group">
        <h3>Volume Type<span class="read-only" type="text">{{ filterModel.filter.type || 'ALL'}}</span></h3>

    </div>
    <div class="btn-group btn-group-toggle-green btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.type"
                   btn-radio="'HDP'" uncheckable ng-click="filterModel.filterQuery('type', 'HDP')">Thin
            </label>

        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.type"
                   btn-radio="'HDT'" uncheckable ng-click="filterModel.filterQuery('type', 'HDT')">Tiered
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.type"
                   btn-radio="'HTI'" uncheckable ng-click="filterModel.filterQuery('type', 'HTI')">Snap
            </label>
        </div>
    </div>

    <!--Control group: Provisioning Status-->
    <div class="control-group">
        <h3>Provisioning Status<span class="read-only" type="text">{{ filterModel.filter.provisioningStatus || 'ALL'}}</span></h3>

    </div>

    <div class="btn-group btn-group-toggle-green btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.provisioningStatus"
                   btn-radio="'Attached'" uncheckable ng-click="filterModel.filterQuery('provisioningStatus', 'ATTACHED')">Attached
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.type"
                   btn-radio="'Unattached'" uncheckable ng-click="filterModel.filterQuery('provisioningStatus', 'UNATTACHED')">Unattached
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filterModel.filter.type"
                   btn-radio="'Unmanaged'" uncheckable ng-click="filterModel.filterQuery('provisioningStatus', 'UNMANAGED')">Unmanaged
            </label>
        </div>
    </div>

    <!--Control group: Protection Type-->
    <div class="control-group">
        <h3>{{'storage-volume-filter-protection-type' | translate}}</h3>
    </div>
    <div class="btn-group btn-group-justified btn-group-vertical">
        <label class="btn btn-primary">
            <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.filter.snapshotEx"
                   ng-init="filterModel.filter.snapshotEx=false"
                   ng-change="filterModel.filterQuery('dataProtectionSummary.replicationType', filterModel.filter.snapshotEx ? 'SNAPSHOT_EXTENDABLE' : '', filterModel.arrayType, 'SNAPSHOT_EXTENDABLE')">
            {{'common-filter-snapshot-ex' | translate}}
        </label>
        <label class="btn btn-primary">
            <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.filter.snapshotFc"
                   ng-init="filterModel.filter.snapshotFc=false"
                   ng-change="filterModel.filterQuery('dataProtectionSummary.replicationType', filterModel.filter.snapshotFc ? 'SNAPSHOT_FULLCOPY' : '', filterModel.arrayType, 'SNAPSHOT_FULLCOPY')">
            {{'common-filter-snapshot-fc' | translate}}
        </label>
        <label class="btn btn-primary">
            <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.filter.snapshot"
                   ng-init="filterModel.filter.snapshot=false"
                   ng-change="filterModel.filterQuery('dataProtectionSummary.replicationType', filterModel.filter.snapshot ? 'SNAPSHOT' : '', filterModel.arrayType, 'SNAPSHOT')">
            {{'common-filter-snapshot' | translate}}
        </label>
        <label class="btn btn-primary">
            <input type="checkbox" data-toggle="buttons-checkbox" ng-model="filterModel.filter.cloneNow"
                   ng-init="filterModel.filter.cloneNow=false"
                   ng-change="filterModel.filterQuery('dataProtectionSummary.replicationType', filterModel.filter.cloneNow ? 'CLONE' : '', filterModel.arrayType, 'CLONE')">
            {{'common-filter-clone' | translate}}
        </label>
    </div>

    <!--Control group: Data Protection -->
    <div class="control-group">
        <p>Data Protection</p>

        <div class="checkbox pull-bottom">
            <label>
                <input type="checkbox" ng-model="filterModel.filter.protected" ng-init="filterModel.filter.protected=false"
                       ng-change="filterModel.filterQuery('dataProtectionSummary.volumeType', filterModel.filter.protected ? 'P-VOL' : '', filterModel.arrayType, 'P-VOL')">Protected
            </label>
        </div>
        <div class="checkbox pull-bottom">
            <label>
                <input type="checkbox" ng-model="filterModel.filter.unprotected" ng-init="filterModel.filter.unprotected=false"
                       ng-change="filterModel.filterQuery('dataProtectionSummary.volumeType', filterModel.filter.unprotected ? 'UNPROTECTED' : '', filterModel.arrayType, 'UNPROTECTED')">Unprotected
            </label>
        </div>
        <div class="checkbox pull-bottom">
            <label>
                <input type="checkbox" ng-model="filterModel.filter.secondary" ng-init="filterModel.filter.secondary=false"
                       ng-change="filterModel.filterQuery('dataProtectionSummary.volumeType', filterModel.filter.secondary ? 'S-VOL' : '', filterModel.arrayType, 'S-VOL')">Secondary
            </label>
        </div>
    </div>
</div>