<div class="container-fluid authenticate">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-8 col-md-offset-6 col-sm-offset-4">
        <div class="brand clearfix">
            <div class="logo-container partner-logo">
                <div class="partner-brand-login-changhong" title="ChangHong" style="height: 32px; width: 270px;"/>
            </div>
            <h1>{{ 'brand-rainier' | translate}}</h1>
        </div>
        <form class="authenticate-panel" ng-submit="model.login()">
            <fieldset class="pull-left">
                <div class="form-group has-feedback inline-form-row" >
                    <span class="form-left icon-user icon-sm"></span>
                    <input class="justify" type="text" ng-model="model.username"
                           ng-attr-placeholder="{{'login-username-placeholder' | translate }}">
                    <span class="form-right icon-sm icon-completed-okay" ng-show="model.username.length > 0"></span>
                </div>
                <div class="form-group has-feedback inline-form-row">
                    <span class="form-leader icon-password icon-sm"></span>
                    <input class="justify" type="password" ng-model="model.password"
                           ng-attr-placeholder="{{'login-password-placeholder' | translate }}">
                    <span class="form-right icon-sm icon-completed-okay" ng-show="model.password.length > 0"></span>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg btn-go confirm pull-right"
                    ng-disabled="model.loginDisabled()" >
                <svg class="go-icon" version="1.1" viewBox="0 -8 70 80" xml:space="preserve">
          <path class="circle" d="M35,70C15.7,70,0,54.3,0,35S15.7,0,35,0c19.3,0,35,15.7,35,35S54.3,70,35,70z M35,2.9C17.3,2.9,2.9,17.3,2.9,35
          S17.3,67.1,35,67.1S67.1,52.7,67.1,35S52.7,2.9,35,2.9z"/>
          <polygon class="thin-chevron" points="45.7,35.1 32.2,20.8 30,22.8 41.5,34.9 30.1,45.2 32.1,47.3 "/>
        </svg>
            </button>
            <div class="error-message">
                <div ng-if="model.loginFailed" class="pull-left error">{{ 'login-common-error' | translate}}</span></div>
                <div ng-if="model.unauthorized" class="pull-left error">{{ 'login-unauthorized-error' | translate}}</span></div>
            </div>
        </form>
    </div>
</div>