<common-page-header></common-page-header>
<wizard-page>
    <!--Wizard header-->
    <wizard-header ng-title="'storage-volume-attach' | translate" icon-class="icon-volume"></wizard-header>
    <wizard-body>
        <wizard-advanced-stepper>
            <wizard-advanced-stepper-button ng-title="'storage-select-volumes' | translate"
                                            step-completed="dataModel.isStepCompleted('select')"
                                            step-active="dataModel.isStepActive('select')"></wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="'storage-attach-volumes' | translate"
                                            step-completed="dataModel.isStepCompleted('attach')"
                                            step-active="dataModel.isStepActive('attach')"></wizard-advanced-stepper-button>
        </wizard-advanced-stepper>

        <wizard-single-panel-content ng-if="dataModel.isStepActive('select')"
                                     panel-template="views/workflow-templates/select-volumes-panel.html"
                                     ng-model="dataModel" filter-model="filterModel"></wizard-single-panel-content>

        <wizard-left-right-content ng-if="dataModel.isStepActive('attach')"
                                   ng-title="dataModel.attachModel.subTitle"
                                   left-panel-template="views/workflow-templates/attach-volumes-left-panel.html"
                                   right-panel-template="views/workflow-templates/attach-existing-volumes-right-panel.html"
                                   ng-model="dataModel"></wizard-left-right-content>


    </wizard-body>
    <wizard-footer ng-if="dataModel.isStepActive('select')"
                   ng-model="dataModel.selectModel">

    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('attach')"
                   ng-model="dataModel.attachModel">

    </wizard-footer>
</wizard-page>