<common-page-header></common-page-header>
<wizard-page>
    <!--Wizard header-->
    <wizard-header ng-title="'host-create-attach-protect-volumes' | translate " icon-class="icon-volume"></wizard-header>
    <wizard-body>
        <wizard-advanced-stepper>
            <wizard-advanced-stepper-button ng-title="'workflow-title-create-volumes' | translate"
                                            step-completed="dataModel.isStepCompleted('create')"
                                            step-active="dataModel.isStepActive('create')"></wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="'storage-attach-new-volumes' | translate"
                                            step-completed="dataModel.isStepCompleted('attach')"
                                            step-active="dataModel.isStepActive('attach')"></wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="'workflow-title-edit-lun-paths' | translate"
                                            step-completed="dataModel.isStepCompleted('paths')"
                                            step-active="dataModel.isStepActive('paths')"></wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="'workflow-title-protect-volumes' | translate"
                                            step-completed="dataModel.isStepCompleted('protect')"
                                            step-active="dataModel.isStepActive('protect')"></wizard-advanced-stepper-button>


        </wizard-advanced-stepper>
        <wizard-left-right-content ng-if="dataModel.isStepActive('create')"
                                   ng-title="(dataModel.storageSystems.length !== 0) ? ('workflow-title-create-volumes' | translate)
                                   : ''"
                                   left-panel-template="views/workflow-templates/create-volumes-left-panel.html"
                                   right-panel-template="views/templates/create-volume-list.html"
                                   ng-model="dataModel"></wizard-left-right-content>

        <wizard-left-right-content ng-if="dataModel.isStepActive('attach')"
                                   ng-title="'storage-attach-new-volumes' | translate"
                                   left-panel-template="views/workflow-templates/attach-volumes-left-panel.html"
                                   right-panel-template="views/workflow-templates/attach-volumes-right-panel.html"
                                   ng-model="dataModel"></wizard-left-right-content>
        <wizard-svg-page ng-if="dataModel.isStepActive('paths')"
                         ng-title="'workflow-title-create-paths' | translate"
                         ng-model="dataModel">
        </wizard-svg-page>
        <wizard-left-right-content ng-if="dataModel.isStepActive('protect')"
                                   ng-title="'workflow-title-protect-volumes' | translate"
                                   left-panel-template="views/workflow-templates/protect-volumes-left-panel.html"
                                   right-panel-template="views/workflow-templates/protect-volumes-right-panel.html"
                                   ng-model="dataModel"></wizard-left-right-content>

    </wizard-body>
    <wizard-footer ng-if="dataModel.isStepActive('create')"
                   ng-model="dataModel.createModel">

    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('attach')"
                   ng-model="dataModel.attachModel">

    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('paths')"
                   ng-model="dataModel.pathModel">
    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('protect')"
                   ng-model="dataModel.protectModel">

    </wizard-footer>
</wizard-page>