<common-page-header hide-breadcrumb="true"></common-page-header>
<application-stage>
    <div class="container-fluid stage dashboard">
        <div class="dark-panel dashboard-aside" id="resource-counts-panel"
             fill-height="">
            <!--Storage System icon tile-->
            <storage-arrays-icon-tile ng-model="model.summary.storageSystemsInCacheCount"></storage-arrays-icon-tile>
            <hosts-icon-tile ng-model="model.summary.hostsCount"></hosts-icon-tile>
            <fabric-switches-icon-tile ng-model="dataModel.fabricsCount"></fabric-switches-icon-tile>
            <evs-icon-tile ng-model="dataModel.evsCount" ng-if="dataModel.unified" title="{{ 'evs-tooltip' | translate }}"></evs-icon-tile>
            <!--End resource counts icons-->
        </div>
        <div class="dashboard-main"
             ng-if="model.summary.storageArraysCount > 0">
            <!--Alerts Panel-->
            <div class="alert-panel quarters" id="alert-panel">
                
                <alert-tile service="services.cp"></alert-tile>
                <alert-tile service="services.dp"></alert-tile>
                <alert-tile service="services.job"></alert-tile>
                <alert-tile service="services.hw"></alert-tile>

                
            </div>
            <!--Polar Data Viz-->
            <div class="compound-dataviz">
                <array-polar-data-visualization class="dashboard-data-viz scale-with-parent-container"
                        ng-model="model.arrayDataVisualizationModel"></array-polar-data-visualization>
            </div>
        </div>
        <div class="large-tile-grid"
             ng-if="model.summary.storageArraysCount === 0">
            <div class="tile add-tile">
                <h3>{{'storage-system-onboarding-prompt' | translate}}</h3>
                <a href="#/storage-systems/add" class="circle icon icon-xlg icon-add"></a>
            </div>
        </div>
    </div>

</application-stage>

