<common-page-header></common-page-header>
<application-stage>
    <div class="dashboard">
        <div class="dark-panel col-lg-2 col-md-3 col-sm-3 hidden-xs flex-column start" id="resource-counts-panel"
             fill-height="">
            <!--Storage System icon tile-->
            <storage-arrays-icon-tile ng-model="model.summary.storageArraysCount"></storage-arrays-icon-tile>
            <hosts-icon-tile ng-model="model.summary.hostsCount"></hosts-icon-tile>
            <fabric-switches-icon-tile ng-model="dataModel.fabricsCount"></fabric-switches-icon-tile>
            <evs-icon-tile ng-model="dataModel.evsCount" ng-if="dataModel.unified" title="{{ 'evs-tooltip' | translate }}"></evs-icon-tile>
            <!--End resource counts icons-->
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 col-lg-offset-2 col-md-offset-3 col-sm-offset-3 dashboard-right"
             ng-if="model.summary.storageArraysCount > 0">
            <!--Alerts Panel-->
            <div class="row alert-panel alert-panel-lg" id="alert-panel">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <capacity-alert ng-model="model.alerts.capacity.count"
                                    alert-level="model.alerts.capacity.level"></capacity-alert>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <dp-alert ng-model="model.alerts.dp.count" alert-level="model.alerts.dp.level"></dp-alert>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <jobs-alert ng-model="model.alerts.jobs"></jobs-alert>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <hardware-alert ng-model="model.alerts.hardware.count"
                                    alert-level="model.alerts.hardware.level"></hardware-alert>
                </div>
            </div>
            <!--Polar Data Viz-->
            <div class="data-viz polar-data-viz-size-fix">
                <array-polar-data-visualization
                        ng-model="model.arrayDataVisualizationModel"></array-polar-data-visualization>
            </div>
        </div>
        <div class="large-tile-grid"
             ng-if="model.summary.storageArraysCount === 0">
            <div class="tile add-tile">
                <h3>{{'storage-system-onboarding-prompt' | translate}}</h3>
                <a href="#/storage-systems/add" class="circle icon icon-xlg icon-add"></a>
            </div>
        </div>
    </div>

</application-stage>

