<common-page-header hide-breadcrumb="true"></common-page-header>
<application-stage>
    <div class="container-fluid stage dashboard">
        <div class="dark-panel dashboard-aside" id="resource-counts-panel"
             fill-height="">
            <!--Storage System icon tile-->
            <storage-arrays-icon-tile ng-model="model.summary.storageSystemsInCacheCount"></storage-arrays-icon-tile>
            <hosts-icon-tile ng-model="model.summary.hostsCount"></hosts-icon-tile>
            <fabric-switches-icon-tile ng-model="dataModel.fabricsCount"></fabric-switches-icon-tile>
            <evs-icon-tile ng-model="dataModel.evsCount" ng-if="dataModel.unified" title="{{ 'evs-tooltip' | translate }}"></evs-icon-tile>
            <virtual-storage-machine-icon-tile ng-if="model.summary.virtualStorageMachineCount !== 0" ng-model="model.summary.virtualStorageMachineCount"></virtual-storage-machine-icon-tile>

            <!--End resource counts icons-->
        </div>
        <div class="dashboard-main"
             ng-if="model.summary.storageArraysCount > 0">
            <!--Alerts Panel-->
            <div class="alert-panel quarters" id="alert-panel">
                
                <hsa-alert-tile service="services.cp"></hsa-alert-tile>
                <hsa-alert-tile service="services.dp"></hsa-alert-tile>
                <hsa-alert-tile service="services.job"></hsa-alert-tile>
                <hsa-alert-tile service="services.hw"></hsa-alert-tile>

                
            </div>
            <!--Polar Data Viz-->
            <div class="polar-data-viz-concentric">
                <hsa-array-polar-data-visualization
                        class="dashboard-data-viz scale-with-parent-container dataviz-breakdown-legend"
                        ng-model="model.arrayDataVisualizationModel">
                </hsa-array-polar-data-visualization>
            </div>
        </div>
        <div class="large-tile-grid dashboard-main-no-padding"
             ng-if="model.summary.storageArraysCount === 0">
            <div class="tile add-tile">
                <h3>{{'storage-system-onboarding-prompt' | translate}}</h3>
                <a href="#/storage-systems/add" class="circle icon icon-xlg icon-add"></a>
            </div>
        </div>
    </div>

</application-stage>

