<common-page-header></common-page-header>
<wizard-page>
    <div ng-if="model">
    <form novalidate ng-submit="payload.submit()">
        <div class="row wizard-header">
            <div class="col-lg-1 col-md-1 hidden-sm">
                <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
            </div>
            <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <span class="icon icon-volume icon-xlg"></span>
                <h1 class="wizard-title">{{'storage-volume-detach'| translate}}</h1>
            </div>
        </div>
        <div class="row wizard-body">
            <!--Wizard column left-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 wizard-left flex-column justify">
                <div class="flex-tile-group">
                    <div class="form-group">
                        <label for="volume-label">{{'storage-volume-update-label' | translate}}</label>
                        <input type="name" class="form-control form-lg" id="volume-label" ng-model="model.volumeLabel" ng-disabled=true>
                    </div>
                    <div class="form-group">
                        <label for="volume-id">{{'storage-volume-id' | translate}}</label>
                        <input type="name" class="form-control form-lg" id="volume-id" ng-model="model.volumeId" ng-disabled=true>
                    </div>
                    <div class="form-group">
                        <label for="storage-system">{{'storage-pools-storage-system' | translate}}</label>
                        <input type="name" class="form-control form-lg" id="storage-system" ng-model="model.storageSystemId" ng-disabled=true>
                    </div>
                    <div class="form-group">
                        <label for="storage-volume-detach-remove-zone">{{ 'storage-volume-detach-remove-zone' | translate}}</label>

                        <div id="storage-volume-detach-remove-zone" class="btn-group btn-group-toggle-black btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default" ng-model="model.removeZone"
                                        btn-radio="true">Yes
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default" ng-model="model.removeZone"
                                        btn-radio="false">No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right column-->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-offset-3 wizard-right three-rows-wizard">
                <!--Server Inventory-->
                <wizard-single-panel-content panel-template="views/workflow-templates/select-servers-panel.html"
                                             ng-model="dataModel" filter-model="filterModel"></wizard-single-panel-content>
            </div>
        </div>
        <!--Fixed footer-->
        <div class="row navbar-fixed-bottom footer-container">
            <div class="wizard-footer">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                        <button type="button" class="btn btn-default" id="cancel" title="cancel" back-button>Cancel
                        </button>
                        <button type="button" class="btn btn-default" type="button" ng-click="dataModel.selectModel.submit()"
                                ng-disabled="!dataModel.selectModel.canSubmit()">{{'common-label-submit' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</wizard-page>
