<div class="editor-header">
    <div class="btn-toolbar standalone">
        <div class="btn-group">
            <button class="btn btn-default btn-sm btn-dark" ng-click="dataModel.pathModel.showSuggest(dataModel)" ng-if="dataModel.pathModel.withSuggest">{{ 'common-label-suggest' | translate }}</button>
            <button class="btn btn-default btn-sm btn-dark" ng-click="dataModel.pathModel.selectNone(dataModel)">{{ 'common-label-select-none' | translate }}</button>
            <button class="btn btn-default btn-sm btn-dark" ng-click="dataModel.pathModel.deleteSelected(dataModel.pathModel)">{{ 'common-label-delete-selected' | translate }}</button>
        </div>
        <ul class="legend">
            <li class="legend-item existing-paths">{{ 'lun-existing-label' | translate }}</li>
            <li class="legend-item new-paths">{{ 'lun-new-label' | translate }}</li>
        </ul>
    </div>
    <div class="header-row">
        <p>{{dataModel.pathModel.selectedHosts.length}} Servers</p>
        <p><span class="icon icon-ports icon-sm"></span> {{dataModel.pathModel.storagePorts.length}} Storage Ports</p>
    </div>
</div>
