<common-page-header></common-page-header>
<wizard-page>
    <!--Wizard Header-->
    <wizard-header ng-title="'workflow-title-edit-lun-paths-edit' | translate" icon-class="icon-volume"></wizard-header>
    <wizard-body>
        <wizard-advanced-stepper>
            <wizard-advanced-stepper-button ng-title="'storage-volume-attach-settings' | translate"
                                            step-completed="dataModel.isStepCompleted('attach')"
                                            step-active="dataModel.isStepActive('attach')"></wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="'workflow-title-edit-lun-paths' | translate"
                                            step-completed="dataModel.isStepCompleted('paths')"
                                            step-active="dataModel.isStepActive('paths')"></wizard-advanced-stepper-button>
        </wizard-advanced-stepper>

        <wizard-left-right-content ng-if="dataModel.isStepActive('attach')"
                                   ng-title="dataModel.attachModel.subTitle"
                                   left-panel-template="views/workflow-templates/attach-volumes-left-panel.html"
                                   right-panel-template="views/workflow-templates/edit-lun-path-right-panel.html"
                                   ng-model="dataModel"></wizard-left-right-content>

        <wizard-svg-page ng-if="dataModel.isStepActive('paths')"
                         ng-title="'workflow-title-create-paths' | translate"
                         ng-model="dataModel">
        </wizard-svg-page>

    </wizard-body>


    <wizard-footer ng-if="dataModel.isStepActive('attach')"
                    ng-model="dataModel.attachModel"></wizard-footer>

    <wizard-footer ng-if="dataModel.isStepActive('paths')"
                    ng-model="dataModel.pathModel"></wizard-footer>


</wizard-page>
