<common-page-header></common-page-header>
<wizard-page>
        <form name="dataModel.validationForm" role="form" class="validation-scope" ng-submit="dataModel.submit()">
            <wizard-header ng-title="'evs-add'| translate" title="{{ 'evs-tooltip' | translate }}" icon-class="icon-virtual-file-server"></wizard-header>
            <div class="wizard-body">
                <div class="header-row">
                    <h2 title="{{ 'evs-tooltip' | translate }}">{{'file-server-fill-fields' | translate }}</h2>
                </div>
                    <div class="scroll-wizard-container single-pane">
                        <div role="form" class="solo">
                            <div class="form-group form-group-lg">
                                <label title="{{ 'evs-tooltip' | translate }}">{{'vfs-label' | translate }}</label>
                                <input type="text" name="label" class="form-control" placeholder="{{'file-systems-add-type-label' | translate}}"
                                       ng-minlength="1" ng-maxlength="15" ng-model="dataModel.payload.name" required>
                                <p ng-show="dataModel.validationForm.label.$invalid && dataModel.validationForm.label.$dirty"
                                   class="validation-text">{{'file-server-invalid-label' | translate }}</p>
                            </div>
                        </div>
                        <div role="form" class="solo">
                            <div class="form-group form-group-lg">
                                <label title="{{ 'evs-tooltip' | translate }}">{{'evs-ip-address' | translate }}</label>
                                <input type="text" name="ipAddress" class="form-control"
                                       placeholder="{{'common-ip-address' | translate}}"
                                       ng-model="dataModel.payload.ipAddress" validate-ip-evs required>
                                <p ng-show="dataModel.validationForm.ipAddress.$error.ip"
                                   class="validation-text">{{'file-server-invalid-ip' | translate }}</p>
                                <p ng-show="dataModel.validationForm.ipAddress.$error.range"
                                   class="validation-text">{{'file-server-invalid-range' | translate }}</p>
                            </div>
                        </div>
                        <div role="form" class="solo">
                            <div class="form-group form-group-lg fixed-line-height" ng-if="dataModel.showDropDownColumn">
                                <label>{{'subnet-mask' | translate }}</label>
                                <select class="form-control" ng-model="dataModel.payload.subnetMask"
                                        ng-options="subnet for subnet in dataModel.subnetMasks" ng-disabled="dataModel.payload.ipv6">
                                    <option value="">{{'common-select-subnet-mask' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div role="form" class="solo">
                            <div class="form-group form-group-lg">
                                <label>{{'storage-system-id' | translate }}</label>
                                <select class="form-control fixed-line-height" ng-model="dataModel.storageSystem" ng-disabled="!dataModel.storageSystemSelectable"
                                        ng-options="storageSystem.storageSystemId for storageSystem in dataModel.storageSystems">
                                </select>
                            </div>
                        </div>
                        <div role="form" class="solo">
                            <div class="form-group form-group-lg fixed-line-height" ng-if="dataModel.showDropDownColumn">
                                <label>{{'port' | translate }}</label>
                                <select class="form-control" ng-model="dataModel.payload.port"
                                        ng-options="port for port in dataModel.ports">
                                    <option value="">{{'common-select-port' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                <!--Fixed footer-->
                <div class="row navbar-fixed-bottom footer-container">
                    <div class="wizard-footer">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                                <button type="button" class="btn btn-default" type="button" back-button
                                        tabindex="7">
                                    {{'common-label-cancel' | translate}}
                                </button>
                                <button type="button" class="btn btn-default active" type="button" ng-if="dataModel.submit"
                                        ng-click="dataModel.submit()" ng-disabled="dataModel.canSubmit && !dataModel.canSubmit()">
                                    {{'common-label-submit' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</wizard-page>

