<common-page-header></common-page-header>

<wizard-page>
    <wizard-header ng-title="'common-external-volumes-add' | translate "
                   icon-class="icon-external-volume"></wizard-header>

    <wizard-body>

        <!-- STEPPER -->
        <wizard-advanced-stepper>
            <wizard-advanced-stepper-button ng-title="'Select Ports'"
                                            step-completed="dataModel.isStepCompleted('selectPorts')"
                                            step-active="dataModel.isStepActive('selectPorts')">
            </wizard-advanced-stepper-button>
            <!--
            <wizard-advanced-stepper-button ng-title="Select WWN / iSCSI"
                                            step-completed="dataModel.isStepCompleted('selectEndPoints')"
                                            step-active="dataModel.isStepActive('selectEndPoints')">
            </wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="Select LUN"
                                            step-completed="dataModel.isStepCompleted('selectLuns')"
                                            step-active="dataModel.isStepActive('selectLuns')">
            </wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="Select Servers"
                                            step-completed="dataModel.isStepCompleted('selectServers')"
                                            step-active="dataModel.isStepActive('selectServers')">
            </wizard-advanced-stepper-button>
            <wizard-advanced-stepper-button ng-title="Select Paths"
                                            step-completed="dataModel.isStepCompleted('selectPaths')"
                                            step-active="dataModel.isStepActive('selectPaths')">
            </wizard-advanced-stepper-button>
            -->
        </wizard-advanced-stepper>

        <!-- CONTENT -->
        <wizard-single-panel-content ng-if="dataModel.isStepActive('selectPorts')"
                                     ng-title="'Select Ports'"
                                     ng-model="dataModel"
                                     class="single-panel"
                                     filter-model="filterModel"
                                     panel-template="views/workflow-templates/select-ports-panel.html">
        </wizard-single-panel-content>
        <!--
        <wizard-left-right-content ng-if="dataModel.isStepActive('selectEndPoints')"
                                   class="virtualize-volume-wizard"
                                   left-panel-template="views/workflow-templates/external-volumes-add-endpoints-left-panel.html"
                                   right-panel-template="views/workflow-templates/external-volumes-add-endpoints-right-panel.html"
                                   ng-model="dataModel.endpointsModel"
                                   page-name="create-and-attach-volumes">
        </wizard-left-right-content>
        <wizard-left-right-content ng-if="dataModel.isStepActive('selectLuns')"
                                   class="virtualize-volume-wizard"
                                   left-panel-template="views/workflow-templates/external-volumes-add-luns-left-panel.html"
                                   right-panel-template="views/workflow-templates/external-volumes-add-luns-right-panel.html"
                                   ng-model="dataModel"
                                   page-name="create-and-attach-volumes">
        </wizard-left-right-content>
        <wizard-left-right-content ng-if="dataModel.isStepActive('selectServers')"
                                   class="virtualize-volume-wizard"
                                   left-panel-template="views/workflow-templates/external-volumes-add-servers-left-panel.html"
                                   right-panel-template="views/workflow-templates/external-volumes-add-servers-right-panel.html"
                                   ng-model="dataModel"
                                   page-name="create-and-attach-volumes">
        </wizard-left-right-content>

        <div ng-if="false">
            <wizard-svg-page ng-if="dataModel.isStepActive('selectPaths')"
                             ng-title="'workflow-title-create-paths' | translate"
                             ng-model="dataModel">
            </wizard-svg-page>
        </div>
        -->
    </wizard-body>

    <!-- FOOTER -->
    <wizard-footer ng-if="dataModel.isStepActive('selectPorts')"
                   ng-model="footerModel">
    </wizard-footer>
    <!--
    <wizard-footer ng-if="dataModel.isStepActive('selectEndPoints')"
                   ng-model="dataModel">
    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('selectLuns')"
                   ng-model="dataModel">
    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('selectServers')"
                   ng-model="dataModel">
    </wizard-footer>
    <wizard-footer ng-if="dataModel.isStepActive('selectPaths')"
                   ng-model="dataModel">
    </wizard-footer>
    -->
</wizard-page>
