<common-page-header></common-page-header>
<wizard-page>
    <div class="row wizard-header">
        <div class="col-lg-1 col-md-1 hidden-sm">
            <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
        </div>
        <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <span class="icon icon-fabric-switch icon-xlg"></span>

            <h1 class="wizard-title">{{'fabric-update' | translate }}</h1>
        </div>
    </div>

    <div class="wizard-body">
        <!--full-width wizard-->
        <div class="header-row">
            <h2>SAN Fabric <em>{{dataModel.updatedSanFabricId}}</em></h2>
        </div>

        <div class="scroll-wizard-container single-pane">
            <div class="tile-view list-view">
                <!--Header Row-->
                <div class="tile row row-tile column-headers">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'fabric-update-virtual-id' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'fabric-update-switch-type' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'fabric-update-switch-ip' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'fabric-update-switch-port-number' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'fabric-update-switch-username' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'fabric-update-switch-password' | translate }}</p>
                    </div>
                </div>

                <!--Standard Row-->
                <div class="tile row-tile">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.updatedVirtualFabricId"
                               class="form-control text inline" name="Fabric Switch Id"
                               title="Virtual Fabric Id" placeholder="{{'fabric-update-virtual-id' | translate }}">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.updatedSwitchType"
                               class="form-control text inline" name="Fabric Switch Type" disabled="true"
                               title="Fabric Switch Type" placeholder="{{'fabric-update-switch-type' | translate }}">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.updatedPrincipalSwitchAddress"
                               class="form-control text inline" name="Fabric Switch IP Address"
                               title="Fabric Switch IP Address" placeholder="{{'fabric-update-switch-ip' | translate }}">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.updatedPrincipalSwitchPortNumber"
                               class="form-control text inline" name="Principal Switch Port Number"
                               title="Principal Switch Port Number" placeholder="{{'fabric-update-switch-port-number' | translate }}">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.updatedPrincipalSwitchUsername"
                               class="form-control text inline" name="Username"
                               title="Username" placeholder="{{'fabric-update-switch-username' | translate }}">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="password" ng-model="dataModel.updatedPrincipalSwitchPassword"
                               class="form-control text inline" name="Password"
                               title="Password" placeholder="{{'fabric-update-switch-password' | translate }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Fixed footer-->
    <div class="row navbar-fixed-bottom footer-container">
        <div class="wizard-footer">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                    <button type="button" class="btn btn-default" id="cancel" title="cancel" back-button>{{ 'cancel-button' | translate}}</button>
                    <button type="button" class="btn btn-default active" id="submit" title="submit"
                            ng-click="updateFabricSwitch()" ng-disabled="!dataModel.isValid()">{{ 'submit-button' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</wizard-page>