<common-page-header></common-page-header>
<wizard-page>
    <!--Wizard header-->
    <wizard-header ng-title="'file-pool-add'| translate" title="{{ 'file-pools-tooltip' | translate }}" icon-class="icon-pools"></wizard-header>
    <div class="row wizard-body">
        <single-step-wizard-body
                left-panel-template="views/workflow-templates/create-file-pools-left-panel.html"
                right-panel-template="views/workflow-templates/create-file-pools-right-panel.html"
                ng-model="dataModel" data="dataVizModel"></single-step-wizard-body>
    </div>

    <wizard-footer ng-model="dataModel" ng-if="dataModel">

    </wizard-footer>
</wizard-page>