<div class="overlay">
  <span class="unslider-open"></span>
  <div class="tour-slider">
    <span class="unslider-close">
      <a class="icon icon-delete-item" ng-click="versionModel.closeOverlayContent()"></a>
    </span>
    <ul>
      <li><img src="images/overlay-slider/0.png"></li>
      <li><img src="images/overlay-slider/1.png"></li>
      <li><img src="images/overlay-slider/2.png"></li>
      <li><img src="images/overlay-slider/3.png"></li>
      <li><img src="images/overlay-slider/4.png"></li>
      <li><img src="images/overlay-slider/5.png"></li>
      <li><img src="images/overlay-slider/6.png"></li>
    </ul>
  </div>
</div>
  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript">
    $(document).ready(function($) {
      $('.tour-slider').unslider({
        arrows: {
          //  Unslider default behaviour
          prev: '<a class="unslider-arrow prev"><span class="icon icon-carousel-left-arrow"></span></a>',
          next: '<a class="unslider-arrow next"><span class="icon icon-carousel-right-arrow"></span></a>'
        }
      });

    });
  </script>
