<common-page-header></common-page-header>
<wizard-page>
    <div class="row wizard-header">
        <div class="col-lg-1 col-md-1 hidden-sm">
            <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
        </div>
        <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <span class="icon icon-pools icon-xlg"></span>

            <h1 class="wizard-title">{{ 'common-host-update'| translate }}</h1>
        </div>
    </div>

    <div class="wizard-body">
        <!--full-width wizard-->
        <div class="header-row">
            <h2>{{ 'common-host-update'| translate }}</h2>
        </div>
        <div class="scroll-wizard-container single-pane">
            <div class="tile-view list-view">
                <!--Header Row-->
                <div class="tile row row-tile column-headers">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell">
                        <p>Server Name</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs cell">
                        <p>Description</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs cell">
                        <p>IP Address</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell">
                        <p>OS Type</p>
                    </div>
                </div>
                <!--Standard Row-->
                <div class="tile row row-tile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell">
                        <input type="text" ng-model="dataModel.updatedHostName"
                               class="form-control text inline" name="name"
                               title="name" placeholder="Host Name">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs cell">
                        <input type="text" ng-model="dataModel.updatedDescription"
                               class="form-control text inline" name="description"
                               title="description" placeholder="Description">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs cell">
                        <input type="text" ng-model="dataModel.updatedIpAddress"
                               class="form-control text inline" name="ipAddress"
                               title="ipAddress" placeholder="IP Address">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell control">

                        <select class="dropdown inline" name="osType" title="osType"
                                ng-model="dataModel.updatedOsType"
                                ng-options="'host-mode-' + mode | translate for mode in dataModel.osTypes">
                        </select>
                    </div>
                </div>
            </div>

            <!-- Fibre -->
            <ng-container ng-if="dataModel.protocol === 'FIBRE'">
                <div class="header-row label-value-container-title">
                    <h2>{{ 'host-update-existing-wwns'| translate }}</h2>
                </div>
                <div class="tile-view list-view">
                    <div class="tile row row-tile" ng-repeat="endPoint in dataModel.updatedEndPoints track by $index">
                        <input type="text" ng-model="endPoint.value"
                               class="form-control text inline" name="{{ 'wwn' | translate }}"
                               title="{{ 'wwn' | translate }}">
                    </div>
                </div>

                <div class="header-row label-value-container-title">
                    <h2>{{ 'host-update-add-wwns'| translate }}</h2>
                </div>
                <div class="tile-view list-view">
                    <div class="tile row row-tile" ng-repeat="addedEndPoint in dataModel.addedEndPoints track by $index">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 cell">
                            <input type="text" ng-model="addedEndPoint.value"
                                   class="form-control text inline" name="{{ 'wwn' | translate }}"
                                   title="{{ 'wwn' | translate }}" placeholder="50:00:00:00:00:00:00:00">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell" ng-if="!$first">
                            <button class="btn icon-btn icon-sm icon-delete-item"
                                    ng-click="dataModel.deleteEndPoint($index)"></button>

                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell" ng-if="$first">
                            <button class="btn icon-btn icon-sm icon-add"
                                    ng-click="dataModel.addNewEndPoint()"></button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- iSCSI -->
            <ng-container ng-if="dataModel.protocol === 'ISCSI'">
                <div class="header-row label-value-container-title">
                    <h2>{{ 'Modify Existing iSCSI Names' || 'host-update-existing-iscsi'| translate}}</h2>
                </div>
                <div class="tile-view list-view">
                    <div class="tile row row-tile" ng-repeat="endPoint in dataModel.updatedEndPoints track by $index">
                        <input type="text" ng-model="endPoint.value"
                               class="form-control text inline" name="{{ 'iSCSI Name' || 'update-host-iscsi-name' | translate }}"
                               title="{{ 'iSCSI Name' || 'update-host-iscsi-name' | translate }}">
                    </div>
                </div>

                <div class="header-row label-value-container-title">
                    <h2>{{ 'Add new iSCSI Names' || 'host-update-add-iscsi-names'| translate }}</h2>
                </div>
                <div class="tile-view list-view">
                    <div class="tile row row-tile" ng-repeat="addedEndPoint in dataModel.addedEndPoints track by $index">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 cell">
                            <input type="text" ng-model="addedEndPoint.value"
                                   class="form-control text inline" name="{{ 'iSCSI Name' ||  'update-host-iscsi-name' | translate }}"
                                   title="{{ 'iSCSI Name' || 'update-host-iscsi-name' | translate }}" placeholder="iqn.1992-01.com.company:app">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell" ng-if="!$first">
                            <button class="btn icon-btn icon-sm icon-delete-item"
                                    ng-click="dataModel.deleteEndPoint($index)"></button>

                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell" ng-if="$first">
                            <button class="btn icon-btn icon-sm icon-add"
                                    ng-click="dataModel.addNewEndPoint()"></button>
                        </div>
                    </div>
                </div>

                <!-- Chap -->
                <div class="header-row label-value-container-title">
                    <h2>{{ 'Chap Settings' || 'host-update-chap-settings' | translate }}</h2>
                </div>

                <!-- Chap Auth -->
                <div class="label-value-container">
                    <label class="label">{{ 'Chap Auth' || 'host-update-chap-auth' | translate }}</label>
                    <div class="form-control-btn btn-group btn-group-justified">
                        <label class="btn btn-primary"
                               ng-class="{'active': !dataModel.chap.chapEnabled}">
                            <input hidden type="radio"
                                   ng-model="dataModel.chap.chapEnabled"
                                   auto-complete="off"
                                   ng-value="false">
                            {{ 'Disable' || 'disable' | translate }}
                        </label>
                        <label class="btn btn-primary"
                               ng-class="{'active': dataModel.chap.chapEnabled}">
                            <input hidden type="radio"
                                   ng-model="dataModel.chap.chapEnabled"
                                   auto-complete="off"
                                   ng-value="true">
                            {{ 'Enable' || 'enable' | translate }}
                        </label>
                    </div>
                </div>

                <!-- Chap Credentials-->
                <ng-container ng-if="dataModel.chap.chapEnabled">
                    <div class="label-value-container">
                        <label class="label">{{ 'add-host-chap-user' | translate }}</label>
                        <input class="form-control" ng-model="dataModel.chap.chapUser">
                    </div>
                    <label class="label-value-container checkbox-label">
                        <input type="checkbox" ng-model="dataModel.updateChapSecret">
                        Update Chap Secret
                    </label>
                    <div class="label-value-container" ng-if="dataModel.updateChapSecret">
                        <label class="label">{{ 'New Chap Secret' || 'add-host-chap-secret' | translate }}</label>
                        <input type="password" class="form-control" ng-model="dataModel.chap.chapSecret">
                    </div>
                </ng-container>

                <!-- Mutual Chap Auth -->
                <ng-container ng-if="dataModel.chap.chapEnabled">
                    <div class="header-row label-value-container-title">
                        <h2>{{ 'Mutual Chap Settings' || 'host-update-mutual-chap-settings' | translate }}</h2>
                    </div>
                    <div class="label-value-container">
                        <label class="label">{{ 'Mutual Chap Auth' || 'host-update-mutual-chap-auth' | translate }}</label>
                        <div class="form-control-btn btn-group btn-group-justified">
                            <label class="btn btn-primary"
                                   ng-class="{'active': !dataModel.chap.mutualEnabled}">
                                <input hidden type="radio"
                                       ng-model="dataModel.chap.mutualEnabled"
                                       auto-complete="off"
                                       ng-value="false">
                                {{ 'Disable' || 'disable' | translate }}
                            </label>
                            <label class="btn btn-primary"
                                   ng-class="{'active': dataModel.chap.mutualEnabled}">
                                <input hidden type="radio"
                                       ng-model="dataModel.chap.mutualEnabled"
                                       auto-complete="off"
                                       ng-value="true">
                                {{ 'Enable' || 'enable' | translate }}
                            </label>
                        </div>
                    </div>

                    <!-- Mutual Chap Credentials -->
                    <ng-container ng-if="dataModel.chap.mutualEnabled">
                        <div class="label-value-container">
                            <label class="label">{{ 'add-host-mutual-chap-user' | translate }}</label>
                            <input class="form-control" ng-model="dataModel.chap.mutualUser">
                        </div>
                        <label class="label-value-container checkbox-label">
                            <input type="checkbox" ng-model="dataModel.updateMutualSecret">
                            Update Chap Secret
                        </label>
                        <div class="label-value-container" ng-if="dataModel.updateMutualSecret">
                            <label class="label">{{ 'add-host-mutual-chap-secret' | translate }}</label>
                            <input type="password" class="form-control" ng-model="dataModel.chap.mutualChapSecret">
                        </div>
                    </ng-container>

                </ng-container>

            </ng-container>

            <div class="tile-view list-view">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="dataModel.applyChangesToAttachedVolumes">{{ 'host-update-apply-change' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!--Fixed footer-->
    <div class="row navbar-fixed-bottom footer-container">
        <div class="wizard-footer">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                    <button type="button" class="btn btn-default" id="cancel" title="cancel" back-button>{{ 'cancel-button' | translate }}</button>
                    <div type="button" class="btn btn-default active" title="submit"
                         ng-if="dataModel.applyChangesToAttachedVolumes === true && dataModel.existingEndPointsChanged()"
                         confirm
                         confirm-title="{{ 'host-update-confirmation-title' | translate }}"
                         confirm-message="{{ 'host-update-confirmation-content' | translate }}"
                         ng-click="updateHost()"
                         ng-disabled="!dataModel.isValid()">{{ 'submit-button' | translate }}</div>
                    <button type="button" class="btn btn-default active" title="submit"
                            ng-if="dataModel.applyChangesToAttachedVolumes !== true || !dataModel.existingEndPointsChanged()"
                            ng-click="updateHost()"
                            ng-disabled="!dataModel.isValid()">{{ 'submit-button' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</wizard-page>
