<div class="container-fluid authenticate">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-8 col-md-offset-6 col-sm-offset-4">
        <div class="brand clearfix">
            <div class="logo-container brand-logo">
                <svg class="HID-rainier-logo" version="1.1" viewBox="0 0 120 120" xml:space="preserve" preserveAspectRatio="xMidYMid meet" transform="scale(1, 1)">
            <g class="background-common">
                <linearGradient id="rainier-cube" gradientUnits="userSpaceOnUse" x1="60.0566" y1="0" x2="60.0566" y2="119.9795">
                    <stop class="start" offset="0.1609"/>
                    <stop class="stop" offset="1"/>
                </linearGradient>
                <polygon fill="url(#rainier-cube)" points="59.969,0 111.957,29.944 112.038,89.911 60.12,119.979 8.119,90.09 8.076,30.052 "/>
                <polygon class="cube-right" points="60.057,59.801 60.12,119.979 112.038,89.911 111.957,29.944 "/>
                <polygon class="cube-top" points="59.93,59.809 111.957,29.944 59.969,0 8.076,30.052 "/>
            </g>
            <path class="glyph" d="M87.701,43.868L60.083,27.924L32.178,43.906l-0.015,32.248l27.927,15.9l27.612-16.161L87.701,43.868z
            M60.099,31.672l22.582,13.11L60.042,57.933l-23.13-13.121L60.099,31.672z M60.057,59.801L60.057,59.801L60.057,59.801
            L60.057,59.801z M35.396,47.796l22.984,12.906V87.39L35.4,74.035L35.396,47.796z M61.628,87.353L61.6,60.781l22.844-13.266
            l0.003,26.52L61.628,87.353z"/>
        </svg>
            </div>
            <h1><em>{{ 'brand-hitachi' | translate}}</em> {{ 'brand-rainier' | translate}}</h1>
        </div>
        <form class="authenticate-panel" ng-submit="model.login()">
            <fieldset class="pull-left">
                <div class="form-group has-feedback inline-form-row" >
                    <span class="form-left icon-user icon-sm"></span>
                    <input class="justify" type="text" ng-model="model.username"
                           ng-attr-placeholder="{{'login-username-placeholder' | translate }}">
                    <span class="form-right icon-sm icon-completed-okay" ng-show="model.username.length > 0"></span>
                </div>
                <div class="form-group has-feedback inline-form-row">
                    <span class="form-leader icon-password icon-sm"></span>
                    <input class="justify" type="password" ng-model="model.password"
                           ng-attr-placeholder="{{'login-password-placeholder' | translate }}">
                    <span class="form-right icon-sm icon-completed-okay" ng-show="model.password.length > 0"></span>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg btn-go confirm pull-right"
                    ng-disabled="model.loginDisabled()" >
                <svg class="go-icon" version="1.1" viewBox="0 -8 70 80" xml:space="preserve">
          <path class="circle" d="M35,70C15.7,70,0,54.3,0,35S15.7,0,35,0c19.3,0,35,15.7,35,35S54.3,70,35,70z M35,2.9C17.3,2.9,2.9,17.3,2.9,35
          S17.3,67.1,35,67.1S67.1,52.7,67.1,35S52.7,2.9,35,2.9z"/>
          <polygon class="thin-chevron" points="45.7,35.1 32.2,20.8 30,22.8 41.5,34.9 30.1,45.2 32.1,47.3 "/>
        </svg>
            </button>
            <div class="error-message">
                <div ng-if="model.loginFailed" class="pull-left error">{{ 'login-common-error' | translate}}</span></div>
                <div ng-if="model.unauthorized" class="pull-left error">{{ 'login-unauthorized-error' | translate}}</span></div>
            </div>
        </form>
    </div>
    <div class="navbar-fixed-bottom credentials">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-med-6 col-sm-6 col-xs-12 pull-left">
                    <p>All rights reserved. &copy; {{model.date| date:'yyyy'}} Hitachi, Ltd.</p>
                </div>
                <div class="col-lg-6 col-med-6 col-sm-6 col-xs-12 pull-right">
                    <p class="align-right">Powered by Hitachi Data Systems</p>
                </div>
            </div>
        </div>
    </div>
    <svg class="wallpaper-logo" viewBox="-371 373 103.9 120" preserveAspectRatio="xMidYMid meet" transform="scale(1, 1)">
        <path class="logo-as-watermark" d="M-343.7,420.8l23,12.9v26.7l-23-13.4L-343.7,420.8z M-319,404.7l-23.2,13.1l23.1,13.1l22.6-13.2L-319,404.7z M-267,462.9
        L-319,493l-52-29.9l0-60l51.9-30.1l52,29.9L-267,462.9z M-291.4,448.9l0-32l-27.6-15.9l-27.9,16l0,32.2l27.9,15.9L-291.4,448.9z
        M-317.5,433.8l0,26.6l22.8-13.3l0-26.5L-317.5,433.8z"/>
    </svg>
</div>