<common-page-header></common-page-header>

<wizard-page>

    <wizard-header ng-title="'migrate-volumes' | translate " icon-class="icon-migrate-volume"></wizard-header>

    <wizard-body>
        <wizard-advanced-stepper>
            <!--TODO:modify step-completed and step-active-->
            <!--TODO:select port-->
            <wizard-advanced-stepper-button ng-title="'workflow-title-select-port' | translate"
                                            step-completed="dataModel.isStepCompleted('selectPort')"
                                            step-active="dataModel.isStepActive('selectPort')">
            </wizard-advanced-stepper-button>
            <!--TODO:select volumes-->
            <wizard-advanced-stepper-button ng-title="'workflow-title-select-volumes' | translate"
                                            step-completed="dataModel.isStepCompleted('selectVolumes')"
                                            step-active="dataModel.isStepActive('selectVolumes')">
            </wizard-advanced-stepper-button>
            <!--TODO:select target pool-->
            <wizard-advanced-stepper-button ng-title="'workflow-title-select-target-pool' | translate"
                                            step-completed="dataModel.isStepCompleted('selectPool')"
                                            step-active="dataModel.isStepActive('selectPool')">
            </wizard-advanced-stepper-button>
        </wizard-advanced-stepper>


        <!--TODO:create select port page-->
        <!--<wizard-left-right-content ng-if="dataModel.isStepActive('attach')"-->
                                   <!--ng-title="'storage-attach-new-volumes' | translate"-->
                                   <!--left-panel-template="views/workflow-templates/attach-volumes-left-panel.html"-->
                                   <!--right-panel-template="views/workflow-templates/attach-volumes-right-panel.html"-->
                                   <!--ng-model="dataModel">-->
        <!--</wizard-left-right-content>-->

        <wizard-left-right-content left-panel-template="views/workflow-templates/select-migrate-volumes-left-panel.html"
                                   right-panel-template="views/workflow-templates/select-migrate-volumes-right-panel.html"
                                   ng-model="dataModel"
                                   page-name="create-and-attach-volumes">
        </wizard-left-right-content>

        <!--TODO:create select target pool-->
        <!--<wizard-left-right-content ng-if="dataModel.isStepActive('selectPool')"-->
                                   <!--ng-title="'workflow-title-select-target-pool' | translate"-->
                                   <!--left-panel-template="views/workflow-templates/select-migrate-pool-left-panel.html"-->
                                   <!--right-panel-template="views/workflow-templates/select-migrate-pool-right-panel.html"-->
                                   <!--ng-model="dataModel">-->
        <!--</wizard-left-right-content>-->

    </wizard-body>

    <!--TODO:fix footer and create next button-->
    <wizard-footer ng-if="dataModel.isStepActive('selectPort')"
                   ng-model="dataModel.selectPortModel">
    </wizard-footer>

    <wizard-footer ng-if="dataModel.isStepActive('selectVolumes')"
                   ng-model="dataModel.selectVolumesModel">
    </wizard-footer>

    <wizard-footer ng-if="dataModel.isStepActive('selectPool')"
                   ng-model="dataModel.selectPoolModel">
    </wizard-footer>

</wizard-page>
