<common-page-header></common-page-header>
<wizard-page>
    <div ng-if="dataModel">
        <div class="wizard-header">
            <div class="wizard-nav">
                <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
            </div>
            <div class="wizard-title-group">
                <span class="icon icon-parity-group icon-xlg"></span>
                <!--TODO: add locale when working on advanced page -->
                <h1 class="wizard-title">{{'parity-groups-add' | translate }}</h1>
            </div>
        </div>
        <div class="wizard-body new">
            <!-- if basic -->
            <!-- one wizard -->
            <div class="basic" ng-if="model.wizardType === 'basic'">
                <div class="header-row" ng-if="model.wizardType === 'basic'">
                    <h2>Storage System <em>{{dataModel.selectedStorageSystemId}}</em></h2>
                </div>
                <div class="alert alert-warning" role="alert"
                     ng-if="model.wizardType === 'basic' && dataModel.displayPrompt">
                    <h1>Warning</h1>
                    <p>{{'parity-group-add-basic-prompt' | translate}}</p>
                </div>
                <div class="scroll-wizard-container single-pane"
                     ng-if="model.wizardType === 'basic' && !dataModel.displayPrompt">
                    <div class="tile-view list-view">
                        <!--Header Row-->
                        <parity-group-basic-list-tile ng-model="model"></parity-group-basic-list-tile>
                        <!--Standard Row-->
                        <parity-group-basic-tile ng-model="dataModel"></parity-group-basic-tile>
                        <div class="pull-right margin-T-B-15" class="btn-group-xs btn-group-toggle btn-group-justified">
                            <div class="btn-group-xs">
                                <label>{{'parity-group-encryption'|translate}}</label>
                                <button type="button" class="btn btn-xs btn-default btn-white"
                                        ng-model="dataModel.basicEncryption"
                                        btn-radio="true">ON
                                </button>
                                <button type="button" class="btn btn-xs btn-default btn-white"
                                        ng-model="dataModel.basicEncryption"
                                        btn-radio="false">OFF
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- if advanced -->
            <!-- left column -->
            <div class="wizard-left" ng-if="model.wizardType === 'advanced'">
                
                    <parity-group-adv-left-filter ng-model="dataModel"></parity-group-adv-left-filter>
                
            </div>

            <!-- right column -->
            <div class="wizard-right" ng-if="model.wizardType === 'advanced'">
                <div class="header-row">
                    <h2 ng-if="model.wizardType === 'advanced'">Select
                        Disks</h2>
                    <a id="searchDisks" class="text-link">Search Disks</a>
                </div>

                <!--Update Pool advanced-->
                <div class="scroll-wizard-container split-pane">
                    <!--parity group advance tiles-->
                    <parity-group-adv-tiles ng-model="dataModel" class="tile-container flex-grid"></parity-group-adv-tiles>
                    <!--Right Select Column-->
                    <parity-group-adv-right-filter ng-model="dataModel" class="controls-column"></parity-group-adv-right-filter>
                </div>
            </div>
        </div>
        <!--Wizard footer-->
        <div class="row navbar-fixed-bottom footer-container">
            <div class="wizard-footer">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="toggle" data-toggle="buttons">
                        <label ng-model="model.wizardType" btn-radio="'basic'" class="btn btn-primary" title="Basic">
                            <input autocomplete="off" checked="" type="radio" />
                            Basic
                        </label>
                        <label ng-model="model.wizardType" btn-radio="'advanced'" class="btn btn-primary" title="Advanced">
                            <input  autocomplete="off" checked="" type="radio"/>
                            Advanced
                        </label>
                    </div>

                    <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                        <button type="button" class="btn btn-default" id="cancel" title="Cancel" back-button>Cancel
                        </button>

                        <!--Basic Submit Button-->
                        <button type="button" class="btn btn-default active" id="submit-basic" title="Submit" ng-if="model.wizardType === 'basic'"
                                ng-click="createParityGroupsBasic()"
                                >Submit
                        </button>
                        <!--Advanced Submit Button-->
                        <button type="button" class="btn btn-default active" id="submit-advanced" title="Submit"
                                ng-click="createParityGroupAdvanced()" ng-if="model.wizardType === 'advanced'"
                                ng-attr-confirm="{{!itemSelected}}"
                                confirm-title="{{'parity-group-add-none-selected-message-title' | translate}}"
                                confirm-message="{{'parity-group-add-none-selected-message' | translate}}"
                                >Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</wizard-page>


