<common-page-header></common-page-header>

<!--TODO: page name should be verified-->
<wizard-page>
    <!--Wizard header-->
    <!--TODO: icon class should be modified-->
    <wizard-header ng-title="'remove-undefined-resources-from-vsm' | translate" icon-class="icon-vsm">
    </wizard-header>

    <wizard-body>
        <wizard-advanced-stepper>
            <!--<wizard-advanced-stepper-button ng-title="'remove-physical-storage-systems' | translate"-->
                                            <!--step-completed="dataModel.isStepCompleted('removePhysicalStorageSystems')"-->
                                            <!--step-active="dataModel.isStepActive('removePhysicalStorageSystems')">-->
            <!--</wizard-advanced-stepper-button>-->

            <wizard-advanced-stepper-button ng-title="'remove-volumes-from-vsm' | translate"
                                            step-completed="dataModel.isStepCompleted('removeVolumesFromVsm')"
                                            step-active="dataModel.isStepActive('removeVolumesFromVsm')">
            </wizard-advanced-stepper-button>

            <wizard-advanced-stepper-button ng-title="'remove-host-groups-from-vsm' | translate"
                                            step-completed="dataModel.isStepCompleted('removeHostGroupsFromVsm')"
                                            step-active="dataModel.isStepActive('removeHostGroupsFromVsm')">
            </wizard-advanced-stepper-button>
        </wizard-advanced-stepper>

        <!--<wizard-left-right-content ng-if="dataModel.isStepActive('removePhysicalStorageSystems')"-->
                                   <!--ng-title="dataModel.subTitle"-->
                                   <!--class="virtualize-volume-wizard"-->
                                   <!--left-panel-template="views/workflow-templates/undefined-resources-add-physical-storage-systems-left-panel.html"-->
                                   <!--right-panel-template="views/workflow-templates/undefined-resources-add-physical-storage-systems-right-panel.html"-->
                                   <!--ng-model="dataModel"-->
                                   <!--page-name="create-and-attach-volumes">-->
        <!--</wizard-left-right-content>-->

        <wizard-left-right-content ng-if="dataModel.isStepActive('removeVolumesFromVsm')"
                                   ng-title="dataModel.subTitle"
                                   class="virtualize-volume-wizard"
                                   left-panel-template="views/workflow-templates/undefined-resources-remove-volumes-from-vsm-left-panel.html"
                                   right-panel-template="views/workflow-templates/undefined-resources-remove-volumes-from-vsm-right-panel.html"
                                   ng-model="dataModel"
                                   page-name="create-and-attach-volumes">
        </wizard-left-right-content>

        <wizard-left-right-content ng-if="dataModel.isStepActive('removeHostGroupsFromVsm')"
                                   ng-title="dataModel.subTitle"
                                   class="virtualize-volume-wizard"
                                   left-panel-template="views/workflow-templates/undefined-resources-remove-host-groups-from-vsm-left-panel.html"
                                   right-panel-template="views/workflow-templates/undefined-resources-remove-host-groups-from-vsm-right-panel.html"
                                   ng-model="dataModel"
                                   page-name="create-and-attach-volumes">
        </wizard-left-right-content>
    </wizard-body>


    <!--<wizard-footer ng-if="dataModel.isStepActive('removePhysicalStorageSystems')"-->
                   <!--ng-model="footModel">-->
    <!--</wizard-footer>-->

    <wizard-footer ng-if="dataModel.isStepActive('removeVolumesFromVsm')"
                   ng-model="footModel">
    </wizard-footer>

    <wizard-footer ng-if="dataModel.isStepActive('removeHostGroupsFromVsm')"
                   ng-model="footModel">
    </wizard-footer>

</wizard-page>