<common-page-header>
</common-page-header>
<inventory-page ng-model="dataModel" summary-model="summaryModel" filter-model="filterModel"
                summary-template="views/inventory-templates/replication-groups-summary.html"
                list-count-summary-title="replication-groups-showing-x-of-y"
                filter-template="views/inventory-templates/replication-groups-filter.html"
                list-details-template="views/inventory-templates/replication-group-volume-list-details.html">
</inventory-page>