<common-page-header></common-page-header>
<wizard-page>

    <wizard-header ng-title="'shred-volumes' | translate" icon-class="icon-shred-volume"></wizard-header>

    <single-step-wizard-body ng-title="{{'shred-volumes-wizard-title' | translate}}"
                             left-panel-template="views/workflow-templates/shred-volumes-left-panel.html"
                             right-panel-template="views/workflow-templates/shred-volumes-right-panel.html"
                             ng-model="dataModel"
                             page-name="create-and-attach-volumes">
    </single-step-wizard-body>

    <wizard-footer ng-model="dataModel" ng-if="dataModel">
    </wizard-footer>

</wizard-page>


