<common-page-header></common-page-header>
<wizard-page>
    <wizard-header ng-title="'snmp-manager-add'| translate" icon-class="icon-host"></wizard-header>
    <div class="wizard-body">
        <!--Full-width-->
        <div class="scroll-wizard-container single-pane" >
            <div class="row section">
                <div class="form-horizontal top clearfix">
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-name' | translate }}</label>
                        <input type="text" name="name" class="form-control"
                               ng-model="dataModel.snmpManager.name"
                               required>
                    </div>
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-username' | translate }}</label>
                        <input type="text" name="username" class="form-control"
                               ng-model="dataModel.snmpManager.username" required>
                    </div>
                </div>
                <div class="form-horizontal top clearfix">
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-ip-address' | translate }}</label>
                        <input type="text" name="ipAddress" class="form-control"
                               ng-model="dataModel.snmpManager.ipAddress"
                               required>
                    </div>
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-port' | translate }}</label>
                        <input type="text" name="port" class="form-control"
                               ng-model="dataModel.snmpManager.port" required>
                    </div>
                </div>

                <div class="form-horizontal top clearfix">
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-privacy-protocol' | translate }}</label>
                            <select class="form-control"
                                    ng-model="dataModel.snmpManager.privacyProtocol"
                                    ng-options="protocol for protocol in dataModel.privacyProtocols">
                            </select>
                    </div>
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-privacy-password' | translate }}</label>
                        <input type="password" name="privacyPassword" class="form-control"
                               ng-disabled="dataModel.snmpManager.privacyProtocol === 'NO_PRIV'"
                               ng-model="dataModel.snmpManager.privacyPassword" required>
                    </div>
                </div>
                <div class="form-horizontal top clearfix">
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-auth-protocol' | translate }}</label>
                        <select class="form-control"
                                ng-model="dataModel.snmpManager.authProtocol"
                                ng-options="protocol for protocol in dataModel.authProtocols">
                        </select>
                    </div>
                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                        <label>{{'snmp-manager-auth-password' | translate }}</label>
                        <input type="password" name="authPassword" class="form-control"
                               ng-disabled="dataModel.snmpManager.authProtocol === 'NO_AUTH'"
                               ng-model="dataModel.snmpManager.authPassword" required>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <wizard-footer ng-model="dataModel">

    </wizard-footer>
</wizard-page>
