<common-page-header></common-page-header>
<wizard-page>
    <!--Wizard header-->
    <wizard-header ng-title="'storage-volumes-add'| translate" icon-class="icon-volume"></wizard-header>
    <single-step-wizard-body
            ng-title="{{'storage-volumes-add' | translate}}"
            left-panel-template="views/workflow-templates/create-volumes-left-panel.html"
            right-panel-template="views/workflow-templates/create-volumes-right-panel.html"
            ng-model="dataModel"
            page-name="create-volumes">
    </single-step-wizard-body>

    <wizard-footer ng-model="dataModel.createModel" ng-if="dataModel.createModel"></wizard-footer>
</wizard-page>