<common-page-header></common-page-header>
<wizard-page>
        <form novalidate ng-submit="payload.submit()">
            <div class="row wizard-header">
                <div class="col-lg-1 col-md-1 hidden-sm">
                    <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button=""></button>
                </div>
                <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <span class="icon icon-storage-system icon-xlg"></span>
                    <h1 class="wizard-title">{{'storage-systems-add' | translate }}</h1>
                </div>
            </div>
            <div class="wizard-body">
                <div class="header-row">
                    <h2>{{'storage-systems-add' | translate }}</h2>
                </div>

                    <div class="scroll-wizard-container single-pane">
                        
                            <div role="form" class="solo">
                                <div class="form-group form-group-lg">
                                    <label>{{'storage-systems-svp-ip-address' | translate }}</label>
                                    <input type="text" name="svpIpAddress" class="form-control"
                                           ng-model="model.svpIpAddress" required tabindex="1">
                                </div>
                            </div>  
                            <div class="row section" role="form">
                                
                                    <!--  <div class="form-group form-group-lg ">&nbsp;</div>
                                      <div class="form-group form-group-lg">
                                          <label>{{'storage-systems-gum-ip-address' | translate }}</label>
                                          <input type="text" name="gumIpAddress" class="form-control"
                                                 ng-model="model.gumIpAddress" required tabindex="2">
                                      </div>-->
                                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                                        <label>{{'storage-systems-username' | translate }}</label>
                                        <input type="text" name="username" class="form-control"
                                               ng-model="model.username"
                                               required tabindex="3">
                                    </div>
                                    <div class="form-group form-group-lg col-md-6 col-sm-6 col-xs-12 form-horizontal">
                                        <label>{{'storage-systems-password' | translate }}</label>
                                        <input type="password" name="password" class="form-control"
                                               ng-model="model.password" required tabindex="4">
                                    </div>
                            </div>
                        
                    </div>
                
                <!--Fixed footer-->
                <div class="row navbar-fixed-bottom footer-container">
                    <div class="wizard-footer">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                                <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                                    <button type="button" class="btn btn-default" type="button" back-button
                                            tabindex="6">
                                        {{'common-label-cancel' | translate}}
                                    </button>
                                    <button type="submit" class="btn btn-default active" type="button"
                                            ng-disabled="payload.isInvalid()" tabindex="5">{{'common-label-submit' |
                                        translate}}
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</wizard-page>

