<common-page-header></common-page-header>
<application-stage>
<page-title>
    <inventory-actions ng-model="dataModel"></inventory-actions>
</page-title>
<ng-include src="'views/inventory-templates/storage-systems-summary.html'"></ng-include>

<div class="container-fluid stage">
    <div class="container-fluid resource-detail tiles-view" ng-if="dataModel.unified">
        <div class="resource-row">
            <div class="tile meta-tile-short single black-tile">
                <div class="header-row">
                    <h3>Cluster</h3>
                </div>
                <div class="tile-row resource-info">
                    <div class="resource-icon icon icon-cluster icon-lg-md icon-white"></div>
                    <div class="resource-data-columns">
                        <div class="label-value-container">
                            <p class="label">{{'health' |translate }}</p>
                            <p class="value">{{clusterSummary.health}}</p>
                        </div>
                        <div class="label-value-container" ng-repeat="node in clusterSummary.clusterNodes">
                            <p class="label"> {{'blade' | translate}} {{node.id}} {{node.name}} {{'status' |translate }} </p>
                            <p class="value">{{node.displayStatus}}</p>
                        </div>
                        <div class="label-value-container" ng-repeat="node in clusterSummary.clusterNodes">
                            <p class="label">{{'common-storage-system-fw-version' |translate }}</p>
                            <p class="value">{{node.firmware}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resource-row">
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile" title="{{ 'file-pools-tooltip' | translate }}">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/file-pools'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>{{ 'common-storage-system-file-pools' | translate }}</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{filePoolSummary.total}}</h3>
                                <div class="icon icon-pools icon-xlg file-icon"></div>
                            </div>
                            <div class="tile-row center-content">
                                <div class="tile-tile-tile col-md-6">
                                    <p class="label">{{ 'tiered' | translate }}</p>
                                    <p class="value">{{filePoolSummary.tiered}}</p>
                                </div>
                                <div class="tile-tile-tile col-md-6">
                                    <p class="label">{{ 'untiered' | translate }}</p>
                                    <p class="value">{{filePoolSummary.untiered}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile" title="{{ 'evs-tooltip' | translate }}">
                    <a ng-attr-href="{{ '#/storage-systems/' + dataModel.storageSystemId + '/vfs'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>{{ 'common-storage-system-file-servers' | translate}}</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{evsesSummary.total}}</h3>
                                <div class="icon icon-virtual-file-server icon-xlg file-icon"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-6" ng-repeat="evs in evsesSummary.evsesByType">
                                    <p class="label">{{evs.type | translate}}</p>
                                    <p class="value">{{evs.count}}</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/file-systems'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>{{ 'common-storage-system-file-systems' | translate }}</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{fileSystemsSummary.total}}</h3>

                                <div class="icon icon-filesystem icon-xlg file-icon"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-6" ng-repeat="fs in fileSystemsSummary.fileSystemsByType">
                                    <p class="label">{{fs.type | translate}}</p>
                                    <p class="value">{{fs.count}}</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/shares-exports'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>{{ 'common-storage-system-shares-exports' | translate }}</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{shares.total}}</h3>
                                <div class="icon icon-share icon-xlg file-icon"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-6" ng-repeat="s in sharesSummary">
                                    <p class="label">{{s.type | translate}}</p>
                                    <p class="value">{{s.count}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
      <div class="container-fluid resource-detail tiles-view">  
        <div class="resource-row">
            <div class="tile meta-tile-short single black-tile">
                <div class="header-row">
                    <h3>{{'storage-systems-model' |translate }} {{dataModel.model}}</h3>
                </div>
                <div class="tile-row resource-info">
                    <div class="icon resource-icon icon-storage-system icon-lg-md icon-white"></div>
                    <div class="resource-data-columns">
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-serial-number' |translate }}</p>
                            <p class="value">{{dataModel.storageSystemId}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">FW Version</p>
                            <p class="value">{{dataModel.firmwareVersion}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">HORCM Version</p>
                            <p class="value">{{dataModel.horcmVersion}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">Cache</p>
                            <p class="value"><disk-size wrapped-in="span" ng-model="dataModel.cacheCapacity"></disk-size></p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">Unused Disks</p>
                            <p class="value">{{dataModel.unusedDisks}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">Unused Disk Capacity</p>
                            <p class="value"><disk-size wrapped-in="span" ng-model="dataModel.unusedDisksCapacity"></disk-size></p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-svp-ip-address' |translate }}</p>
                            <p class="value">{{dataModel.svpIpAddress}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-gum-1-ip-address' | translate }}</p>
                            <p class="value">{{dataModel.gum1IpAddress}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-gum-2-ip-address' | translate }}</p>
                            <p class="value">{{dataModel.gum2IpAddress}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resource-row">
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/parity-groups'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>Parity Groups</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{parityGroupsSummary.total}}</h3>
                                <div class="icon icon-parity-group icon-xlg"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-4" ng-repeat="g in parityGroupsSummary.parityGroupsByType">
                                    <p class="label">{{g.type}}</p>
                                    <p class="value">{{g.count}}</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/storage-pools'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>Pools</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{poolsSummary.total}}</h3>

                                <div class="icon icon-pools icon-xlg"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-4" ng-repeat="sbt in poolsSummary.summariesByType">
                                    <p class="label">{{sbt.poolType | translate}}</p>

                                    <p class="value">{{sbt.poolCount}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/volumes'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>Volumes</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{volumesSummary.total}}</h3>
                                <div class="icon icon-volume icon-xlg"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-4" ng-repeat="g in volumesSummary.volumesByType">
                                    <p class="label">{{g.type | translate}}</p>
                                    <p class="value">{{g.count}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/storage-ports'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>Ports</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{portsSummary.total}}</h3>
                                <div class="icon icon-ports icon-xlg"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-4" ng-repeat="g in portsSummary.portsByType">
                                    <p class="label">{{g.type}}</p>
                                    <p class="value">{{g.count}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail">
                <div class="resource-detail-tile">
                    <a ng-attr-href="{{ '#/storage-systems/' + dataModel.storageSystemId + '/replication-groups'}}">
                        <div class="tile-tile">
                            <div ng-if="dataModel.accessible">
                                <h2>{{ 'common-replication-groups' | translate}}</h2>
                            </div>
                            <div ng-if="!dataModel.accessible">
                                <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                            </div>
                            <div class="tile-row full-row-icon">
                                <h3 class="resource-count">{{replicationGroupSummary.total}}</h3>
                                <div class="icon icon-replication-group icon-xlg"></div>
                            </div>
                            <div class="tile-row">
                                <div class="tile-tile-tile col-md-6" ng-repeat="rg in replicationGroupSummary.replicationGroupsByType">
                                    <p class="label">{{rg.type | translate}}</p>
                                    <p class="value">{{rg.count}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tile meta-tile fifth detail" ng-if="externalParityGroupsSummary && externalParityGroupsSummary.count > 0">
                <div id="externalParityGroups" class="flex-tile fifth">
                    <div class="resource-detail-tile">
                        <a ng-attr-href="{{ '#/storage-systems/' + dataModel.storageSystemId + '/external-parity-groups'}}">
                            <div class="tile-tile">
                                <div ng-if="dataModel.accessible">
                                    <h2>{{ 'common-external-parity-groups' | translate}}</h2>
                                </div>
                                <div ng-if="!dataModel.accessible">
                                    <h2>{{'storage-systems-not-accessible' | translate }}</h2>
                                </div>
                                <div class="tile-row full-row-icon">
                                    <h3 class="resource-count">{{externalParityGroupsSummary.count}}</h3>
                                    <div class="icon icon-external-parity-group icon-xlg"></div>
                                </div>
                                <div class="tile-row flex-center">
                                    <div class="tile-tile-tile sevenths">
                                        <p class="label">{{ 'common-external-parity-groups' | translate}}</p>
                                        <p class="value">{{externalParityGroupsSummary.count}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</application-stage>
