<common-page-header></common-page-header>
<wizard-page>
    <!--Wizard header-->
    <wizard-header ng-title="'storage-volume-update'| translate" icon-class="icon-volume"></wizard-header>
    <div class="row wizard-body">
        <single-step-wizard-body
                ng-title="Update Volume"
                left-panel-template="views/workflow-templates/storage-system-volume-update-left-panel.html"
                right-panel-template="views/workflow-templates/storage-system-volume-update-right-panel.html"
                ng-model="dataModel"></single-step-wizard-body>

    </div>

    <wizard-footer ng-model="dataModel.updateModel" ng-if="dataModel.updateModel">

    </wizard-footer>
</wizard-page>
