<common-page-header></common-page-header>
<wizard-page>
    <div class="row wizard-header">
        <div class="col-lg-1 col-md-1 hidden-sm">
            <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
        </div>
        <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <span class="icon icon-ports icon-xlg"></span>

            <h1 class="wizard-title">{{'storage-port-update' | translate }}</h1>
        </div>
    </div>

    <div class="wizard-body">
        <!--full-width wizard-->
        <div class="header-row">
            <h2>Port Information</h2>
        </div>

        <div class="scroll-wizard-container single-pane">
            <div class="tile-view list-view">
                <!--Header Row-->
                <div class="tile row row-tile column-headers">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'storage-port-update-port-id' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'storage-port-update-port-type' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'storage-port-update-port-speed' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'storage-port-update-port-fabric' | translate }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <p>{{'storage-port-update-port-connection-type' | translate }}</p>
                    </div>
                </div>

                <!--Standard Row-->
                <div class="tile row-tile">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.storagePortId"
                               class="form-control text inline" name="Port Id" disabled="true">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.storagePortType"
                               class="form-control text inline" name="Port Type" disabled="true">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.storagePortSpeed"
                               class="form-control text inline" name="Port Speed" disabled="true">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.storagePortFabric"
                               class="form-control text inline" name="Port Topology" disabled="true">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                        <input type="text" ng-model="dataModel.storagePortConnectionType"
                               class="form-control text inline" name="Port Topology" disabled="true">
                    </div>
                </div>
            </div>
            <!-- logic for new attribute goes here-->
            <br><br><br><br>
            <div class="btn-group btn-group-toggle btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default" ng-model="dataModel.storagePortSecurity" ng-class="{'active':dataModel.storagePortSecurity}"
                           btn-radio="true">{{'storage-port-enable-security' | translate}}
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-model="dataModel.storagePortSecurity" ng-class="{'active':!dataModel.storagePortSecurity}"
                           btn-radio="false">{{'storage-port-not-enable-security' | translate}}
                    </button>
                </div>
            </div>

            <br><br><br><br>
            <div class="control-group" ng-if="isStorageModelG1000()">
                <select class="selectpicker inline btn-group-justified" ng-model="dataModel.storagePortAttribute" ng-options="portAttribute for portAttribute in dataModel.portAttributes">
                    <option value="">{{'storage-port-select-port-attribute-filter' | translate}}</option>
                </select>
            </div>
        </div>
    </div>

    <!--Fixed footer-->
    <div class="row navbar-fixed-bottom footer-container">
        <div class="wizard-footer">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                    <button type="button" class="btn btn-default" id="cancel" title="cancel" back-button>{{ 'cancel-button' | translate}}</button>
                    <button type="button" class="btn btn-default active" id="submit" title="submit"
                            ng-click="updateStoragePort()" ng-disabled="isNullAttribute()">{{ 'submit-button' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</wizard-page>