<common-page-header></common-page-header>

<div class="container-fluid stage" ng-init="page='poolDetails'">
    <page-title>
        <inventory-actions ng-model="poolDataModel" at-top="true"></inventory-actions>
    </page-title>

    <div class="summary-container-default">
        <div class="tile quarter">
            <div class="resource-row">
                <div class="tile meta-tile-short single"  ng-if="summaryModel">
                    <div class="tile-row resource-info">
                        <div class="resource-data">
                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-label' | translate}}</p>
                                <p class="value" title="{{poolDataModel.label}}">{{poolDataModel.label}}</p>
                            </div>

                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-type' | translate}}</p>
                                <p class="value">{{poolDataModel.type | translate}}</p>
                            </div>

                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-tier' | translate}}</p>
                                <p class="value" title="{{poolDataModel.tierNames}}">{{poolDataModel.tierNames}}</p>
                            </div>

                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-encryption' | translate}}</p>
                                <p class="value">{{poolDataModel.encrypted | translate}}</p>
                            </div>

                            <div class="label-value-container">
                                <div ng-if="poolDataModel.containsPlatinum">
                                    <p class="label">{{ 'pool-active-flash' | translate }}</p>
                                    <p class="value">{{poolDataModel.activeFlashEnabled}}</p>
                                </div>
                            </div>

                            <div class="label-value-container">
                                <div ng-if="storageSystemDataModel.unified">
                                    <p class="label">{{ 'common-label-nas-boot' | translate }}</p>
                                    <p class="value">{{poolDataModel.nasBoot}}</p>
                                </div>
                            </div>

                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-subscription-limit' | translate}}</p>
                                <p class="value">{{poolDataModel.subscriptionLimit.unlimited? 'common-label-unlimited':
                                    poolDataModel.subscriptionLimit.value | translate}}</p>
                            </div>

                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-parity-group-ids' | translate}}</p>
                                <span ng-repeat="parityGroup in poolDataModel.parityGroups track by $index">{{parityGroup.id}}<span class="icon icon-sm icon-password" ng-if="parityGroup.encryption" title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>

                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-external-parity-group-ids' | translate}}</p>
                                <span ng-repeat="externalParityGroupId in poolDataModel.externalParityGroupIds track by $index">{{externalParityGroupId}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile quarter" ng-if="poolDataModel">
            <div class="label-value-container">
                <p class="label">{{ 'storage-pool-utilization' | translate}}</p>
                <threshold-visualization ng-model="poolDataModel"></threshold-visualization>
            </div>
        </div>
        <div class="tile quarter">
            <array-polar-data-visualization class="utilization"
                                            ng-model="summaryModel.arrayDataVisualizationModel"
                                            no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
        </div>
    </div>
    <div class="container-fluid resource-detail tiles-view" ng-if="poolDataModel.type==='HDT'">
        <div class="resource-row">
            <div class="nested-tiles-meta-tile">

                <div class="tile meta-tile">
                    <div class="label-value-container resource-data">
                        <h2>{{'storage-pool-tier-information'|translate}}</h2>
                        <p class="label">{{ 'storage-pool-tiering-mode' | translate}}</p>
                        <p class="value">{{poolDataModel.tieringMode}}</p>
                        <p class="label">{{ 'storage-pool-monitoring-mode' | translate}}</p>
                        <p class="value">{{poolDataModel.monitoringMode}}</p>
                    </div>
                </div>

                <div ng-repeat="item in summaryModel.dataVisualizationModel.items" class="tile tier-tile">
                    <div>
                        <div class="title-row">
                            <span class="icon icon-md icon-tier"></span>
                            <h3>{{item.tierName}}</h3>
                        </div>
                        <div class="tile-row resource-info">
                            <div class="data-viz-column">
                                <h4>{{'pool-buffer-space'|translate}}</h4>
                                <div class="data-viz bar">
                                    <p class="label">{{'pool-new-page-assignment'|translate}} {{item.bufferSpace.newPageAssignment.value}}</p>
                                    <percentage-bar class="bdv" ng-model="item.newPageAssignment"></percentage-bar>
                                </div>
                                <div class="data-viz bar">
                                    <p class="label">{{'pool-tier-relocation'|translate}}</p>
                                    <percentage-bar class="bdv" ng-model="item.tierRelocation"></percentage-bar>
                                </div>
                                <h4>{{'pool-performance-utilization'|translate}}</h4>
                                <div class="data-viz bar">
                                    <percentage-bar class="bdv" ng-model="item.performanceUtilization"></percentage-bar>
                                </div>
                            </div>

                            <div class="data-viz-column">
                                <h4>{{'storage-pool-tier-capacity'|translate}}</h4>
                                <polar-data-visualization class="utilization"
                                                          ng-model="item"></polar-data-visualization>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="poolDataModel.fmcCompressed === 'YES' || poolDataModel.fmcCompressed === 'PARTIAL'">
        <div class="row page-title with-tools">
            <h1>{{ 'storage-pool-compression' | translate }}</h1>
        </div>
        <div class="summary-container-default">
            <div class="summary-container-default pull-left">
                <div class="container-fluid resource-detail tiles-view">
                    <div class="resource-row">
                        <div class="meta-tile-short single tile">
                            <div class="tile-row resource-info">
                                <div class="resource-data">
                                    <div class="label-value-container">
                                        <p class="label">{{ 'storage-pool-compression' | translate}}</p> <p class="value">{{poolDataModel.fmcCompressed | translate}}</p>
                                        <p class="label">{{ 'storage-pool-expansion-rate' | translate}}</p> <p class="value">{{poolDataModel.fmcCompressionDetails.expansionRate | translate}}</p>
                                        <p class="label">{{ 'storage-pool-compression-rate' | translate}}</p> <p class="value">{{poolDataModel.fmcCompressionDetails.compressionRate | translate}}</p>
                                        <p class="label">{{ 'storage-pool-savings-percentage' | translate}}</p> <p class="value">{{poolDataModel.fmcCompressionDetails.savingsPercentage}}</p>
                                        <p class="label">{{ 'storage-pool-logical-capacity' | translate}}</p> <p class="value">{{poolDataModel.logicalCapacityInBytes | translate}}</p>
                                        <p class="label">{{ 'storage-pool-used-logical-capacity' | translate}}</p> <p class="value">{{poolDataModel.usedLogicalCapacityInBytes | translate}}</p>
                                        <p class="label">{{ 'storage-pool-available-logical-capacity' | translate}}</p> <p class="value">{{poolDataModel.availableLogicalCapacityInBytes | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resource-row">
                        <div class="tile-row resource-info">
                            <div class="resource-data">
                                <div class="label-value-container">
                                    <p class="label">{{ 'storage-pool-compressed-parity-group-ids' | translate}}</p>
                                    <span ng-repeat="parityGroup in poolDataModel.compressedParityGroups track by $index">{{parityGroup.id}}<span class="icon icon-sm icon-password" ng-if="parityGroup.encryption" title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <inventory-page ng-model="dataModel"
                    filter-model="filterModel"
                    list-count-summary-title="storage-volumes-showing-x-of-y"
                    filter-template="views/inventory-templates/storage-volumes-filter.html">
    </inventory-page>
</div>
</application-stage>
