<common-page-header></common-page-header>
<application-stage>
<page-title>
    <inventory-actions ng-model="dataModel" at-top="true"></inventory-actions>
</page-title>
<ng-include src="'views/inventory-templates/storage-systems-summary.html'"></ng-include>

<div class="container-fluid stage">
    <div class="container-fluid resource-detail tiles-view file-data" ng-if="dataModel.unified">
        <div class="resource-row">
            <div class="tile meta-tile-short single black-tile">
                <div class="header-row">
                    <h3>Cluster</h3>
                </div>
                <div class="tile-row resource-info">
                    <div class="resource-icon icon icon-cluster icon-lg-md icon-white"></div>
                    <div class="resource-data-columns">
                        <div class="label-value-container">
                            <p class="label">{{'health' |translate }}</p>
                            <p class="value">{{clusterSummary.health}}</p>
                        </div>
                        <div class="label-value-container" ng-repeat="node in clusterSummary.clusterNodes">
                            <p class="label"> {{'blade' | translate}} {{node.id}} {{node.name}} {{'status' |translate }} </p>
                            <p class="value">{{node.displayStatus}}</p>
                        </div>
                        <div class="label-value-container" ng-repeat="node in clusterSummary.clusterNodes">
                            <p class="label">{{'blade' | translate}} {{node.id}} {{node.name}} {{'common-storage-system-fw-version' |translate }}</p>
                            <p class="value">{{node.firmware}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resource-row">
            <!--Meta-tile formatted-->
            <div class="tile meta-tile quarter">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/file-pools'}}" class="control-tile" title="{{ 'file-pools-tooltip' | translate }}">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-pools icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">{{ 'common-storage-system-file-pools' | translate }}</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{filePoolSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile">
                                <p class="label">{{ 'tiered' | translate }}</p>
                                <p class="value">{{filePoolSummary.tiered}}</p>
                            </li>
                            <li class="micro-tile">
                                <p class="label">{{ 'untiered' | translate }}</p>
                                <p class="value">{{filePoolSummary.untiered}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
            
            <!--Meta-tile: Virtual File Servers-->
            <div class="tile meta-tile quarter">    
                <a ng-attr-href="{{ '#/storage-systems/' + dataModel.storageSystemId + '/vfs'}}" class="control-tile" title="{{ 'evs-tooltip' | translate }}">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-virtual-file-server icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">{{ 'common-storage-system-file-servers' | translate}}</p>
                            <p class="labe" ng-if="!dataModel.accessible">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{evsesSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="evs in evsesSummary.evsesByType">
                                <p class="label">{{evs.type | translate}}</p>
                                <p class="value">{{evs.count}}</p>
                            </li>

                        </ul>
                    </div>
                </a>
            </div>
            
            <!--Meta-tile: Virtual File Systems formatted-->
            <div class="tile meta-tile quarter">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/file-systems'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-filesystem icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">{{ 'common-storage-system-file-systems' | translate }}</p>
                            <p class="labe" ng-if="!dataModel.accessible">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{fileSystemsSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="fs in fileSystemsSummary.fileSystemsByType">
                                <p class="label">{{fs.type | translate}}</p>
                                <p class="value">{{fs.count}}</p>
                            </li>

                        </ul>
                    </div>
                </a>
            </div>
            
            <!--Meta-tile: Virtual Shares-Exports formatted-->
            <div class="tile meta-tile quarter">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/shares-exports'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-share icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">{{ 'common-storage-system-shares-exports' | translate }}</p>
                            <p class="labe" ng-if="!dataModel.accessible">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{shares.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="s in sharesSummary">
                                <p class="label">{{s.type | translate}}</p>
                                <p class="value">{{s.count}}</p>
                            </li>

                        </ul>
                    </div>
                </a>
            </div>     
        </div>
    </div>
      <div class="container-fluid resource-detail tiles-view block-data">  
        <div class="resource-row">
            <!--Main meta-tile for this model -->
            <div class="tile meta-tile-short single black-tile">
                <div class="header-row">
                    <h3>{{dataModel.storageSystemName}}</h3>
                </div>
                <div class="tile-row resource-info">
                    <div class="icon resource-icon icon-storage-system icon-lg-md icon-white"></div>
                    <div class="resource-data-columns">
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-model' |translate }}</p>
                            <p class="value">{{dataModel.model}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">FW Version</p>
                            <p class="value">{{dataModel.firmwareVersion}}
                                <i ng-if="dataModel.firmwareVersionIsSupported === false" class="critical">({{'unsupported-storage-system-firmware' | translate}})</i>
                            </p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">HORCM Version</p>
                            <p class="value">{{dataModel.horcmVersion}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">Cache</p>
                            <p class="value"><disk-size wrapped-in="span" ng-model="dataModel.cacheCapacity"></disk-size></p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">Unused Disks</p>
                            <p class="value">{{dataModel.unusedDisks}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">Unused Disk Capacity</p>
                            <p class="value"><disk-size wrapped-in="span" ng-model="dataModel.unusedDisksCapacity"></disk-size></p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-svp-ip-address' |translate }}</p>
                            <p class="value">{{dataModel.svpIpAddress}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-gum-1-ip-address' | translate }}</p>
                            <p class="value">{{dataModel.gum1IpAddress}}</p>
                        </div>
                        <div class="label-value-container">
                            <p class="label">{{'storage-systems-gum-2-ip-address' | translate }}</p>
                            <p class="value">{{dataModel.gum2IpAddress}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resource-row">
            
            <!--Meta-tile Parity Groups formatted-->
            <div class="tile meta-tile sixth">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/parity-groups'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-parity-group icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">Parity Groups</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{parityGroupsSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="g in parityGroupsSummary.parityGroupsByType">
                                <p class="label">{{g.type}}</p>
                                <p class="value">{{g.count}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
            <!--Meta-tile Pools formatted-->
            <div class="tile meta-tile sixth">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/storage-pools'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-pools icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">Pools</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{poolsSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="sbt in poolsSummary.summariesByType">
                                <p class="label">{{sbt.poolType | translate}}</p>
                                <p class="value">{{sbt.poolCount}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
            
            <!--Meta-tile Volumes formatted-->
            <div class="tile meta-tile sixth">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/volumes'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-volume icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">Volumes</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{volumesSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="g in volumesSummary.volumesByType">
                                <p class="label">{{g.type | translate}}</p>
                                <p class="value">{{g.count}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
            
            <!--Meta-tile Ports formatted-->
            <div class="tile meta-tile sixth">    
                <a ng-attr-href="{{ '#/storage-systems/' +dataModel.storageSystemId + '/storage-ports'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-ports icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">Ports</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{portsSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="g in portsSummary.portsByType">
                                <p class="label">{{g.type}}</p>
                                <p class="value">{{g.count}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
            <!--Meta-tile Replication-groups formatted-->
            <div class="tile meta-tile sixth">    
                <a ng-attr-href="{{ '#/storage-systems/' + dataModel.storageSystemId + '/replication-groups'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-replication-group icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">{{ 'common-replication-groups' | translate}}</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{replicationGroupSummary.total}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile" ng-repeat="rg in replicationGroupSummary.replicationGroupsByType">
                                <p class="label">{{rg.type | translate}}</p>
                                <p class="value">{{rg.count}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
            
            <!--Meta-tile External-Parity Groups formatted-->
            <div class="tile meta-tile sixth" ng-if="externalParityGroupsSummary && externalParityGroupsSummary.count > 0">    
                <a ng-attr-href="{{ '#/storage-systems/' + dataModel.storageSystemId + '/external-parity-groups'}}" class="control-tile">
                    <div class="tile-row icon-header-row">
                        <div class="resource-icon icon-external-parity-group icon-lg-md"></div>
                        <div class="label-value-container resource-data">
                            <p class="label" ng-if="dataModel.accessible">{{ 'common-external-parity-groups' | translate}}</p>
                            <p ng-if="!dataModel.accessible" class="label">{{'storage-systems-not-accessible' | translate }}</p>
                            <h1>{{externalParityGroupsSummary.count}}</h1>
                        </div>
                    </div>
                    <div class="tile-row micro-tiles-row">
                        <ul class="micro-tiles"> 
                            <li class="micro-tile">
                                <p class="label">{{ 'common-external-parity-groups' | translate}}</p>
                                <p class="value">{{externalParityGroupsSummary.count}}</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>
</application-stage>
