<common-page-header></common-page-header>
<wizard-page>
        <div class="row wizard-header">
            <div class="col-lg-1 col-md-1 hidden-sm">
                <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
            </div>
            <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <span class="icon icon-pools icon-xlg"></span>

                <h1 class="wizard-title">Update Storage System</h1>
            </div>
        </div>

        <div class="wizard-body">
            <!--full-width wizard-->
            <div class="header-row">
                <h2>Storage System <em>{{dataModel.storageSystemId}}</em></h2>
            </div>
            <div class="scroll-wizard-container single-pane">
                <div class="tile-view list-view">
                    <!--Header Row-->
                    <div class="tile row row-tile column-headers">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <p title="{{'storage-systems-name' | translate}}">{{'storage-systems-name' | translate }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <p title="{{'storage-systems-svp-ip-address' | translate}}">{{'storage-systems-svp-ip-address' | translate }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <p title="{{'storage-systems-gum-1-ip-address' | translate}}">{{'storage-systems-gum-1-ip-address' | translate }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <p title="{{'storage-systems-gum-2-ip-address' | translate}}">{{'storage-systems-gum-2-ip-address' | translate }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <p title="{{'storage-systems-username' | translate}}">{{'storage-systems-username' | translate }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <p title="{{'storage-systems-password' | translate}}">{{'storage-systems-password' | translate }}</p>
                        </div>
                    </div>
                    <!--Standard Row-->
                    <div class="tile row-tile">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell control">
                            <input type="text" ng-model="dataModel.storageSystemName"
                                   class="form-control text inline" name="storageSystemName"
                                   title="storageSystemName" placeholder="Storage System Name">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <input type="text" ng-model="dataModel.svpIpAddress"
                                   class="form-control text inline" name="svpIpAddress"
                                   title="svpIpAddress" ng-disabled="true"
                                   placeholder="svpIpAddress">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <input type="text" ng-model="dataModel.gum1IpAddress"
                                   class="form-control text inline" name="gum1IpAddress"
                                   title="gum1IpAddress" ng-disabled="true"
                                   placeholder="svpIpAddress">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell">
                            <input type="text" ng-model="dataModel.gum2IpAddress"
                                   class="form-control text inline" name="gum2IpAddress"
                                   title="gum2IpAddress" ng-disabled="true"
                                   placeholder="svpIpAddress">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell control">
                            <input type="text" ng-model="dataModel.username"
                                   class="form-control text inline" name="username"
                                   title="username" placeholder="User Name">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell control">
                            <input type="password" ng-model="dataModel.password"
                                   class="form-control text inline" name="password"
                                   title="password" placeholder="********">
                        </div>
                    </div>
                </div>
                <p class="validation-text" ng-if="!usernameIsValid()"> {{'storage-system-update-invalid-username' | translate }}</p>
                <p class="validation-text" ng-if="!passwordIsValid()"> {{'storage-system-update-invalid-password' | translate }}</p>
            </div>
        </div>
        <!--Fixed footer-->
        <div class="row navbar-fixed-bottom footer-container">
            <div class="wizard-footer">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                        <button type="button" class="btn btn-default" id="cancel" title="cancel" back-button>{{ 'cancel-button' | translate}}</button>
                        <button type="button" class="btn btn-default active" id="submit" title="submit"
                                ng-click="updateStorageSystem()" ng-disabled="!isValid()">{{ 'submit-button' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
</wizard-page>
