<common-page-header></common-page-header>

<div class="container-fluid stage">
    <page-title>
        <inventory-actions ng-model="dataModel" at-top="true"></inventory-actions>
    </page-title>

    <div class="summary-container-default">
        <div class="container-fluid resource-detail tiles-view">
            <div class="resource-row">
                <div class="meta-tile-short single tile"  ng-if="summaryModel">
                    <div class="tile-row resource-info">
                        <div class="resource-data">
                            <div class="label-value-container">
                                <p class="label">{{ 'storage-pool-label' | translate}}</p><p class="value">{{dataModel.label}}</p>
                                <p class="label">{{ 'storage-pool-type' | translate}}</p><p class="value">{{dataModel.type | translate}}</p>
                                <p class="label" title= "{{dataModel.tierNames}}">{{ 'storage-pool-tier' | translate}}</p><p class="value">{{dataModel.tierNames}}</p>
                                <p class="label">{{ 'storage-pool-encryption' | translate}} </p><p class="value">{{dataModel.encrypted | translate}}</p>
                                <p class="label" ng-if="dataModel.containsPlatinum">{{ 'pool-active-flash' | translate }} </p><p class="value" ng-if="dataModel.containsPlatinum">{{dataModel.activeFlashEnabled}}</p>
                                <p class="label">{{ 'storage-pool-utilization-threshold1' | translate}} </p> <p class="value">{{dataModel.utilizationThreshold1}}</p>
                                <p class="label">{{ 'storage-pool-utilization-threshold2' | translate}} </p><p class="value">{{dataModel.utilizationThreshold2}}</p>
                                <p class="label">{{ 'storage-pool-subscription-limit' | translate}} </p><p class="value">{{dataModel.subscriptionLimit.unlimited ? ('common-label-unlimited' | translate) : dataModel.subscriptionLimit.value}}</p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resource-row">
                <div class="tile-row resource-info">
                    <div class="resource-data">
                        <div class="label-value-container">
                            <p class="label">{{ 'storage-pool-parity-group-ids' | translate}}</p>
                            <span ng-repeat="parityGroup in dataModel.parityGroups track by $index">{{parityGroup.id}}<span class="icon icon-sm icon-password" ng-if="parityGroup.encryption" title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resource-row">
                <div class="tile-row resource-info">
                    <div class="resource-data">
                        <div class="label-value-container">
                            <p class="label">{{ 'storage-pool-external-parity-group-ids' | translate}}</p>
                            <span ng-repeat="externalParityGroupId in dataModel.externalParityGroupIds track by $index">{{externalParityGroupId}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <array-polar-data-visualization class="utilization"
                                            ng-model="summaryModel.arrayDataVisualizationModel"
                                            no-break-down="summaryModel.noBreakdown"></array-polar-data-visualization>
        </div>
    </div>
    <div ng-if="dataModel.compressed === 'YES' || dataModel.compressed === 'PARTIAL'">
        <div class="row page-title with-tools">
            <h1>{{ 'storage-pool-compression' | translate }}</h1>
        </div>
        <div class="summary-container-default">
            <div class="summary-container-default pull-left">
                <div class="container-fluid resource-detail tiles-view">
                    <div class="resource-row">
                        <div class="meta-tile-short single tile">
                            <div class="tile-row resource-info">
                                <div class="resource-data">
                                    <div class="label-value-container">
                                        <p class="label">{{ 'storage-pool-compression' | translate}}</p> <p class="value">{{dataModel.compressed | translate}}</p>
                                        <p class="label">{{ 'storage-pool-expansion-rate' | translate}}</p> <p class="value">{{dataModel.expansionRate | translate}}</p>
                                        <p class="label">{{ 'storage-pool-compression-rate' | translate}}</p> <p class="value">{{dataModel.compressionRate | translate}}</p>
                                        <p class="label">{{ 'storage-pool-savings-percentage' | translate}}</p> <p class="value">{{dataModel.savingsPercentage}}</p>
                                        <p class="label">{{ 'storage-pool-physical-capacity' | translate}}</p> <p class="value">{{dataModel.physicalCapacityInBytes | translate}}</p>
                                        <p class="label">{{ 'storage-pool-used-physical-capacity' | translate}}</p> <p class="value">{{dataModel.usedPhysicalCapacityInBytes | translate}}</p>
                                        <p class="label">{{ 'storage-pool-available-physical-capacity' | translate}}</p> <p class="value">{{dataModel.availablePhysicalCapacityInBytes | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resource-row">
                        <div class="tile-row resource-info">
                            <div class="resource-data">
                                <div class="label-value-container">
                                    <p class="label">{{ 'storage-pool-compressed-parity-group-ids' | translate}}</p>
                                    <span ng-repeat="parityGroup in dataModel.compressedParityGroups track by $index">{{parityGroup.id}}<span class="icon icon-sm icon-password" ng-if="parityGroup.encryption" title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</application-stage>
