<common-page-header></common-page-header>

<div class="container-fluid stage resource-detail" ng-init="page='poolDetails'">
    <page-title>
        <inventory-actions ng-model="poolDataModel" at-top="true"></inventory-actions>
    </page-title>

    <div class="summary-container-default">
        <div class="tile meta-tile quarter pool-summary-tile">

            <div class="resource-data resource-data-columns" ng-if="summaryModel">

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-label' | translate}}</p>
                    <p class="value" title="{{poolDataModel.label}}">{{poolDataModel.label}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-type' | translate}}</p>
                    <p class="value">{{poolDataModel.type | translate}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-tier' | translate}}</p>
                    <p class="value" title="{{poolDataModel.tierNames}}">{{poolDataModel.tierNames}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-encryption' | translate}}</p>
                    <p class="value">{{poolDataModel.encrypted | translate}}</p>
                </div>

                <div class="label-value-container" ng-if="poolDataModel.containsPlatinum">
                    <p class="label">{{ 'pool-active-flash' | translate }}</p>
                    <p class="value">{{poolDataModel.activeFlashEnabled}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'pool-ddm' | translate }}</p>
                    <p class="value">{{poolDataModel.ddmEnabled | translate}}</p>
                </div>

                <div class="label-value-container" ng-if="storageSystemDataModel.unified">
                    <p class="label">{{ 'common-label-nas-boot' | translate }}</p>
                    <p class="value">{{poolDataModel.nasBoot}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-subscription-limit' | translate}}</p>
                    <p class="value">{{poolDataModel.subscriptionLimit.unlimited? 'common-label-unlimited':
                        poolDataModel.subscriptionLimit.value | translate}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-deduplication' | translate}}</p>
                    <p class="value" title="{{ poolDataModel.deduplicationEnabled ?
                     ( 'dsd-volume-capacity-tooltip' | translate:
                     { dsdVolCapacity: poolDataModel.deduplicationSystemDataCapacityInBytes }) : '' }}">
                        {{poolDataModel.dispDeduplicationEnabled}}</p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-parity-group-ids' | translate}}</p>
                    <span ng-repeat="parityGroup in poolDataModel.parityGroups track by $index">{{parityGroup.id}}<span
                            class="icon icon-sm icon-password" ng-if="parityGroup.encryption"
                            title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <p></p>
                </div>

                <div class="label-value-container">
                    <p class="label">{{ 'storage-pool-external-parity-group-ids' | translate}}</p>
                    <span ng-repeat="externalParityGroupId in poolDataModel.externalParityGroupIds track by $index">{{externalParityGroupId}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span ng-if="poolDataModel.externalParityGroupIds.length === 0"> - </span>
                    <p></p>
                </div>


                <div ng-if="totalEfficiencyModel === undefined">
                    <div class="label-value-container" ng-if="poolDataModel.type!=='HTI'">
                        <p class="label">{{ 'capacity-efficiency-savings-ratio' | translate }}</p>
                        <p class="value" ng-if="poolDataModel.capacityEfficiencyRate !== 0">
                            {{poolDataModel.capacityEfficiencyRate}} : 1</p>
                        <p class="value" ng-if="poolDataModel.capacityEfficiencyRate === 0"> - </p>
                    </div>

                    <div class="label-value-container">
                        <p class="label">{{ 'data-reduction-savings-ratio' | translate }}</p>
                        <p class="value" ng-if="poolDataModel.dataReductionSavingsRate !== 0">
                            {{poolDataModel.dataReductionSavingsRate}} : 1</p>
                        <p class="value" ng-if="poolDataModel.dataReductionSavingsRate === 0"> - </p>
                        <p></p>
                    </div>
                </div>

                <div ng-if="totalEfficiencyModel !== undefined">

                    <div class="label-value-container">
                        <p class="label">{{ 'total-efficiency' | translate }}</p>
                        <total-efficiency-value ng-model="totalEfficiencyModel.totalEfficiencyRate">
                        </total-efficiency-value>
                    </div>

                    <div class="label-value-container">
                        <p class="label">{{ 'total-efficiency-total-data-reduction' | translate }}</p>
                        <total-efficiency-value
                                ng-model="totalEfficiencyModel.dataReductionRate.totalDataReductionRate">
                        </total-efficiency-value>
                    </div>

                    <div class="label-value-container">
                        <p class="label">{{ 'total-efficiency-provisioning' | translate }}</p>
                        <total-efficiency-value ng-model="totalEfficiencyModel.provisioningEfficiencyPercentage">
                        </total-efficiency-value>
                    </div>

                    <div class="label-value-container">
                        <p class="label">{{ 'total-efficiency-snapshot' | translate }}</p>
                        <total-efficiency-value ng-model="totalEfficiencyModel.snapshotEfficiencyRate">
                        </total-efficiency-value>
                    </div>

                    <div class="label-value-container">
                        <p class="label">{{ 'total-efficiency-calculation-period' | translate }}</p>
                        <p class="value" title="{{ totalEfficiencyModel.calculationStartTime }} - {{ totalEfficiencyModel.calculationEndTime }}"
                           ng-if="totalEfficiencyModel.calculationStartTime && totalEfficiencyModel.calculationEndTime">
                            {{ totalEfficiencyModel.calculationStartTime }} - {{ totalEfficiencyModel.calculationEndTime }}</p>
                        <p class="value" ng-if="!totalEfficiencyModel.calculationStartTime">-</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="tile fifth" ng-if="poolDataModel">
                <h3>{{ 'storage-pool-utilization' | translate}}</h3>
                <div class="dataviz">
                    <threshold-visualization ng-model="poolDataModel"></threshold-visualization>
                </div>
        </div>
        <div class="tile quarter">
            <hsa-array-polar-data-visualization class="utilization dataviz-legend"
                                            ng-model="summaryModel.arrayDataVisualizationModel"
                                            no-break-down="summaryModel.noBreakdown">
            </hsa-array-polar-data-visualization>
        </div>
    </div>
    <div class="container-fluid resource-detail tiles-view" ng-if="poolDataModel.type==='HDT'">
        <div class="resource-row">
            <div class="nested-tiles-meta-tile">

                <div class="tile meta-tile">
                    <div class="label-value-container resource-data">
                        <h2>{{'storage-pool-tier-information'|translate}}</h2>
                        <p class="label">{{ 'storage-pool-tiering-mode' | translate}}</p>
                        <p class="value">{{poolDataModel.tieringMode}}</p>
                        <p class="label">{{ 'storage-pool-monitoring-mode' | translate}}</p>
                        <p class="value">{{poolDataModel.monitoringMode}}</p>
                    </div>
                </div>

                <div ng-repeat="item in summaryModel.dataVisualizationModel.items" class="tile tier-tile">
                    <div>
                        <div class="title-row">
                            <span class="icon icon-md icon-tier"></span>
                            <h3>{{item.tierName}}</h3>
                        </div>
                        <div class="tile-row resource-info">
                            <div class="data-viz-column">
                                <h4>{{'pool-buffer-space'|translate}}</h4>
                                <div class="data-viz bar">
                                    <p class="label">{{'pool-new-page-assignment'|translate}} {{item.bufferSpace.newPageAssignment.value}}</p>
                                    <percentage-bar class="data-viz bar" ng-model="item.newPageAssignment"></percentage-bar>
                                </div>
                                <div class="data-viz bar">
                                    <p class="label">{{'pool-tier-relocation'|translate}}</p>
                                    <percentage-bar class="bdv" ng-model="item.tierRelocation"></percentage-bar>
                                </div>
                                <h4>{{'pool-performance-utilization'|translate}}</h4>
                                <div class="data-viz bar">
                                    <percentage-bar class="bdv" ng-model="item.performanceUtilization"></percentage-bar>
                                </div>
                            </div>

                            <div class="data-viz-column">
                                <h4>{{'storage-pool-tier-capacity'|translate}}</h4>
                                <div>
                                    <polar-data-visualization class="utilization"
                                                              ng-model="item"></polar-data-visualization>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid resource-detail tiles-view" ng-if="poolDataModel.showCompressionDetails() || poolDataModel.showFmcDetails()">
        <div class="resource-row">
            <div class="tile meta-tile half" ng-if="!poolDataModel.showCompressionDetails()">
                <div class="alert alert-info" role="alert">
                    <h3>{{'storage-pool-dedup-comp-not-configured' | translate}}</h3>
                </div>
            </div>

            <div class="tile meta-tile half" ng-if="poolDataModel.showCompressionDetails()">
                <div ng-if="totalEfficiencyModel === undefined">
                    <div class="two-column-header-row">
                        <h2>{{'storage-pool-dkc_compression' | translate }}</h2>
                    </div>

                    <div class="tile-row nested-tiles">
                        <div class="tile third">
                            <h4 class="label">{{'storage-pool-compression-ratio' | translate }}</h4>
                            <div class="tile-row data-viz-container">
                                <ratio-data-visualization ng-model="poolDataModel.compressionRatioProportion"></ratio-data-visualization>
                            </div>
                        </div>
                        <div class="tile third">
                            <h4 class="label">{{'storage-pool-deduplication-ratio' | translate }}</h4>
                            <div class="tile-row data-viz-container">
                                <ratio-data-visualization ng-model="poolDataModel.deduplicationRatioProportion">
                                </ratio-data-visualization>
                            </div>
                        </div>
                    </div>
                    <div class="tile-row footer-row">
                        <h4 class="label">{{'storage-pool-savings-percentage' | translate }}</h4>
                        <div class="data-viz bar">
                            <usage-indicator-bar-2 class="data-viz-container" ng-model="poolDataModel.savingsPercentageBar"></usage-indicator-bar-2>
                        </div>
                    </div>
                </div>

                <div ng-if="totalEfficiencyModel !== undefined && softwareSavingRate !== undefined">
                    <div class="two-column-header-row">
                        <h2>{{ 'total-efficiency-software-saving' | translate }}</h2>
                    </div>

                    <div class="meta-tile-tile half">
                        <div class="tile-row footer-row">
                            <h4 class="label">{{'total-efficiency-software-total-savings-ratio' | translate }}</h4>
                            {{ softwareSavingRate.totalSoftwareSavingRate | default }}
                        </div>

                        <div class="tile-row nested-tiles">
                            <div class="tile third">
                                <h4 class="label">{{'total-efficiency-software-compression-ratio' | translate }}</h4>
                                <div ng-if="softwareSavingRate.compressionRate" class="tile-row data-viz-container">
                                    <ratio-data-visualization ng-model="softwareSavingRate.compressionRate">
                                    </ratio-data-visualization>
                                </div>
                                <p ng-if="!softwareSavingRate.compressionRate">-</p>
                            </div>
                            <div class="tile third">
                                <h4 class="label">{{'total-efficiency-software-deduplication-ratio' | translate }}</h4>
                                <div ng-if="softwareSavingRate.deduplicationRate" class="tile-row data-viz-container">
                                    <ratio-data-visualization ng-model="softwareSavingRate.deduplicationRate">
                                    </ratio-data-visualization>
                                </div>
                                <p ng-if="!softwareSavingRate.deduplicationRate">-</p>
                            </div>
                            <div class="tile third">
                                <h4 class="label">{{'total-efficiency-software-pattern-matching-ratio' | translate }}</h4>
                                <div ng-if="softwareSavingRate.patternMatchingRate" class="tile-row data-viz-container">
                                    <ratio-data-visualization ng-model="softwareSavingRate.patternMatchingRate">
                                    </ratio-data-visualization>
                                </div>
                                <p ng-if="!softwareSavingRate.patternMatchingRate">-</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile meta-tile half" ng-if="!poolDataModel.showFmcDetails()">
                <div class="alert alert-info" role="alert">
                    <h3>{{'storage-pool-dc2-compression-not-configured' | translate}}</h3>
                </div>
            </div>
            <div class="tile meta-tile half" ng-if="poolDataModel.showFmcDetails()">
                <div class="two-column-header-row">
                    <h2 ng-if="totalEfficiencyModel === undefined">{{ 'storage-pool-compression' | translate }}</h2>
                    <h2 ng-if="totalEfficiencyModel !== undefined">{{ 'total-efficiency-fmd-saving' | translate }}</h2>
                    <p>{{ 'storage-pool-compressed-parity-group-ids' | translate}}
                        <span ng-repeat="parityGroup in poolDataModel.compressedParityGroups track by $index">{{parityGroup.id}}<span
                                class="icon icon-sm icon-password" ng-if="parityGroup.encryption"
                                title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </p>
                </div>

                <div class="tile-row columns">
                    <div class="meta-tile-tile half">

                        <div ng-if="totalEfficiencyModel === undefined">
                            <div class="tile-row nested-tiles">
                                <div class="tile third">
                                    <h4 class="label">{{'storage-pool-compression-ratio' | translate }}</h4>
                                    <div class="tile-row data-viz-container">
                                        <ratio-data-visualization ng-model="poolDataModel.fmcCompressionRatio">
                                        </ratio-data-visualization>
                                    </div>
                                </div>
                                <div class="tile third">
                                    <h4 class="label">{{'storage-pool-expansion-ratio' | translate }}</h4>
                                    <div class="tile-row data-viz-container">
                                        <ratio-data-visualization ng-model="poolDataModel.fmcExpansionRatio">
                                        </ratio-data-visualization>
                                    </div>
                                </div>
                            </div>
                            <div class="tile-row footer-row">
                                <h4 class="label">{{'storage-pool-savings-percentage' | translate }}</h4>
                                <div class="data-viz bar">
                                    <usage-indicator-bar-2 class="data-viz-container" ng-model="poolDataModel.fmcSavingsPercentageBar">
                                    </usage-indicator-bar-2>
                                </div>
                            </div>
                        </div>

                        <div ng-if="totalEfficiencyModel !== undefined && fmdSavingRate !== undefined">
                            <div class="meta-tile-tile half">
                                <div class="tile-row footer-row">
                                    <h4 class="label">{{'total-efficiency-fmd-total-savings-ratio' | translate }}</h4>
                                    {{ fmdSavingRate.totalFmdSavingRate | default }}
                                </div>

                                <div class="tile-row nested-tiles">
                                    <div class="tile third">
                                        <h4 class="label">{{'total-efficiency-fmd-compression-ratio' | translate }}</h4>
                                        <div ng-if="fmdSavingRate.compressionRate" class="tile-row data-viz-container">
                                            <ratio-data-visualization ng-model="fmdSavingRate.compressionRate">
                                            </ratio-data-visualization>
                                        </div>
                                        <p ng-if="!fmdSavingRate.compressionRate">-</p>
                                    </div>
                                    <div class="tile third">
                                        <h4 class="label">{{'total-efficiency-fmd-pattern-matching-ratio' | translate }}</h4>
                                        <div ng-if="fmdSavingRate.patternMatchingRate" class="tile-row data-viz-container">
                                            <ratio-data-visualization ng-model="fmdSavingRate.patternMatchingRate">
                                            </ratio-data-visualization>
                                        </div>
                                        <p ng-if="!fmdSavingRate.patternMatchingRate">-</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tile ddv-container">
                        <h4 class="label">{{'storage-pool-logical-capacity' | translate }}</h4>
                        <div class="tile-row data-viz-container">
                            <polar-data-visualization class="utilization-data-viz udv"
                                                      ng-model="poolDataModel.fmcCapacityData.item"></polar-data-visualization>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="container-fluid resource-detail tiles-view" ng-if="poolDataModel.showCompressionDetails()">-->
        <!--<div class="resource-row">-->
            <!--<div class="tile meta-tile third row-parent">-->
                <!--<div class="row10 row-col-margin">-->
                    <!--<h2>Compression</h2>-->
                <!--</div>-->
                <!--<div class="row90 row-parent">-->
                    <!--<div class="row60 col-parent">-->
                        <!--<div class="col50 row-parent">-->
                            <!--<h4 class="row-col-margin">Compression Ratio</h4>-->
                            <!--<ratio-data-visualization class="row-col-margin"-->
                                                      <!--ng-model="poolDataModel.compressionRatioProportion"></ratio-data-visualization>-->
                        <!--</div>-->
                        <!--<div class="col50 row-parent">-->
                            <!--<h4 class="row-col-margin">Deduplication Ratio</h4>-->
                            <!--<ratio-data-visualization class="row-col-margin"-->
                                                      <!--ng-model="poolDataModel.deduplicationRatioProportion"></ratio-data-visualization>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row10 row-parent">-->
                        <!--<h4 class="row-col-margin">Savings Percentage</h4>-->
                        <!--<div class="data-viz bar row-col-margin">-->
                            <!--<usage-indicator-bar-2 class="data-viz-container"-->
                                                   <!--ng-model="poolDataModel.savingsPercentageBar"></usage-indicator-bar-2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tile meta-tile half row-parent" ng-if="poolDataModel.showFmcDetails()">-->
                <!--<div class="row10 row-col-margin two-column-header-row">-->
                    <!--<h2>FMD DC2 Compression</h2>-->
                    <!--<p>{{ 'storage-pool-compressed-parity-group-ids' | translate}}-->
                        <!--<span ng-repeat="parityGroup in poolDataModel.compressedParityGroups track by $index">{{parityGroup.id}}<span-->
                                <!--class="icon icon-sm icon-password" ng-if="parityGroup.encryption"-->
                                <!--title="{{ 'storage-pool-encrypted' | translate }}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="row90 col-parent">-->
                    <!--<div class="col66 row-parent">-->
                        <!--<div class="row60 col-parent">-->
                            <!--<div class="col50 row-parent">-->
                                <!--<h4 class="row-col-margin">Compression Ratio</h4>-->
                                <!--<ratio-data-visualization class="row-col-margin"-->
                                                          <!--ng-model="poolDataModel.fmcCompressionRatio"></ratio-data-visualization>-->
                            <!--</div>-->
                            <!--<div class="col50 row-parent">-->
                                <!--<h4 class="row-col-margin">Expansion Ratio</h4>-->
                                <!--<ratio-data-visualization class="row-col-margin"-->
                                                          <!--ng-model="poolDataModel.fmcExpansionRatio"></ratio-data-visualization>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row10 row-parent">-->
                            <!--<h4 class="row-col-margin">Savings Percentage</h4>-->
                            <!--<div class="data-viz bar row-col-margin">-->
                                <!--<usage-indicator-bar-2 class="data-viz-container"-->
                                                       <!--ng-model="poolDataModel.fmcSavingsPercentageBar"></usage-indicator-bar-2>-->
                            <!--</div>-->
                        <!--</div>-->


                    <!--</div>-->
                    <!--<div class="col33 row-parent">-->
                        <!--<h4 class="row-col-margin row10">Logical Capacity</h4>-->
                        <!--<polar-data-visualization class="row70"-->
                                                  <!--ng-model="poolDataModel.fmcCapacityData.item"></polar-data-visualization>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <inventory-page ng-model="dataModel"
                    filter-model="filterModel"
                    list-count-summary-title="storage-volumes-showing-x-of-y"
                    filter-template="views/inventory-templates/storage-volumes-filter.html">
    </inventory-page>
</div>
