<common-page-header></common-page-header>
<div class="container-fluid wizard">
<page-loading-indicator ng-if="vm.showIndicator && !pageErrors"></page-loading-indicator>
<form novalidate ng-submit="payload.submit()">
            <!--Wizard header-->

            <div class="wizard-header">
                <div class="col-lg-1 col-md-1 hidden-sm">
                    <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg"></button>
                </div>
                <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <span class="icon icon-settings icon-xlg"></span>

                    <h1 class="wizard-title">{{ 'storage-system-settings' | translate}}</h1>
                </div>
            </div>

            <!--Wizard advanced stepper-->
            <div class="wizard-body multi-step" role="tabpanel">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" ng-class="vm.steps[0].status" ng-click="vm.activateCertainStep(0)"
                            ng-class="{vm.steps[0].status}">
                        <a>
                            <span class="icon icon-xlg" ng-class="vm.steps[0].iconStep"></span>
                            <span class="step-title">Common</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="vm.steps[1].status" ng-click="vm.activateCertainStep(1)"
                        ng-class="{vm.steps[1].status}">
                        <a>
                            <span class="icon icon-xlg" ng-class="vm.steps[1].iconStep"></span>
                            <span class="step-title">Time-Zone</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="vm.steps[2].status" ng-click="vm.activateCertainStep(2)"
                        ng-class="{vm.steps[2].status}">
                        <a>
                            <span class="icon icon-xlg" ng-class="vm.steps[2].iconStep"></span>
                            <span class="step-title">Licenses</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="vm.steps[3].status" ng-click="vm.activateCertainStep(3)"
                        ng-class="{vm.steps[3].status}">
                        <a>
                            <span class="icon icon-xlg" ng-class="vm.steps[3].iconStep"></span>
                            <span class="step-title">Notification</span>
                        </a>
                    </li>
                </ul>

                <!--Multi-step wizard panel-->
                <div class="tab-content">
                    <!--Tab panel 1-->
                    <div role="tabpanel" class="tab-pane fade" ng-class="vm.steps[0].content" id="step1">
                       
                            <div class="scroll-wizard-container single-pane">
                                <form role="form" class="solo">
                                    <div class="form-group form-group-lg solo">
                                        <label>{{'isw-common-settings-name' | translate }}</label>
                                        <input ng-model="vm.commonSettings.storageSystemName" type="text"
                                               value="{{vm.commonSettings.storageSystemName}}" name="name"
                                               class="form-control"
                                               required tabindex="1">
                                    </div>
                                </form>
                                <div class="row section">
                                    <form role="form" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-horizontal">
                                        <div class="form-group form-group-lg">
                                            <label>{{'isw-common-settings-contact' | translate }}</label>
                                            <input ng-model="vm.commonSettings.contact"
                                                   type="text" value="{{vm.commonSettings.contact}}" name="contact"
                                                   class="form-control"
                                                   required tabindex="3">
                                        </div>
                                    </form>
                                    <form role="form" class="col-lg-7 col-md-7 col-sm-12 col-xs-12 form-horizontal">
                                        <div class="form-group form-group-lg">
                                            <label>{{'isw-common-settings-location' | translate }}</label>
                                            <input ng-model="vm.commonSettings.location"
                                                   type="text" value="{{vm.commonSettings.location}}" name="location"
                                                   class="form-control"
                                                   required tabindex="4">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        
                    </div>
                    <!--Tab panel 2-->
                    <div role="tabpanel" class="tab-pane fade" ng-class="vm.steps[1].content" id="step2">
                        <div class="work-panel">
                            <div class="container-fluid">
                                <form role="form" class="solo">
                                    <label>Time Zone</label>
                                    <select class="form-control"
                                            ng-model="vm.selected" ng-options="opt.display for opt in vm.timeZones"
                                            ng-change="vm.updateDisplayTime()">
                                    </select>
                                </form>
                                <form role="form" class="solo">
                                    <label>Date Time: </label>
                                    <div class="tile row row-tile">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control">
                                            <p class="input-group">
                                                <input type="text" class="form-control" datepicker-popup="shortDate"
                                                       ng-model="vm.dt" is-open="vm.opened" min-date="minDate"
                                                       max-date="''"
                                                       datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)"
                                                       ng-required="true" close-text="Close"/>
                                                <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i
                                                              class="caret"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cell control">
                                            <timepicker ng-model="vm.dt"
                                                        readonly-input="false"
                                                        minute-step="1"></timepicker>
                                        </div>
                                    </div>
                                </form>
                                <form role="form" class="solo">
                                    <label>NTP Servers: </label>
                                    <input ng-model="vm.ntpServers" type="text" value="{{vm.ntpServers}}" name="contact"
                                           class="form-control"
                                           required tabindex="3">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Tab panel 3-->
                    <div role="tabpanel" class="tab-pane fade" ng-class="vm.steps[2].content" id="step3">
                       <div class="header-row">
                                    <h2>Licenses</h2>
                                </div>
                            <div class="scroll-wizard-container single-pane">
                                
                                <div class="tile-view list-view">
                                    <!--Header Row-->
                                    <div class="tile row row-tile column-headers">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell" ng-click="vm.sortItems()">
                                            <sort-column-header field="productName" label="Product Name"
                                                                ng-model="vm.sort"></sort-column-header>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cell" ng-click="vm.sortItems()">
                                            <sort-column-header field="status" label="Status"
                                                                ng-model="vm.sort"></sort-column-header>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell" ng-click="vm.sortItems()">
                                            <sort-column-header field="licenseCapacity" label="Info"
                                                                ng-model="vm.sort"></sort-column-header>
                                        </div>
                                    </div>
                                    <!--Standard Row-->
                                    <div class="tile row row-tile" ng-repeat="license in vm.licenseModel">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell control">
                                            <p>{{license.productName}}</p>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cell control">
                                            <p>{{license.status}}</p>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cell control">
                                            <p>{{license.licenseCapacity}}</p>
                                        </div>
                                    </div>
                                </div>
                                <form role="form" class="solo">
                                    <label>License Keys</label>
                                    <input ng-model="vm.licenseKeys" type="text" value="{{vm.licenseKeys}}" name="contact"
                                           class="form-control"
                                           required tabindex="3">
                                </form>
                            </div>
                        
                    </div>
                    <!--Tab panel 4-->
                    <div role="tabpanel" class="tab-pane fade" ng-class="vm.steps[3].content" id="step4">
                        <div class="work-panel">
                            <div class="scroll-wizard-container single-pane">
                                <div class="header-row">
                                    <h2>Email Address</h2>
                                </div>
                                <div class="tile-view list-view">
                                    <!--Header Row-->
                                    <div class="tile row row-tile column-headers">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell">
                                            <a class="sort-column-header">From</a>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cell">
                                            <a class="sort-column-header">Recipients</a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell">
                                            <a class="sort-column-header">Mail Server</a>
                                        </div>
                                    </div>
                                    <!--Standard Row-->
                                    <div class="tile row row-tile">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cell control">
                                            <input ng-model="vm.email.from" type="text" value="{{vm.email.from}}"
                                            class="form-control text inline" name=""
                                            title="From">
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cell control">
                                            <input ng-model="vm.email.recipients" type="text" value="{{vm.email.recipients}}"
                                                   class="form-control text inline" name=""
                                                   title="Recipients">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cell control">
                                            <input ng-model="vm.email.mailServer" type="text" value="{{vm.email.mailServer}}"
                                            class="form-control text inline" name=""
                                            title="Mail Server">
                                        </div>
                                    </div>
                                </div>

                                <div class="tile-view list-view">
                                    <div class="header-row">
                                        <h2>SMTP</h2>
                                    </div>
                                    <div class="tile row row-tile column-headers">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cell">
                                            <a class="sort-column-header">Username</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cell">
                                            <a class="sort-column-header">Password</a>
                                        </div>
                                    </div>
                                    <div class="tile row row-tile">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cell control">
                                            <input ng-model="vm.smtp.username" type="text" value="{{vm.smtp.username}}"
                                                   class="form-control text inline" name=""
                                                   title="Username">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cell control">
                                            <input ng-model="vm.smtp.password" type="password" value="{{vm.smtp.password}}"
                                                   class="form-control text inline" name=""
                                                   title="Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="tile-view list-view">
                                    <div class="header-row">
                                        <h2>SNMP</h2>
                                    </div>
                                    <div class="tile row row-tile column-headers">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cell" ng-click="vm.sortItems()">
                                            <sort-column-header field="community" label="Community String"
                                                                ng-model="vm.sort"></sort-column-header>
                                            <!--<a class="sort-column-header">Community String <span-->
                                                    <!--class="caret"></span></a>-->
                                        </div>
                                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5 cell" ng-click="vm.sortItems()">
                                            <!--<a class="sort-column-header">IP Address <span-->
                                                    <!--class="caret"></span></a>-->
                                            <sort-column-header field="ipAddress" label="IP Address"
                                                                ng-model="vm.sort"></sort-column-header>
                                        </div>
                                    </div>
                                    <div class="tile row row-tile"
                                         ng-repeat="trapDestination in vm.snmp.trapDestinations">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cell control">
                                            <input ng-model="trapDestination.community" type="text" value="{{trapDestination.community}}"
                                                   class="form-control text inline" name=""
                                                   title="Community String"
                                                   style="text-transform: uppercase">
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cell control">
                                            <input ng-model="trapDestination.ipAddress" type="text" value="{{trapDestination.ipAddress}}"
                                                   class="form-control text inline" name=""
                                                   title="Ip Address">
                                        </div>
                                        <div ng-show="$index === vm.snmp.trapDestinations.length - 1"
                                             class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell control">
                                            <button ng-click="vm.addNewTrapDest()" class="btn icon-btn icon-sm icon-add"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Fixed footer-->
            <div class="row navbar-fixed-bottom footer-container">
                <div class="wizard-footer">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                            <button ng-click="vm.cancel()" type="button" class="btn btn-default" type="button" id="cancel" title="cancel">
                                Cancel
                            </button>
                            <button ng-click="vm.activatePrevStep()" ng-class="vm.prevClass" type="button"
                                    class="btn btn-default" type="button" id="prev" title="Previous">
                                Previous
                            </button>
                            <button ng-click="vm.activateStep()" type="button"
                                    class="btn btn-default" ng-class="vm.nextClass" type="button" id="next"
                                    ng-disabled="vm.checkCurrentPageInvalid()"
                                    title="Next">
                                Next
                            </button>
                            <button ng-disabled="vm.checkCurrentPageInvalid()" ng-click="vm.submit()" type="button" class="btn btn-default" type="button" id="submit"
                                    title="submit">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>