<common-page-header></common-page-header>
<wizard-page>
    <div class="container-fluid wizard">
        <div class="row wizard-header">
            <div class="col-lg-1 col-md-1 hidden-sm">
                <button type="button" class="btn icon-btn icon-carousel-left-arrow icon-lg" back-button></button>
            </div>
            <div class="wizard-title-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <span class="icon icon-unprotected-volume icon-xlg"></span>
                <h1 class="wizard-title">{{title}}</h1>
            </div>
        </div>
        <div class="wizard-body">
            <div class="header-row" ng-if="dataModel.replicationGroups.length">
                <h2>{{'replication-group-remove-secondary-volume-message' | translate}}</h2>
            </div>
            <div class="scroll-wizard-container single-pane">
                <div class="tile-view list-view" ng-if="!dataModel.replicationGroups.length">
                    <div class="alert alert-warning" role="alert">
                        <h1>{{'no-available-replication-group' | translate}}</h1>
                    </div>
                </div>
                <div class="tile-view list-view" ng-if="dataModel.replicationGroups.length">
                    <!--Header Row-->
                    <div class="tile row row-tile column-headers">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis">
                                &nbsp;
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis">
                                <sort-column-header field="name" label="{{'replication-group-label-policy-name' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis">
                                <sort-column-header field="type" label="{{'replication-group-label-technology' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis">
                                <sort-column-header field="consistent" label="{{'replication-group-label-consistency' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis">
                                <sort-column-header field="numberOfCopies" label="{{'replication-group-label-backups' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis">
                                <sort-column-header field="status" label="{{'replication-group-label-status' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis">
                                <sort-column-header field="naturalLanguageSchedule" label="{{'replication-group-label-schedule' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis">
                                <sort-column-header field="comments" label="{{'replication-group-label-comments' | translate}}"
                                                    ng-model="dataModel.sort"></sort-column-header>
                            </div>
                    </div>
                    <!--Standard Row-->
                    <div class="tile row row-tile" ng-repeat="rg in dataModel.displayList">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis">
                                <label class="btn icon-btn checkbox" ng-click="rg.selected = !rg.selected ; canSubmit()"
                                       ng-class="{'active' : rg.selected}">
                                </label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis" title="{{rg.name}}">
                                <p>{{rg.name}}</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis" title="{{rg.type}}">
                                <p>{{rg.type}}</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis" title="{{rg.consistent}}">
                                <p>{{rg.consistent}}</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cell ellipsis" title="{{rg.numberOfCopies}}">
                                <p>{{rg.numberOfCopies}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis" title="{{rg.status}}">
                                <p>{{rg.status}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis" title="{{rg.naturalLanguageSchedule}}">
                                <p>{{rg.naturalLanguageSchedule}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cell ellipsis" title="{{rg.comments}}">
                                <p>{{rg.comments}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fixed footer-->
        <div class="row navbar-fixed-bottom footer-container">
            <div class="wizard-footer">
                <div class="btn-toolbar" role="toolbar">
                    <div data-toggle="buttons" class="checkbox-label">
                        <label class="btn icon-btn checkbox" ng-click="dataModel.deleteSecondaryVolume = !dataModel.deleteSecondaryVolume"
                               ng-class="{'active' : dataModel.deleteSecondaryVolume}">
                                <input type="checkbox">
                        </label>
                        <p>Delete the associated secondary volumes</p>
                    </div>
                    <div class="btn-group btn-group-confirm pull-right" role="confirm" id="confirmation">
                        <button type="button" class="btn btn-default" id="cancel" title="cancel" back-button>
                            {{'common-label-cancel' | translate}}
                        </button>
                        <button type="button" class="btn btn-default active" id="submit" title="submit"
                                ng-disabled="!dataModel.enableSubmitButton" ng-click="submitActions()">{{'common-label-submit' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wizard-page>